<div fxLayout="row wrap" fxLayoutAlign="center" id="centrecertificate">
    <app-responseloader *ngIf="loaderforpage"></app-responseloader>
    <div fxFlex.gt-sm="100" fxFlex="100">
        <!-- top paginator -->
        <div class="paginationwithfilter masterPageTop " fxLayout="row wrap">
            <mat-paginator class="masterPage masterPageTop" #paginator [length]="resultsLength"
                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="syncPrimaryPaginators($event);"></mat-paginator>
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button class="cancelbtn m-r-10" type="button" *ngIf="downloadaccess == true" (click)="exportData()">{{'invoice.export' | translate}}</button>
                    <button mat-raised-button type="button" color="primary" (click)="clickedEvent()"
                    class="filter fs-15">{{filtername}}<i class="opalicon opal-filter fs-15 m-l-7"
                    aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <!-- table -->
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100" class="tabforclientelenew">
                <div class="awaredtable">
                    <button mat-button [matMenuTriggerFor]="editcolumn" class="editcolumn">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
                        <mat-menu #editcolumn="matMenu" class="master-menu edit-column-menu">
                          <div class="table-config-menu-options" fxLayout="column">
                            <mat-checkbox #Allchkbox [(ngModel)]="selectAllchkbox"  (change)="selectAllitem($event)"> {{ 'All' | translate}}
                          </mat-checkbox>
                            <mat-checkbox 
                              *ngFor="let item of TechnicalListData; let i = index"
                              (click)="$event.stopPropagation()"
                              [(ngModel)]="item.showhide" #columnchkbox (change)="updateSelectAllshowhide(item)">
                              {{item.label | translate}}
                            </mat-checkbox>
                          </div>
                      </mat-menu>
                      </button>	
                    <mat-table #table class="scrolldata" (matSortChange)="announceSortChange($event)" [dataSource]="TechnicalData" matSort
                        matSortDisableClear>
                        <!-- column 1 -->
                        <ng-container matColumnDef="invoiceno">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.invonumb' | translate}}</mat-header-cell>
                            <mat-cell data-label="invoiceno" fxFlex="250px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                {{technicalEvaluationData.apid_invoiceno}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 2 -->
                        <ng-container matColumnDef="compannyname">
                            <mat-header-cell fxFlex="300px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.companyname' | translate}}</mat-header-cell>
                            <mat-cell data-label="compannyname" fxFlex="300px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{ ifarabic ? technicalEvaluationData.omrm_companyname_ar ? technicalEvaluationData.omrm_companyname_ar : '-' : technicalEvaluationData.omrm_companyname_en ? technicalEvaluationData.omrm_companyname_en : '-'}}   
                                </div> </mat-cell>
                        </ng-container>
                        <!-- column 3 -->
                        <ng-container matColumnDef="trainingprovider">
                            <mat-header-cell fxFlex="260px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.centrename' | translate}}</mat-header-cell>
                            <mat-cell data-label="trainingprovider" fxFlex="260px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{ ifarabic ? technicalEvaluationData.omrm_tpname_ar ? technicalEvaluationData.omrm_tpname_ar : '-' : technicalEvaluationData.omrm_tpname_en ? technicalEvaluationData.omrm_tpname_en : '-'}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 4 -->
                        <ng-container matColumnDef="officetype">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.offitype' | translate}}</mat-header-cell>
                            <mat-cell data-label="officetype" fxFlex="200px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.appiim_officetype ? technicalEvaluationData.appiim_officetype : '-' }}</div> </mat-cell>
                        </ng-container>
                        <!-- column 5 -->
                        <ng-container matColumnDef="branchname">
                            <mat-header-cell fxFlex="270px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.branchname' | translate}}</mat-header-cell>
                            <mat-cell data-label="branchname" fxFlex="270px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{ ifarabic ? technicalEvaluationData.appiim_branchname_ar ? technicalEvaluationData.appiim_branchname_ar : '-' : technicalEvaluationData.appiim_branchname_en ? technicalEvaluationData.appiim_branchname_en : '-'}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 6 -->
                        <ng-container matColumnDef="opalmember">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.opalmemb' |
                                translate}}</mat-header-cell>
                            <mat-cell data-label="opalmember" fxFlex="250px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.omrm_opalmembershipregnumber ? technicalEvaluationData.omrm_opalmembershipregnumber : '-'}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 7 -->
                        <ng-container matColumnDef="projectname">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.projname' |
                                translate}}</mat-header-cell>
                            <mat-cell data-label="projectname" fxFlex="250px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{ ifarabic ? technicalEvaluationData.pm_projectname_ar ? technicalEvaluationData.pm_projectname_ar : '-' : technicalEvaluationData.pm_projectname_en ? technicalEvaluationData.pm_projectname_en : '-'}}</div></mat-cell>
                        </ng-container>
                        <!-- column 8 -->
                        <ng-container matColumnDef="fsm_feestype">
                            <mat-header-cell fxFlex="230px" mat-header-cell
                                *matHeaderCellDef mat-sort-header>{{'invoice.fee' |translate}}</mat-header-cell>
                            <mat-cell data-label="fsm_feestype" fxFlex="230px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    <p>{{technicalEvaluationData.fsm_feestype ? technicalEvaluationData.fsm_feestype : '-'}}</p> 
                                    <p>({{technicalEvaluationData.fsm_applicationtype ? technicalEvaluationData.fsm_applicationtype : '-'}})</p>
                                </div></mat-cell>
                        </ng-container>
                        <!-- column 9 -->
                        <ng-container matColumnDef="apid_noofstaffeval">
                            <mat-header-cell fxFlex="190px" mat-header-cell
                                *matHeaderCellDef mat-sort-header>{{'invoice.nostaff' |translate}}</mat-header-cell>
                            <mat-cell data-label="apid_noofstaffeval" fxFlex="190px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                {{ technicalEvaluationData.apid_noofstaffeval ? technicalEvaluationData.apid_noofstaffeval : '0'}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 10 -->
                        <ng-container matColumnDef="invoiceamount">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.invoamount' |
                                translate}}</mat-header-cell>
                            <mat-cell data-label="invoiceamount" fxFlex="200px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.total | number: '.3-3' || '-'}}</div> </mat-cell>
                        </ng-container>
                        <!-- column 11 -->
                        <ng-container matColumnDef="paymentstatus">
                            <mat-header-cell fxFlex="280px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.status' |
                                translate}}</mat-header-cell>
                            <mat-cell data-label="paymentstatus" fxFlex="280px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    <span class="receive" [ngClass]="{'liteorange':technicalEvaluationData.apid_invoicestatus === 'Pending', 'blue':technicalEvaluationData.apid_invoicestatus === 'Paid - Verification Pending', 'green':technicalEvaluationData.apid_invoicestatus === 'Approved', 'red':technicalEvaluationData.apid_invoicestatus === 'Declined'}">{{technicalEvaluationData.apid_invoicestatus ? technicalEvaluationData.apid_invoicestatus : '-'}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- column 12 -->
                        <ng-container matColumnDef="paymenttype">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.paymtype' |
                                translate}}</mat-header-cell>
                            <mat-cell data-label="paymenttype" fxFlex="200px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.apid_paymenttype ? technicalEvaluationData.apid_paymenttype : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- column 13 -->
                        <ng-container matColumnDef="invoicedate">
                            <mat-header-cell fxFlex="263px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'invoice.invodate' | translate}}
                            </mat-header-cell>
                            <mat-cell data-label="invoicedate" fxFlex="263px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.invdate ? technicalEvaluationData.invdate : '-'}}
                                </div></mat-cell>
                        </ng-container>
                        <!-- column 14 -->
                        <ng-container matColumnDef="invoiceage">
                            <mat-header-cell fxFlex="150px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>
                                {{'invoice.invoage' | translate}} </mat-header-cell>
                            <mat-cell data-label="invoiceage" fxFlex="150px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.agedate ? technicalEvaluationData.agedate : '-'}}
                                <span *ngIf="technicalEvaluationData.agedate"> days</span>
                                </div></mat-cell>
                        </ng-container>
                        <!-- column 15 -->
                        <ng-container matColumnDef="paymentdate">
                            <mat-header-cell fxFlex="263px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>
                                {{'invoice.paydate' | translate}} </mat-header-cell>
                            <mat-cell data-label="paymentdate" fxFlex="263px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                    {{technicalEvaluationData.pymtdate ? technicalEvaluationData.pymtdate : '-'}}
                                </div> </mat-cell>
                        </ng-container>
                       <!-- column 16 -->
                        <ng-container matColumnDef="action" stickyEnd>
                            <mat-header-cell fxFlex="125px" mat-header-cell
                                *matHeaderCellDef>{{'invoice.action'
                                | translate}}
                            </mat-header-cell>
                            <mat-cell data-label="action" fxFlex="125px"
                                *matCellDef="let technicalEvaluationData">
                                <div *ngIf="trainingtableload" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!trainingtableload"> 
                                <div class="manageoptions">
                                    <span type="button" style="cursor: pointer;" class="blue" *ngIf="readaccess == true" (click)="view(technicalEvaluationData.apppytminvoicedtls_pk)">{{'invoice.view' | translate}}</span>
                                </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- column 1 -->
                        <ng-container matColumnDef="row-first">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="invoice_no" (keyup)="searchCenterCert($event.target.value,'invoice_no')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- colun 2 -->
                        <ng-container matColumnDef="row-second">
                            <mat-header-cell fxFlex="300px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="company_name" (keyup)="searchCenterCert($event.target.value,'company_name')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 3 -->
                        <ng-container matColumnDef="row-three">
                            <mat-header-cell fxFlex="260px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="training_provider" (keyup)="searchCenterCert($event.target.value,'training_provider')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 4 -->
                        <ng-container matColumnDef="row-four">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' | translate}}</mat-label>
                                    <mat-select [formControl]="office_type" multiple (selectionChange)="mltiSelectSearch($event,'office_type')">
                                        <mat-option value="1">{{'invoice.main' |translate}}</mat-option>
                                        <mat-option value="2">{{'invoice.branch' |translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 5 -->
                        <ng-container matColumnDef="row-five">
                            <mat-header-cell fxFlex="270px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="bran_name" (keyup)="searchCenterCert($event.target.value,'bran_name')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 6 -->
                        <ng-container matColumnDef="row-six">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="opal_membership" (keyup)="searchCenterCert($event.target.value,'opal_membership')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 7 -->
                        <ng-container matColumnDef="row-seven">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'invoice.search' |translate}}</mat-label>
                                    <input matInput [formControl]="project_name" (keyup)="searchCenterCert($event.target.value,'project_name')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- comlumn 8 -->
                        <ng-container matColumnDef="row-eight">
                            <mat-header-cell fxFlex="230px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' | translate}}</mat-label>
                                    <mat-select [formControl]="Fee_type" multiple (selectionChange)="mltiSelectSearch($event,'Fee_type')">
                                        <mat-option value="1">{{'Certification Fee (Initial)' | translate }}</mat-option>
                                        <mat-option value="2">{{'Certification Fee (Renewal)' | translate }}</mat-option>
                                    </mat-select> 
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 9 -->
                        <ng-container matColumnDef="row-nine">
                            <mat-header-cell fxFlex="190px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' | translate}}</mat-label>
                                    <mat-select [formControl]="noof_staff" multiple (selectionChange)="mltiSelectSearch($event,'noof_staff')">
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="10">10</mat-option>
                                        <mat-option value="20">20</mat-option>
                                        <mat-option value="30">30</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 10 -->
                        <ng-container matColumnDef="row-ten">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">

                            </mat-header-cell>
                        </ng-container>
                        <!-- column 11 -->
                        <ng-container matColumnDef="row-eleven">
                            <mat-header-cell fxFlex="280px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' | translate}}</mat-label>
                                    <mat-select [formControl]="pay_status" multiple (selectionChange)="mltiSelectSearch($event,'pay_status')">
                                        <mat-option value="1">{{'invoice.pending' |translate}}</mat-option>
                                        <mat-option value="2">{{'Paid - Verification Pending' |translate}}</mat-option>
                                        <mat-option value="3">{{'invoice.appr' |translate}}</mat-option>
                                        <mat-option value="4">{{'Declined' |translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 12 -->
                        <ng-container matColumnDef="row-twelve">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' |translate}}</mat-label>
                                    <mat-select [formControl]="pay_type" multiple (selectionChange)="mltiSelectSearch($event,'pay_type')">
                                        <mat-option value="1">{{'invoice.online' |translate}}</mat-option>
                                        <mat-option value="2">{{'invoice.offline' |translate}}</mat-option>
                                        <!-- <mat-option value="2">{{'invoice.banktrans' |translate}}</mat-option>
                                        <mat-option value="3">{{'invoice.castdepo' |translate}}</mat-option>
                                        <mat-option value="4">{{'invoice.check' |translate}}</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 13 -->
                        <ng-container matColumnDef="row-thirteen">
                            <mat-header-cell fxFlex="263px" class="serachrow" *matHeaderCellDef
                            style="text-align:center">
                            <mat-form-field class="filter" appearance="outline">
                                <div class="drpicker" id="regapp">
                                    <input id="login_session" [formControl]="invoice_date" #datepicker matInput type="text" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true"  [showClearButton]="true" readonly class="form-control" (change)="dateClicked($event,'invoice_date')"/>
                                    <div class="closeanddateicon">
                                        <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
                                    </div>
                                   </div>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 14 -->
                        <ng-container matColumnDef="row-fourteen">
                            <mat-header-cell fxFlex="150px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <!-- <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' | translate}}</mat-label>
                                    <mat-select [formControl]="invoice_age" multiple (selectionChange)="mltiSelectSearch($event,'invoice_age')">
                                        <mat-option value="1">20 Days</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 15 -->
                        <ng-container matColumnDef="row-fifteen">
                            <mat-header-cell fxFlex="263px" class="serachrow" *matHeaderCellDef
                            style="text-align:center">
                            <mat-form-field class="filter" appearance="outline">
                                <div class="drpicker" id="regapp">
                                    <input id="login_session" [formControl]="payment_date" #pickers matInput type="text" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true"  [showClearButton]="true" readonly class="form-control" (change)="dateClicked($event,'payment_date')"/>
                                    <div class="closeanddateicon">
                                        <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
                                    </div>
                                   </div>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- column 16 -->
                        <ng-container matColumnDef="row-sixteen" stickyEnd>
                            <mat-header-cell fxFlex="125px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <i class="fa fa-refresh m-l-15 cursorview"
                                    (click)="clearFilter();filtersts=false;" aria-hidden="true"
                                    matTooltip="{{'Refresh' |translate}}"></i>
                            </mat-header-cell>
                        </ng-container>
                        <mat-header-row id="headerrowcells" *matHeaderRowDef="TechnicalListDatafun()">
                        </mat-header-row>
                        <mat-header-row id="searchrow"
                            *matHeaderRowDef="TechnicalListDatasear()">
                        </mat-header-row>
                        <mat-row mat-row *matRowDef="let row; columns: TechnicalListDatafun();"></mat-row>
                        <!-- no record -->
                        <!-- <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="11">
                                <div class="nofound" fxLayoutAlign="center" fxFlex.gt-sm="100"
                                    fxFlex="100">
                                    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                                        <div fxLayout="row wrap" fxLayoutAlign="center center"  *ngIf="trainingtableload"
                                        class="NorecordLoader"></div>
                                        <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!trainingtableload">
                                        <p class="m-t-10 txt-gry3 fs-16" *ngIf="!trainingtableload">{{'No Records' | translate}} 
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </ng-container> -->
                        <ng-container   matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="11">
                                <div class="nofound" fxLayoutAlign="center" fxFlex.gt-sm="100"
                                    fxFlex="100">
                                    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" >
                                        <div *ngIf="trainingtableload" fxLayout="row wrap" fxLayoutAlign="center center" 
                                        class="NorecordLoader"></div>
                                        <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!trainingtableload">
                                        <p class="m-t-10 txt-gry3 fs-16" *ngIf="!trainingtableload">{{'No Records' | translate}} 
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container>
                            <mat-footer-row [class.stickyclass]="(resultsLength > 0) ? 'none' : 'block'"  [style.display]="(resultsLength > 0) ? 'none' : 'block' "  *matFooterRowDef="['disclaimer']" style="justify-content: center">
                            </mat-footer-row>
                        </ng-container>
                    </mat-table>
                </div>
                <!-- footer paginator -->
                <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
                    <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator">
                        <mat-paginator class="p-r-10" ngClass.xs="block" ngClass.sm="block"
                            class="masterPage masterbottom " showFirstLastButtons
                            [pageSize]="paginator?.pageSize" (page)="syncPrimaryPaginators($event);"
                            [pageIndex]="paginator?.pageIndex" [length]="paginator?.length"
                            [pageSizeOptions]="paginator?.pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

