H1 {
	FONT-SIZE: 14pt; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7e8ff
}
H2 {
	FONT-SIZE: 15pt; MARGIN-BOTTOM: 0px; COLOR: #386890; FONT-FAMILY: Times New Romanserif
}
H3 {
	FONT-SIZE: 12pt; MARGIN-BOTTOM: 0px; COLOR: #386890; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 11pt; MARGIN-BOTTOM: 0px; COLOR: #386890; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bg {
	FONT-SIZE: 8px; FONT-FAMILY: Trebuchet MS; BACKGROUND-COLOR: #ffffff
}
.loginbg {
	BACKGROUND-COLOR: #ecf5ff
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; WORD-SPACING: 1px; COLOR: #000000; FONT-FAMILY: Verdana; POSITION: relative; HEIGHT: 20px; BACKGROUND-COLOR: #dedbff; TEXT-DECORATION: none
}
.tbheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Trebuchet MS; BACKGROUND-COLOR: #ebece8
}
.footer {
	FONT-SIZE: 11px; COLOR: #000000; BACKGROUND-COLOR: #dedbff; TEXT-ALIGN: center
}
.formtr {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; COLOR: #000080; PADDING-TOP: 1px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f3f4fe
}
.autocomp {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; COLOR: #000080; PADDING-TOP: 1px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
.whiteformtr {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; COLOR: #000080; PADDING-TOP: 1px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #414183; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #ffffff
}
.checkbox {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #fcf4ff; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #ffffff
}
.radio {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #414183; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #fcf4ff
}
.multibox {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #414183; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #fcf4ff
}
.select {
	WIDTH: 100px; COLOR: #414183; BACKGROUND-COLOR: #fcf4ff
}
.textbox {
	BORDER-RIGHT: #bbbbff 1px solid; BORDER-TOP: #bbbbff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #bbbbff 1px solid; COLOR: #000000; BORDER-BOTTOM: #bbbbff 1px solid; FONT-FAMILY: Verdana; zIndex: -100
}
.formtrhref {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #3050a0; FONT-FAMILY: Trebuchet MS; TEXT-DECORATION: none
}
.formtrhref:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
.formtrhref:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000080; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
.forwardmsg {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Trebuchet MS; BACKGROUND-COLOR: #d0d3d9
}
.total {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #c8ccd9
}
.status {
	FONT-WEIGHT: bold; COLOR: #ff0000; BACKGROUND-COLOR: #e9f0f8
}
.remark {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #0000ff
}
.date {
	FONT-WEIGHT: bold
}
.formtrhighlight {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #000080
}
.note {
	FONT-WEIGHT: bold; COLOR: #ff0000; BACKGROUND-COLOR: #e9f0f8
}
.formtrheader {
	FONT-WEIGHT: bold; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #98d0ff
}
.tbmiddleleft {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #dddfe8
}
.tbmiddleright {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #f7f7f9
}
.search {
	BACKGROUND-COLOR: #868eac
}
.rownum {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f2fbff
}
.loginheader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; WORD-SPACING: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana; POSITION: relative; HEIGHT: 20px; BACKGROUND-COLOR: #1c4c82; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.loginfooter {
	FONT-SIZE: 11px; COLOR: #ffffff; BACKGROUND-COLOR: #1c4c82; TEXT-ALIGN: center
}
.loginformtr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #414183; PADDING-TOP: 1px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ecf5ff
}
.m0l0iout {
	FONT-SIZE: 12px; MARGIN: 4px 0px 0px 8px; COLOR: #00049c; FONT-FAMILY: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica; TEXT-DECORATION: none
}
.m0l0iover {
	FONT-SIZE: 12px; MARGIN: 5px 0px 0px 8px; COLOR: #00049c; FONT-FAMILY: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica; TEXT-DECORATION: underline
}
.m0l0oout {
	BORDER-RIGHT: #5c5cff 1px solid; BORDER-TOP: #5c5cff 1px solid; BACKGROUND-IMAGE: url(../img/lev0_bg1.gif); BORDER-LEFT: #5c5cff 1px solid; BORDER-BOTTOM: #5c5cff 1px solid; BACKGROUND-COLOR: #b3b3ff; TEXT-DECORATION: none
}
.m0l0oover {
	BORDER-RIGHT: #5c5cff 1px solid; BORDER-TOP: #5c5cff 1px solid; BACKGROUND-IMAGE: url(../img/lev0_bg2.gif); BORDER-LEFT: #5c5cff 1px solid; BORDER-BOTTOM: #5c5cff 1px solid; BACKGROUND-COLOR: #b3b3ff; TEXT-DECORATION: none
}
.m0l1iout {
	FONT-SIZE: 12px; MARGIN: 4px 0px 0px 17px; COLOR: #00049c; FONT-FAMILY: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica
}
.m0l1iover {
	FONT-SIZE: 12px; MARGIN: 4px 0px 0px 17px; COLOR: #00049c; FONT-FAMILY: sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica
}
.m0l1oout {
	BORDER-RIGHT: #5c5cff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #5c5cff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #5c5cff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5c5cff 1px solid; BACKGROUND-COLOR: #cecfff; TEXT-DECORATION: none
}
.m0l1oover {
	BORDER-RIGHT: #5c5cff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #5c5cff 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../img/lev1_arrow.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #5c5cff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #5c5cff 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #e1e2ff; TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px; FONT: 12px Arial
}
A:active {
	FONT-SIZE: 12px; COLOR: #ff9900
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900
}
A:link {
	FONT-SIZE: 12px; COLOR: #336699
}
A:visited {
	FONT-SIZE: 12px; COLOR: #336699
}
A.topLinks:active {
	FONT-SIZE: 11px; COLOR: #003366
}
A.topLinks:hover {
	FONT-SIZE: 11px; COLOR: #003366
}
A.topLinks:link {
	FONT-SIZE: 11px; COLOR: #003366
}
A.topLinks:visited {
	FONT-SIZE: 11px; COLOR: orange
}
.topLinks {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
A.topMenu:active {
	FONT-SIZE: 12px; COLOR: white
}
A.topMenu:hover {
	FONT-SIZE: 12px; COLOR: white
}
A.topMenu:link {
	FONT-SIZE: 12px; COLOR: white
}
A.topMenu:visited {
	FONT-SIZE: 12px; COLOR: white
}
.topMenu {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial
}
.bottomLinks {
	LINE-HEIGHT: 100%; BACKGROUND-COLOR: #e6e6e6
}
A.depMenu:active {
	FONT-SIZE: 12px; COLOR: white
}
A.depMenu:hover {
	FONT-SIZE: 12px; COLOR: white
}
A.depMenu:link {
	FONT-SIZE: 12px; COLOR: white
}
A.depMenu:visited {
	FONT-SIZE: 12px; COLOR: white
}
.depMenu {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fc7d0a
}
.depMenuHighlighted {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial; BACKGROUND-COLOR: #fc7d0a
}
A.currLocation:active {
	FONT-SIZE: 11px; COLOR: #fc7d0a
}
A.currLocation:hover {
	FONT-SIZE: 11px; COLOR: #fc7d0a
}
A.currLocation:link {
	FONT-SIZE: 11px; COLOR: #fc7d0a
}
A.currLocation:visited {
	FONT-SIZE: 11px; COLOR: #fc7d0a
}
.currLocation {
	FONT-SIZE: 11px; COLOR: #fc7d0a; FONT-FAMILY: Arial
}
A.currLocation2:active {
	FONT-SIZE: 12px; COLOR: #cc0000
}
A.currLocation2:hover {
	FONT-SIZE: 12px; COLOR: #cc0000
}
A.currLocation2:link {
	FONT-SIZE: 12px; COLOR: #cc0000
}
A.currLocation2:visited {
	FONT-SIZE: 12px; COLOR: #cc0000
}
.currLocation2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial
}
.sideLinksDisabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #336699
}
A.sideLinks:active {
	FONT-SIZE: 12px; COLOR: #336699
}
A.sideLinks:hover {
	FONT-SIZE: 12px; COLOR: #336699
}
A.sideLinks:link {
	FONT-SIZE: 12px; COLOR: #336699
}
A.sideLinks:visited {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.sideLinks {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.topMenuShade {
	BACKGROUND-IMAGE: url(../../theme_pictures/sideShade.bmp)
}
A.sideMenuHdr :active {
	FONT-SIZE: 12px; COLOR: #ff6600
}
A.sideMenuHdr :hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.sideMenuHdr :link {
	FONT-SIZE: 12px; COLOR: #ff6600
}
A.sideMenuHdr :visited {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
.sideMenuHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0099ff; TEXT-DECORATION: none
}
.sideMenuHdrSep {
	BACKGROUND-COLOR: #ff6600
}
.sideMenuSubHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #336699
}
.sideMenuHdrSep2 {
	BACKGROUND-COLOR: #336699
}
.sideMenuBlockSep {
	BACKGROUND-COLOR: #666666
}
.topMenuBackground {
	BACKGROUND-IMAGE: url(../images/orange_bg.jpg)
}
.serviceTopicHdr0 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: red; FONT-FAMILY: Arial; valign: "middle"
}
.serviceTopicHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #0099ff; valign: "middle"
}
.serviceTopicSubHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FILTER: DropShadow( color=silver, offX=1, offY=1); COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d20604; valign: "middle"; align: center
}
.serviceTopicSubHdrBG {
	BACKGROUND-COLOR: #d2ffff
}
.serviceDescBlockBG {
	FONT-SIZE: 0.85em; LINE-HEIGHT: 200%; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify; valign: top
}
.serviceTopicSubHdr2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ececec; FONT-FAMILY: Arial; BACKGROUND-COLOR: #373236; valign: "middle"
}
.question {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; COLOR: rgb(204,51,0); FONT-FAMILY: Arial; valign: "middle"
}
.serviceTopicDesc {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "Arial"; TEXT-ALIGN: justify
}
.departmentHeader1 {
	FONT-SIZE: 18px; COLOR: #ff6600; FONT-FAMILY: Arial
}
.departmentHeader2 {
	FONT-SIZE: 14px; COLOR: #0099ff; FONT-FAMILY: Arial
}
.districtBodyItemEng {
	FONT-SIZE: 11px; COLOR: rgb(0,0,0); LINE-HEIGHT: 200%; FONT-FAMILY: Verdana; HEIGHT: 21px; valign: "top"
}
.districtBodyItem {
	FONT-SIZE: 0.85em; LINE-HEIGHT: 200%; FONT-FAMILY: Arial; TEXT-ALIGN: justify; valign: top
}
.fill_left {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #f7f8fb
}
.cellBackground {
	FONT-SIZE: 0.85em; COLOR: #000066; LINE-HEIGHT: 200%; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: rgb(242,249,255); valign: "top"; bordercolor: #800000
}
.cellBackgroundLastRow {
	FONT-SIZE: 0.85em; COLOR: #000066; LINE-HEIGHT: 200%; BORDER-BOTTOM: rgb(159,73,98) 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: rgb(242,249,255); valign: top
}
.tableHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: rgb(69,112,163); TEXT-ALIGN: center
}
.tableHdrRelLinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; BACKGROUND-COLOR: #666666; TEXT-ALIGN: center
}
.tableHdrDetailedInfo {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; BACKGROUND-COLOR: #003366; TEXT-ALIGN: center
}
.cellBGRelLinks {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #eaeaea
}
.cellBGDetailedInfo {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ddeeff
}
.lastUpdatedBy {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #0066ff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: justify; valign: middle
}
.courseHdr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #dbdbdb
}
.listPicBullet {
	MARGIN-TOP: 0px; FONT-SIZE: 1em; MARGIN-BOTTOM: 12px; LINE-HEIGHT: 200%; FONT-FAMILY: Arial; TEXT-ALIGN: justify; valign: "top"
}
.hori_break {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 6px; COLOR: #800000; align: "left"
}
.gapLink {
	COLOR: #666600
}
.gapText {
	COLOR: #666666
}
.parentMnu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: rgb(204,51,0)
}
.parentMnu1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: rgb(204,51,204); BACKGROUND-COLOR: rgb(233,233,233)
}
.linkDisabled {
	FONT-SIZE: 12px; COLOR: rgb(120,120,120)
}
A.newsHeadline:hover {
	FONT-SIZE: 18px; COLOR: rgb(0,0,0); FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none; valign: top
}
A.newsHeadline:link {
	FONT-SIZE: 18px; COLOR: rgb(0,0,0); FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none; valign: top
}
A.newsHeadline:visited {
	FONT-SIZE: 18px; COLOR: rgb(0,0,0); FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none; valign: top
}
.newsHeadline {
	FONT-SIZE: 18px; COLOR: rgb(0,0,0); FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none; valign: top
}
.newsSeparator1 {
	BACKGROUND-COLOR: #800000
}
.newsSeparator2 {
	BACKGROUND-COLOR: #c0c0c0
}
.newsAuthor {
	FONT-SIZE: 75%; COLOR: rgb(125,125,125); FONT-FAMILY: Arial; TEXT-ALIGN: left; valign: top
}
.newsFooter {
	FONT-SIZE: 0.75em; COLOR: rgb(0,0,0); LINE-HEIGHT: 200%; FONT-FAMILY: Arial; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: left; valign: top
}
.cellBGCaption {
	PADDING-LEFT: 5px; FONT-SIZE: 13px; BACKGROUND-COLOR: #d3d0cb; valign: top
}
.cellBGDesc {
	PADDING-LEFT: 5px; FONT-SIZE: 13px; BACKGROUND-COLOR: #e4e2de; valign: top
}
/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: default;
	list-style: none;
}

.hoverbox a:hover
{
	display: block;
	font-size: 100%;
	z-index: 1;
}

.hoverbox a
{
	cursor: default;
	position: relative;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -38px;
	left: -50px;
	z-index: 1;
}

.hoverbox img
{
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.hoverbox li
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: static;
}

.hoverbox .preview
{
	border-color: #000;
	width: 200px;
	height: 150px;
}

.rptTable {
	 : #a0a0a0;
}
.eLink {
	CURSOR: pointer; COLOR: #03c; BORDER-BOTTOM: #03c 1px dotted; TEXT-DECORATION: none
}
.autodiv {
	position: absolute;top:75px;overflow: auto;white-space: nowrap;width: 144px;border:1px solid black;background-color: white;
}
.autodiv1{
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: verdana,arial; text-align: left;TEXT-DECORATION: none;cursor: pointer;width: 142px;background-color: white;padding-bottom:2px;padding-left: 2px;
}

