#commentbox {
    min-width: 550px;
    max-width: 550px;
    height: auto;
  .mat-icon {
    cursor: pointer;
  }
    .header {
        padding: 15px 25px;

    }

    .mat-divider {
        width: 100%;
        margin-left: 0px !important;
        border-top-width: 1px;
        border-color: #e8e8e8;
    }
    .ck-content {
        max-height: 110px;
        font-size: 14px;
    }
    .mat-divider-horizontal {
        position: relative !important;
    }

    .txt-gry {
        color: #848484;
    }

    .txt-gry3 {
        color: #262626;
    }

    .content {
        padding: 15px 25px;
    }

    .ckeditorborder {
        max-height: 216px;
        overflow: auto;
        scroll-behavior: smooth;
        height: auto;
        border: 1px solid #d9d9d9;
        cursor: text;
        padding: 13px 10px;

        &:hover {
            border: 1px solid #6ba5ec;
        }

        .editortitle {
            color: #666;
            cursor: text;


        }

        p {
            margin: 0;
            padding-bottom: 5px;
            cursor: text;
        }

        figure {
            img {
                max-width: 100%;
            }
        }

        .contenthere {
            p {
                margin: 0 !important;
                padding-bottom: 5px;
                cursor: text;
                word-break: break-word;
            }
        }
    }
    .clearbutton {
        background-color: #ffff;
        border: 1px solid #e8e8e8;
        color: #262626;
    }
    .cancel_btn {
        min-width: 120px;
        background-color: #ffff;
        border: 1px solid #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
        height: 40px;
        font-size: 15px;
        box-shadow: none;

    }
    .error {
        color: #dc4c64;
    }
    .mat-raised-button {
        box-shadow: none;
        border-radius: 2px;
        min-width: 90px;
        font-size: 16px;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 3px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ED1C27; 
        border-radius: 3px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ED1C27; 
    }
    .mat-form-field-appearance-outline {

        // &.mat-form-field-outline-thick {
        &.mat-form-field-readonly {
            // .mat-form-field-outline {
            background-color: #009c3a !important;
            // }
            // }
        }

        .mat-form-field-outline {
            color: #d9d9d9;
        }

        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }

        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }

        .mat-form-field-required-marker {
            color: #ED1C27;
        }

        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;

        }

        &.mat-focused {
            .mat-form-field-outline-thick {
                color: #0c4b9a;
                background-color: #f8f8f8;
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        color: #0c4b9a;
                    }
                }
            }
        }

        &.mat-form-field-disabled {
            .mat-form-field-outline {
                background-color: #f8f8f8;
            }
        }


        &.mat-form-field-invalid.mat-form-field-invalid {
            .mat-form-field-outline-thick {
                color: #dc4c64;
                background-color: #f8f8f8;
            }
        }

        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    transform: translateY(-.9rem) scale(0.75);
                    color: #848484;

                    .mat-form-field-required-marker {
                        color: #ED1C27;
                    }
                }

                .mat-form-field-outline-gap {
                    width: 0px !important;
                }
            }
        }
    }
}

.commentfielsmodal {
    .mat-dialog-container {
        padding: 0px !important;
    }
}