#accountcontainer {

    .txt-gry {
        color: #262626;
        font-family: "opal_semibold", sans-serif;
    }

    .txt-gry3 {
        color: #848484;
    }

    // .fa {
    //     color: transparent;
    //     -webkit-text-stroke-width: 1px;
    //     -webkit-text-stroke-color: #626366;

    //     &:hover {
    //         -webkit-text-stroke-color: #fff;
    //     }
    // }

    .userimg {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            &:hover {
                transform: scale(1.1);
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 20px;
            background-color: #c4c4c4;
            position: relative;
            top: 33px;
            left: -44px;
            // opacity: 0.5;
            cursor: pointer;

            &:hover {
                background-color: #ed1c2770;
                transform: scale(1.1);

                .mat-icon {
                    color: #ED1C27;
                }
            }

            .mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: #848484;
                font-weight: 700;
            }
        }
    }

    .mat-card {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.051) !important;
        border: 1px solid #e8e8e8;
        padding-top: 20px !important;
        height: 95%;

        &.profile_card {
            padding-top: 0px !important;
        }

        .mat-card-image {
            width: 128px;
            height: 128px;
            border-radius: 5px;
            border: 1px solid #e8e8e8;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    .comp_img {
        img {
            width: 44px !important;
            height: 44px !important;
            border-radius: 4px !important;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .mat-divider-horizontal {
        position: relative !important;
        // left: 38%;
    }

    .mat-divider {
        width: 80px;
        border-top-width: 3px;
        border-color: #ED1C27;
        margin: 0 auto;
    }

    .date_detials {
        .mat-divider {
            width: 100%;
            margin-left: 0px !important;
            border-top-width: 1px;
            border-color: #e8e8e8;
        }

        .mat-divider-horizontal {
            position: relative !important;
        }
    }

    .profile {
        .mat-card {
            padding: 14px 15px 0 15px !important;
            height: 95%;

            .mat-divider {
                width: 93%;
                border-top-width: 1px;
                border-color: #e8e8e8;
            }

            .mat-divider-horizontal {
                position: relative !important;
            }
        }

    }


    .verified {
        width: 55px;
        height: 20px;
        background-color: #00a551;
        color: #ffffff;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .mat-raised-button {
        box-shadow: none;
        border-radius: 2px;
        font-size: 16px;
    }

    .file_uploaded {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;

        #uploaded {
            .filers {
                .mat-form-field {
                    width: 126px !important;
                }

                input.mat-input-element {
                    margin-top: 0rem !important;
                }

                .mat-form-field-appearance-outline {
                    .mat-form-field-outline-thick {
                        color: #d9d9d9;
                    }

                    .mat-form-field-flex {
                        padding: 0px !important;
                        border: 1px solid #d9d9d9;
                    }

                    .mat-form-field-infix {
                        padding: 0 2px !important;
                        border: 1px solid #d9d9d9 !important;
                    }

                    .mat-form-field-outline-start {
                        border: 1px solid currentcolor !important;
                        border-radius: 1px !important;
                    }

                    .mat-form-field-outline-end {
                        border: 1px solid currentcolor !important;
                        border-radius: 1px !important;
                    }

                    .mat-form-field-wrapper {
                        padding-bottom: 0px;
                    }
                }

                mat-label {
                    color: #999999;

                    span {
                        color: #ED1C27;
                    }
                }

                .mat-form-field label {
                    text-align: center;
                    margin-top: 1px;
                }

                input {
                    &.mat-input-element {
                        background-color: #f5f5f5;
                        text-align: center;
                        height: 128px !important;
                        width: 128px !important;
                        margin-bottom: 2px !important;
                    }
                }

                .mat-form-field-suffix {
                    top: -0.75em;
                }

                .subbtn {
                    position: absolute;
                    background-color: #f5f5f5 !important;
                    color: #848484;
                    height: 100%;
                    width: 100%;
                    margin-bottom: 0px !important;

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }

                button {
                    height: 100%;
                }
            }

            .document {
                mat-label {
                    color: #999999;
                }

                img {
                    width: 20px;
                }

                mat-icon {
                    color: #999999;
                }

                .mat-form-field-wrapper {
                    padding-bottom: 0px;
                }
            }
        }
    }

    .btns {
        gap: 20px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            &.edit_btn {
                min-width: 65px;
                height: 30px;
                background-color: #f5f5f5;
                color: #626366;
                border: 1px solid #d4d4d4;
                border-radius: 2px;

                &:hover {
                    background: #ED1C27;
                    color: #ffffff;
                    border: 1px solid currentColor;

                    .fa {
                        -webkit-text-stroke-color: #fff;
                    }
                }
            }

            &.pass_btn {
                min-width: 120px;
                height: 30px;
                background: #ED1C27;
                color: #ffffff;
                border: 1px solid #ED1C27;
                border-radius: 2px;
            }

            &.view_btn {
                min-width: 120px;
                height: 30px;
                background-color: #ED1C27;
                color: #ffffff;
                border: 1px solid currentColor;
                border-radius: 2px;

                &:hover {
                    background: #ffffff;
                    color: #999999;
                    border: 1px solid #d4d4d4;
                }
            }
        }
    }



    .banner {
        background-image: url("~/assets/images/opalimages/backbanner.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 430px;
    }

    .login_footer {
        margin-top: -7%;
    }
    .imageafteronlinepay {
        display: inline-flex;
        width: auto;
    }
    .responsivewafterwidth {
        display: flex;
        justify-content: center;
        align-items: center;
    .uploadicon {
        width: 152px;
        height: 152px;
        max-width: 152px;
        border: none;
        // margin: 0 auto;
        cursor: pointer;
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 8px #0000001a;
        border: 1px solid #D7DCE3;
        border-radius: 4px;
    }
    .popoverHide {
        display: none !important;

    }
}
    .heightfixed img{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        object-fit: cover;
    }
}
[dir=rtl] {
    .userimg {
       
        span {
         
            left: auto !important;
            // opacity: 0.5;
            right: -44px !important;
            cursor: pointer;

        }
    }
}