<div id="siteaudit_approval" #pageScroll>
        <div class="siteaudit" fxLayout="row wrap" fxLayoutAlign="center">
            <div fxFlex="100">
                <div class="infobtns" fxLayoutAlign="end" fxLayout="row wrap">
                    <!--button mat-raised-button [matMenuTriggerFor]="menu" color="primary"
                        class="ShowHidefs-15 menubtn m-r-10 m-t-10">{{'desktop.valicentre' | translate}}<i
                            class="fa fa-chevron-down m-l-5" aria-hidden="true"></i></button>
                    <mat-menu #menu="matMenu" class="menu-panel">
                        <button mat-menu-item class="fs-16">{{'desktop.stand' | translate}}</button>
                        <button mat-menu-item class="fs-16">{{'desktop.cust' | translate}}</button>
                    </mat-menu>
                    <button mat-raised-button class="valid menu" color="primary">Valid centre Form</button-->
                    <button mat-raised-button class="m-l-15 auditbtn m-t-10" [routerLink]="this.projectpk == '1'? ['/centrecertification/auditlogstand', application_id, projectPk] : ['/centrecertification/auditlogras',  application_id, projectPk] ">{{'staffpractical.auditlog' | translate}}</button>
                </div>
                <div class="knowledgegrid m-t-10 m-b-20" fxLayout="column" *ngIf="applicationStatus">
                    <div class="details pd-15" fxFlex="100"> 
                        <div class="head" fxLayout="row wrap">
                            <h2 class="headcolor fs-18 m-0 lh-15">
                                {{ifarabic ? applicationStatus?.omrm_companyname_ar : applicationStatus?.omrm_companyname_en}}
                            </h2>
                        </div>
                        <div class="m-t-20" *ngIf="applicationStatus?.appdt_projectmst_fk == 1">
                            <p class="text-gray m-0 fs-15 ">{{'staffpractical.trainproname' | translate}}:
                            <span
                                    class="text-default"> 
                                {{applicationStatus?.omrm_tpname_en}}
                                </span></p>
                        </div>
                        <div class="m-t-20" *ngIf="applicationStatus?.appdt_projectmst_fk == 4">
                            <p class="text-gray m-0 fs-15 ">{{'Centre Name' | translate}}:
                            <span
                                    class="text-default"> 
                                {{applicationStatus?.omrm_branch_en}}
                                </span></p>
                        </div>
                        <div class="fs-13 m-t-20 m-b-20" fxLayout="row wrap">
    
                            <p class="application-detais m-r-10 text-gray m-0">{{'staffpractical.apprefno' | translate}}: <span
                                    class="text-default"> 
                                {{applicationStatus?.appdt_appreferno}}
                                </span>
                            </p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'staffpractical.apptype' | translate}}: <span
                                    class="text-default">
                                <span *ngIf="applicationStatus?.appdt_apptype == '1'" class="text-default">
                                    {{'table.initial' | translate}}
                                </span>
                                <span *ngIf="applicationStatus?.appdt_apptype == '2'" class="text-default">
                                    {{'table.renewal' | translate}}
                                </span>
                                <span *ngIf="applicationStatus?.appdt_apptype == '3'" class="text-default">
                                    {{'table.updated' | translate}}
                                </span>
                                </span></p>
                            <p class="application-detais m-r-10 text-gray m-0"  *ngIf="applicationStatus?.appdt_projectmst_fk != 4">{{'staffpractical.coursetype' | translate}}: 
                                <span class="text-default">                                                                       
                                    <span *ngIf="applicationStatus?.appdt_projectmst_fk == '2'" class="text-default">
                                        {{'table.standcou' | translate}}
                                    </span>
                                    <span *ngIf="applicationStatus?.appdt_projectmst_fk == '3'" class="text-default">
                                        {{'table.custcou' | translate}}
                                    </span>
                                </span>
                            </p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'staffpractical.appsts' | translate}}: <span
                                    class="text-default">
                                    <!-- appasdt_status -->
                                    <!-- <span *ngIf="applicationStatus.appasdt_status == '1'" class="text-default">{{'table.yettosubmit'
                                        |translate}}</span> -->
                                        <!-- Desktop Review Pending 2,4 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '2'" class="text-default">{{'table.deskreview'
                                        |translate}}</span>
                                        <!-- Missing Files 3 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '3'" class="text-default">{{'table.missingfiless'
                                        |translate}}</span>
                                    <span *ngIf="applicationStatus.appdt_status == '4'" class="text-default">{{'table.deskreview'
                                        |translate}}</span>
                                        <!-- Payment Pending 5 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '5'" class="text-default">{{'table.yettopay'
                                        |translate}}</span>
                                        <!-- Confirm Payment 6 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '6'" class="text-default">{{'table.paidconfipend'
                                        |translate}}</span>
                                        <!-- Yet to Schedule for Site Audit 7 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '7'">{{'table.awitorsiteaudit'
                                    |translate}}</span> 
                                    <!-- Audit Date Selection (Training Provider) 8-->
                                    <span *ngIf="applicationStatus?.appdt_status == '8'">{{'table.confsiteautit'
                                    |translate}}</span>
                                    <!-- Ready for Audit 9 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '9'">{{'table.readforaudit'
                                    |translate}}</span>
                                    <!-- Quality Manager Approval Pending 10 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '10'">Quality Manager Approval Pending</span>
                                    <!-- Authority Approval Pending 11 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '11'">Authority  Approval Pending</span>
                                    <span *ngIf="applicationStatus?.appdt_status == '12'">CEO Approval Pending</span>
                                    <span *ngIf="applicationStatus?.appdt_status == '13'">{{'table.siteaudidecl'
                                    |translate}}</span> 
                                    <!-- Quality Manager Approval Pending 14 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '14'">Quality Manager Approval Pending</span> 
                                    <!-- Authority Approval Pending 15 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '15'">{{'table.resubmforauth'
                                    |translate}}</span>
                                    <span *ngIf="applicationStatus?.appasdt_status == '16'">{{'table.resubmforceoapp'
                                    |translate}}</span> 
                                    <!-- Approved  17-->
                                    <span *ngIf="applicationStatus?.appdt_status == '17'">{{'table.approved'
                                    |translate}}</span>
                                    <!-- Suspended 19 -->
                                    <span *ngIf="applicationStatus?.appdt_status == '18'">{{'table.fineteam'
                                        |translate}}</span>
                                    <span *ngIf="applicationStatus?.appdt_status == '19'">{{'table.suspended'
                                        |translate}}</span>
                                </span></p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'staffpractical.certists' | translate}}:
                                <!-- <span class="liteorange">Pending</span> -->
                                <span  *ngIf="app_sts==1" class="red">
                                    {{'table.new'|translate}}
                                </span>
                                <span *ngIf="app_sts==2" class="green">
                                     {{'table.acti'|translate}}
                                </span>
                                <span *ngIf="app_sts==3" class="red">
                                    {{'table.expi' | translate}}
                                </span>
                                <!-- <span class="liteorange">
                                    {{'staffpractical.new' | translate}}
                                </span> -->
                                <!-- <span class="green">Active</span>
                                    <span  class="red">decline</span> -->
                            </p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'Site Audit Scheduled on' | translate}}:
                                <span class="text-default"> {{asd_date?(asd_date | date: 'dd-MM-yyyy'):'-'}} </span>
                            </p>
                        </div>
                    </div>
                    <div class="address  p-l-15" fxLayout="row wrap" fxFlex.gt-sm="60" fxFlex="100">
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50" *ngIf="appiit_locmapurl">
                            <p class="text-gray fs-14">{{'desktop.siteloca' | translate}} <br>   <a matTooltip="View Location" href="https://{{appiit_locmapurl}}"  target="_blank"><mat-icon class="fa fa-map-marker mapicon" ></mat-icon></a></p>
                        </div>
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50">
                            <p class="text-gray fs-14">{{'staffpractical.doe' | translate}} <br>
                                <span class="text-default" *ngIf="applicationStatus">
                                    {{applicationStatus?.appdt_certificateexpiry ? (applicationStatus?.appdt_certificateexpiry | dateFormat): '-'}}
                                </span>
                            </p>
                        </div>
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50">
                            <p class="text-gray fs-14">{{'staffpractical.addon' | translate}} <br>
                                <span class="text-default" *ngIf="applicationStatus">
                                    {{applicationStatus?.appdt_submittedon ? (applicationStatus?.appdt_submittedon | dateFormat):'-' }}

                                </span>
                            </p>
                        </div>
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50">
                            <p class="text-gray fs-14">{{'staffpractical.lastupdate' | translate}}<br>
                                <span class="text-default" *ngIf="applicationStatus">
                                    {{applicationStatus?.appdt_updatedon ? (applicationStatus?.appdt_updatedon | dateFormat):'-'}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" class="m-b-10 m-t-10" *ngIf=" (applicationStatus?.appdt_status != 9) && (applicationStatus?.appdt_status != 13) && ((this.approvalDetails['hrd_fk'] != null) && (this.approvalDetails['workflowdtls_fk'] != null) && (this.approvalDetails['workflowuserdtls_fk'] != null)  && vievalidation)">
                    <app-viewvalidation [hidebtn]="true" [from] ="'siteaudit'" (siteauditapprovalEmitter) ="siteauditapprovalChanges($event)" class="validatebluebtn m-r-10"></app-viewvalidation>
                </div>
                
                <div *ngIf="applicationStatus?.appdt_status != 9 && appapprovalStatus && (firstname != null || appdt_appdecon != null)" class="m-l-0 m-r-0 m-b-10 m-t-20"
                   [ngClass]="this.appdt_status != 13 ? 'successcmd' : 'declinecmd'">
                    <h4 class="18 m-5 m-l-0">{{this.appdt_status != 13? ('course.appr' | translate):('course.declcom' | translate)}}</h4>
                    <p class="16  m-b-30" [innerHtml]='appdt_appdeccomment'></p>
                    <mat-divider></mat-divider>
                    <div class="validinfo" fxLayout="row wrap">
                        <p class="fs-16 txt-gry m-r-40">{{'commentslist.veryon' | translate}} : <span
                                class="fs-16 txt-gry3">{{appdt_appdecon | dateFormat}}</span></p>
                        <p class="fs-16 txt-gry m-l-30">{{'commentslist.veryby' | translate}} : <span
                                class="fs-16 txt-gry3">{{firstname}}</span></p>
                    </div>
                    <p class="16 m-0"></p>
                </div>
                <mat-tab-group class="tabsdetials m-t-30" [(selectedIndex)]="mattab" #mytab>
                    <!--tab 1-->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="tabscontent">
                                <span class="contentcircle m-r-10">
                                    1
                                </span>
                                <div class="tabtitle">
                                    <p class="fs-15">{{'staffpractical.siteaudit' | translate}}</p>
                                </div>
                            </div>
                        </ng-template>
                        <span *ngIf="siteAuditRes">
                            <app-scsiteaudittab [siteAuditRes]="siteAuditRes" [viewapproveaudit]="viewapproveaudit" [clickDisable]="clickDisable" (selectedTab)="selected($event)" (deleteQuest)="deleteSelectedQuestion($event)" (deleteTabDetails)="deleteSelectedTabDetails($event)" [project_id]="projectPk"></app-scsiteaudittab> 
                        </span>
                        <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30" *ngIf="this.viewapproveaudit == true">
                            <button mat-raised-button type="button" color="secondary" class="prevbtn height-45 m-r-15" (click)="goBack()" >{{'Back' | translate}}</button>
                        </div>
                        <!-- <app-approvescsiteaudit *ngIf="!viewapproveaudit"></app-approvescsiteaudit> -->
                        <!-- // 1622- app stdls pk - project pk -->
                    </mat-tab>
    
                    <!--tab 2-->
                    <mat-tab   [disabled]="disableMatSelection">
                        <ng-template mat-tab-label>
                            <div class="tabscontent">
                                <span class="contentcircle m-r-10">2</span>
                                <div class="tabtitle">
                                    <p class="fs-15">{{'staffpractical.stasspracassess' | translate}}</p>
                                </div>
                            </div>
                        </ng-template>
                        <span *ngIf="application_id && projectPk">
                            <app-staffpracticaltab [application_id]="application_id" [project_id]="projectPk" [viewapproveaudit]="viewapproveaudit1" [clickDisable]="clickDisable"  (moveToNextLevelApproval)="nextLevelApprovalPending($event)" (previous)="previousButton($event)"  ></app-staffpracticaltab>
                        </span>
                        <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30" *ngIf="this.viewapproveaudit == true">
                            <button mat-raised-button type="button" color="secondary" class="prevbtn height-45 m-r-15 fs-16" (click)="goBack()" >{{'Back' | translate}}</button>
                        </div>
                    </mat-tab>
                  
                </mat-tab-group>
            </div>
        </div>
    </div>
    
    <app-responseloader *ngIf="disableSubmitButton"></app-responseloader>