
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

@mixin flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
}

@mixin flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
}

@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin marginzero {
    margin: 0;
    white-space: normal !important;
    text-align: left;
  }
#registerlistview{
        /* border-radius: 10px; */
    /* background-clip: padding-box; */
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    margin-left: auto;
    margin-right: auto;
    max-width: 80% !important;
    height: 100%;
    padding-top: 90px;
    min-height: 470px;
    text-align: center;
    /* margin-top: -158px; */
    .notecolorrole{
        padding-bottom: 20px;
         p{
           color: #333333;
           margin: 0px;
           font-size: 0.875rem;
            span{
            color: #f4811f;
           }
         }
      }      
    .successtick {
        padding-bottom: 30px;
        @include flexcenter();
        span {
            height: 64px;
            width: 64px;
            @include flexcenter();
            border-radius: 100%;
            background:#27a91d;
            color: #fff;
            i {
                font-size: 1.875rem;
            }
        }
    }
    .jsrscontactcolor{
        padding-bottom: 20px;
           h2{
               font-size: 1.125rem;
               margin: 0px;
               color: #27a91d;
           }
    }
    .transfertextcolor{
          p{
              color: #333333;
              font-size: 1rem;  
              margin: 0px;
              span{
                  font-family: 'opal_semibold';
              }
          }
    }
    .loginbtn{
        @include flexcenter();
        margin-top: 30px;
         button{
             background: #4ba2ac;
             width: 160px;
             color: #fff;
             border-radius: 2px;
             @include flexcenter;
         }
    }
}
.headerstyle{

    display: flex;
    height: 100vh;
.leftisideinfodetail {
    background-clip: padding-box;

    width: 50%;

    z-index: 0;
    height: 100%;


    .loginbg {
        background: url('~/assets/images/bg.png') top left no-repeat;
        background-size: cover;
        height: 100% !important;

        width: 100%;
        object-fit: cover;
        margin-left: 0;
        background-position: center;

        @media (min-width:1920px) {
            background: url('~/assets/images/bg.png') top left no-repeat;
            background-size: cover !important;
        }
    }

}
.rightsideinfodetail {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    // height: 100%;
    min-height: 623px;
    height: 100vh;

    text-align: center;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    .langbtn {
        justify-content: end;

        button {
            background: none;
            border: none;
            color: #4AA2AD;
            cursor: pointer;
        }
    }

    .login_footer {
        .adminfooter.footerspace {
            #res_pr-0 {

                .img_hig-mar {
                    width: 140px !important;
                }

            }


        }
    }

    .footer-height {
        height: calc(100vh - 60px);
    }
}

}