<mat-drawer-container>
  <mat-drawer-content >
    <app-registrationheader></app-registrationheader>
<div id="scrollerdata"  dir="{{dir}}">
  <div id="learnerfeedback" >
    <ng-container *ngIf="alldata != null && !loading && !formcompleted">
  
      <div class="headertitle">
        <!-- <div class="backbtn"><i class="fa fa-long-arrow-left  m-r-5"></i> {{'learnerfdbck.back' | translate}}</div> -->
        <div class="titlediv">{{'learnerfdbck.lrnrfbk' | translate}}</div>
      </div>
  
      <div class="header" fxLayout="column" fxLayoutGap="18px">
        <div fxLayout="column" fxLayoutGap="2px">
          <div class="colsand" fxLayout="row" fxLayoutAligmnet="space-between center" fxLayoutGap="5px">
            <div fxFlex="25">
              <div class="txt-label">{{'learnerfdbck.batchnno' | translate}}</div>
              <div class="txt-value">{{alldata.batchNo}}</div>
            </div>
            <div fxFlex="30">            
              <div class="txt-label">{{'learnerfdbck.traingprvdr' | translate}}</div>
              <div class="txt-value">{{alldata.trainer}}</div>
            </div>
            <div fxFlex="30">            
              <div class="txt-label">{{'learnerfdbck.assmntcntre' | translate}}</div>
              <div class="txt-value">{{alldata.assessor}}</div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="2px">
          <div class="colsand" fxLayout="row" fxLayoutAligmnet="space-between center" fxLayoutGap="5px">
              <div fxFlex="25">
                <div class="txt-label">{{'learnerfdbck.lrnrname' | translate}}</div>
                <div class="txt-value">{{alldata.name}}</div>
              </div>
              <div fxFlex="30">            
                <div class="txt-label">{{'learnerfdbck.cvlno' | translate}}</div>
                <div class="txt-value">{{alldata.civilnumber}}</div>
              </div>
          </div>
        </div>
      </div>
      <div class="trainfact" fxLayout="column">
        <div fxLayout="column" *ngFor="let question of questions ; index as j">
          <div class="colblue m-t-20">
            <p class="phadd m-l-10" >{{question.fdbkct_feedbacklist_en}} 
              <span *ngIf="question.fdbkct_feedbacklist_en == 'Assessment' && !alldata.isassessment">(if applicable)</span></p>
          </div>
          <div class="responsive1 colwh" fxFlex="100" fxLayout="row" fxLayoutAlign="end ">
            <p class="ppadd colsand">{{'learnerfdbck.disagree' | translate}}</p>
            <p class="ppadd colsand">{{'learnerfdbck.agree' | translate}}</p>
            <p class="ppadd colsand">{{'learnerfdbck.strngagre' | translate}}</p>
          </div>
          <ng-container *ngFor="let procced of question.questions ; index as i" >
            <div>
              <div class="responsive1" [class]="j+1 == questions.length ? 'border' : i+1 !=question.questions.length ? 'border' : '' " fxLayout="row" fxLayoutAlign="space-between none">
                <p class="pstat colli">{{procced.index}} . {{procced.fdbkqm_Question_en}}</p>
                <div fxLayout="row">
                  <mat-radio-group aria-label="Select an option" (change)="onradioclick(j,i,$event)">
                    <mat-radio-button class="pprdi colli" value="1"></mat-radio-button>
                    <mat-radio-button class="pprdi colli" value="2"></mat-radio-button>
                    <mat-radio-button class="pprdi colli" value="3"></mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="responsive2" [class]="j+1 == questions.length ? 'border' : i+1 !=question.questions.length ? 'border' : '' " fxLayout="column" fxLayoutAlign="space-between none">
                <p class="pstat colli">{{procced.index}} . {{procced.fdbkqm_Question_en}}</p>
                <div fxLayout="column">
                  <mat-radio-group aria-label="Select an option" (change)="onradioclick(j,i,$event)">
                    <mat-radio-button class="pprdi colli" value="1">{{'learnerfdbck.disagree' | translate}}</mat-radio-button>
                    <mat-radio-button class="pprdi colli" value="2">{{'learnerfdbck.agree' | translate}}</mat-radio-button>
                    <mat-radio-button class="pprdi colli" value="3">{{'learnerfdbck.strngagre' | translate}}</mat-radio-button>
                  </mat-radio-group>

                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="m-t-30">
        <div>
          <mat-form-field class="comments colblack" appearance="outline">
            <textarea matInput  [(ngModel)]="comments" placeholder="{{'learnerfdbck.entcomments' | translate}}"></textarea>
               
          </mat-form-field>
          <div fxLayoutAlign="end center">
            <mat-hint class=" clflex ">{{comments.length}}/1000</mat-hint>
          </div>
        </div>
        <div class="cpat m-t-20">
          <p fxLayoutAlign="center" class="colsand"> {{'learnerfdbck.opalprotected' | translate}} <span class="colred"> {{'learnerfdbck.pripolicy' | translate}} </span> {{'learnerfdbck.and' | translate}} <span class="colred"> {{'learnerfdbck.termsservice' | translate}} </span> {{'learnerfdbck.apply' | translate}}. </p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end"  class="m-t-40">
        <button mat-raised-button type="button"  class="canbtn m-r-15">{{'learnerfdbck.cancel' | translate}}</button>
        <button mat-raised-button  type="button"  class="subbtn" (click)="onSubmit()">{{'learnerfdbck.submit' | translate}}</button>
      </div>  
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="formcompleted">
      <p class="errmsg">Learner feedback form successfully submitted</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <p class="errmsg">{{errorMsg}}</p>
    </div>
    <app-registrationfooter></app-registrationfooter>
  
    </div> 
</div> 
  <app-responseloader *ngIf="loading"></app-responseloader>
  </mat-drawer-content>
  </mat-drawer-container>
  