// table filter button
.commonForm {
    
  a {
    color: #ffffff;
  }
    .txt-gry {
      color: #848484;
    }
  
    .txt-gry3 {
      color: #262626;
    }
  
    .standardbutton {
      height: 45px;
      min-width: 110px !important;
      border-radius: 2px !important;
      box-shadow: none !important;
      font-size: 16px;
    }
  
    .mat-red-bg {
      background: #ed1c27;
      color: #FFFFFF;
    }
  
    .mat-blue-bg {
      background: #0c4b9a;
      color: #FFFFFF;
    }
  
    .mat-white-bg {
      border: 1px solid #e8e8e8 !important;
      background-color: #ffffff;
      color: #262626;
    }
  
    .mat-sort-header-arrow {
      color: #ED1C27;
    }
  
    .txt-gry {
      color: #848484;
    }
  
    .txt-gry3 {
      color: #262626;
    }
  
    .mat-tab-label-active {
      background-color: #0c4b9a !important;
      color: #fff !important;
  
      .contentcircle {
        color: #fff !important;
        border: 1px solid #fff !important;
      }
  
      p {
        color: #fff !important;
  
        span {
          color: #ffffff !important;
        }
      }
    }
  
    .mat-form-field-appearance-outline {
  
      &.mat-form-field-readonly {
  
        background-color: #009c3a !important;
  
      }
  
      .mat-form-field-outline {
        color: #d9d9d9;
      }
  
      .mat-form-field-outline-start {
        border-radius: 3px 0 0 3px;
      }
  
      .mat-form-field-outline-end {
        border-radius: 0 3px 3px 0;
      }
  
      .mat-form-field-required-marker {
        color: #ED1C27;
      }
  
      .mat-form-field-outline-thick {
        color: #6ba5ec;
        background-color: #f8f8f8;
  
      }
  
      &.mat-focused {
        .mat-form-field-outline-thick {
          color: #0c4b9a;
          background-color: #f8f8f8;
        }
  
        &.mat-form-field-can-float {
          &.mat-form-field-should-float {
            .mat-form-field-label {
              color: #0c4b9a;
            }
          }
        }
      }
  
      &.mat-form-field-disabled {
        .mat-form-field-outline {
          background-color: #f8f8f8;
        }
  
        .mat-select-arrow:before {
          display: none !important;
        }
      }
  
  
      &.mat-form-field-invalid.mat-form-field-invalid {
        .mat-form-field-outline-thick {
          color: #dc4c64;
          background-color: #f8f8f8;
        }
      }
  
      &.mat-form-field-can-float {
        &.mat-form-field-should-float {
          .mat-form-field-label {
            transform: translateY(-.9rem) scale(0.75);
            color: #848484;
  
            .mat-form-field-required-marker {
              color: #ED1C27;
            }
          }
  
          .mat-form-field-outline-gap {
            width: 0px !important;
          }
        }
      }
  
      .mat-input-element {
        color: #262626;
      }
  
    }
  
    .mat-form-field {
      &.mat-form-field-invalid {
        .mat-form-field-label {
          color: #dc4c64 !important;
        }
      }
    }
  
    .paginationwithfilter {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      flex-wrap: wrap;
  
      .masterPageTop {
        .mat-paginator-range-actions button {
          display: none;
        }
      }
    }
  
    .footerpaginator {
      .mat-paginator-outer-container {
        .mat-paginator-container {
          padding: 0px !important;
  
          @media (max-width:768px) {
            display: block !important;
          }
        }
  
        .mat-paginator-range-actions {
          width: calc(100% - 186px);
          color: #0c4b9a;
  
          .mat-paginator-range-label {
            width: calc(100% - 186px);
  
          }
  
          @media(max-width: 768px) {
            width: auto !important;
          }
        }
      }
    }
  
    .refresh-rotate {
      animation: rotation infinite 1s linear;
    }
  
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
  
      to {
        transform: rotate(360deg);
      }
    }
  
    .manageoptions {
      .moremenucolor {
        color: #848484;
        cursor: pointer;
      }
    }
  
    .awaredtable {
      .scrolldata {
        .mat-header-cell {
          .mat-sort-header-button {
            text-transform: capitalize;
          }
        }
      }
    }
  
    .edit-column-menu {
      .table-config-menu-options {
        text-transform: capitalize;
      }
    }
  
    .commonTab {
      .mat-tab-header {
        border-bottom: 0px !important;
      }
  
      .mat-ink-bar {
        width: 0px !important;
      }
  
      .mat-tab-label {
        opacity: 1;
        border-radius: 2px;
        background-clip: padding-box;
        background-color: #eaedf2;
        margin-right: 5px;
        height: 80px;
        justify-content: flex-start;
        padding: 0 10px;
        min-width: 125px;
  
        &:nth-child(2) {
          width: 250px;
        }
  
      }
  
      .mat-tab-list {
        opacity: 1;
        min-width: auto !important;
        justify-content: flex-start;
      }
  
      .tabscontent {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .contentcircle {
          width: 30px;
          min-width: 28px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center !important;
          align-items: center !important;
          background-clip: padding-box;
          background-color: transparent;
          color: #666666;
          box-shadow: 0 0 8px rgb(51 51 51 / 15%);
          border: 1px solid #fff;
          background: #fff;
        }
  
        .tabtitle {
  
          p {
            color: #262626;
            text-align: left;
            white-space: normal;
            span {
              color: #ed1c27;
          }
  
          }
        }
      }
  
      .mat-tab-label-active {
        background-color: #0c4b9a !important;
        color: #fff !important;
  
        .contentcircle {
          color: #666666 !important;
          border: 1px solid #fff !important;
          background-color: #fff;
        }
  
        p {
          color: #fff !important;
        }
      }
    }
  
    .verifybtn {
      .verifytop {
        background-color: #C4C4C4;
        color: #fff;
        font-size: 16px;
        position: relative;
        top: -7px;
        padding: 2px;
        border-radius: 20px;
  
        span {
          font-size: 14px;
          height: 0px;
        }
      }
  
      .verifed {
        background-color: #009c3a;
        color: #fff;
        font-size: 16px;
        padding: 2px;
        position: relative;
        top: -7px;
        border-radius: 20px;
  
        span {
          font-size: 14px;
          height: 0px;
        }
      }
  
    }
  
    .viewOnly {
      .mat-form-field-flex {
        cursor: no-drop !important;
      }
  
      .mat-form-field-outline {
        background-color: #f8f8f8 !important;
        
      }
      .mat-form-field-appearance-outline {
        .mat-input-element {
          pointer-events: none;
        }
      }
  
    }
  
    .responsivewafterwidth .uploadicon {
      width: 152px;
      height: 152px;
      max-width: 152px;
      border: none;
      cursor: pointer;
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 8px #0000001a;
      border: 1px solid #D7DCE3;
      border-radius: 2px;
    }
  
    .heightfixed {
      max-height: 100%;
  
      .imgcenter,
      img {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        object-fit: cover;
  
      }
  
      .uploadicon img {
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
      }
    }
  
    .groupBtns {
      gap: 15px;
    }
  
    .cur-pointer {
      cursor: pointer;
    }
    .formCard {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      padding: 15px;
      background-color: #fbfbfb;
      &.back-color {
        background-color: #ffffff !important;
      }
      .mat-form-field-appearance-outline { 
        .mat-form-field-outline {
          color: #d9d9d9;
          background-color: #ffffff;
        }
        &.mat-form-field-invalid.mat-form-field-invalid {
          .mat-form-field-outline-thick {
            color: #dc4c64;
            background-color: #ffffff;
          }
        }
      }
     
    }
  
   .requiredSymb {
    color: #dc4c64;
   }

   .whentootltipadded {
    background-color: #666666 !important;
    color: #fff;
    min-height: 45px !important;

    .mat-menu-item {
        color: #fff !important;
        height: 30px !important;
        line-height: 20px !important;

       a:hover {
        color: #ffffff !important; 

       }
    }
}

  
  }
  [dir=rtl] {
    .commonForm  {
      .tabscontent {
        .tabtitle {
          p {
            text-align: right;
          }
        }
      }
    }
  }
  
    @media (max-width: 670px) {
      .swal-modal.swalEng, .swal-modal.swalAr {
         min-width: 400px;
         &:before { 
          min-width: 100%;
          margin-top: 10px;
         }
         .swal-title {
          width: calc(100% - 83px) !important;
          margin-top: 0px !important;
         }
         .swal-icon {
          margin-top: 2px !important;
         }
         .swal-text {
          max-width: calc(100% - 1px)!important;
         }
    }
    @media (max-width: 425px) { 
      .swal-modal.swalEng, .swal-modal.swalAr {
        min-width: 310px;
        &:before { 
          display: none;
        }
      }
    }
  }
  .view_Cert {
    color: #ffffff !important;
  }