<div id="viewcourse"  class=" clflex flex-column">
    <app-responseloader *ngIf="fullPageLoaders"></app-responseloader>

    <div class="coursesinfotbale" *ngIf="coursedata">
        <div class="batchheader clflex flex-column rwidth">
            <div class="batchdetails flex-column">
                <div fxLayout="row" class="clflex rwidth p-l-10 p-r-10 p-t-10 p-b-5">
                    <div fxLayout="row" class="clflex rwidth ">
                        <p class="fs-15 txt-gry title">{{ifarbic == true ? (coursedata.title_ar): (coursedata.title)}}</p>
                    </div>
                </div>
                <div fxLayout="row" class="clflex rwidth statusrow p-l-10 p-r-10">
                    <p class="bor fs-15 txt-gry">Assessment in: <span>{{ifarbic == true ? (coursedata.assessmentin_ar):
                        (coursedata.assessmentin)}}</span></p>
                    <p class="bor fs-15 txt-gry">Request For: <span>{{ifarbic == true ? (coursedata.requestfor):
                        (coursedata.requestfor)}}</span></p>
                    <p class="bor fs-15 txt-gry">Course Level: <span>{{ifarbic == true ? (coursedata.courselevel):
                        (coursedata.courselevel)}}</span></p>
                    <p class="bor fs-15 txt-gry">Course Category: <span>{{ifarbic == true ? (coursedata.coursecategory_ar):
                        (coursedata.coursecategory)}}</span></p>
                </div>
                <div fxLayout="row" class="clflex rwidth statusrow p-l-10 p-r-10 p-b-20">
                    <p class="bor fs-15 txt-gry">Is International Recognition and Accreditation is mandated?: <span>{{coursedata.scm_isintlreorgreq == 1 ? 'Yes': 'No'}}</span></p>
                </div>
            </div>
        </div>
        <div class="cardbtn">
            <button mat-raised-button color="primary" class="applybtn "
                (click)="viewfee();">{{viewname}}</button>
        </div>
        <div id="feediv" class="feediv" style="display: none">
            <p class="title">Fee Subscription</p>
            <p class="subtitle">Main Office</p>
            <table >
                <tr>
                    <td class="txt-gry">Certification Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_cfi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Certification Fee - Renewal (OMR)</td>
                    <td class="pd-l-30">{{main_cfr}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_sefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_srefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Update/Renewal (OMR)</td>
                    <td class="pd-l-30">{{main_sefu}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee -  Update/Renewa (OMR)</td>
                    <td class="pd-l-30">{{main_srefu}}</td>
                </tr>
            </table>

            <p class="subtitle">Branch Office</p>

            <table>
                <tr>
                    <td class="txt-gry">Certification Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_cfi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Certification Fee - Renewal (OMR)</td>
                    <td class="pd-l-30">{{branch_cfr}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_sefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_srefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Update/Renewal (OMR)</td>
                    <td class="pd-l-30">{{branch_sefu}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee -  Update/Renewa (OMR)</td>
                    <td class="pd-l-30">{{branch_srefu}}</td>
                </tr>
            </table>

            <p class="subtitle">Royalty Fee</p>
            <table class="royal">
                <tr>
                    <td class="txt-gry">Is Royalty Fee applicable ?</td>
                    <td *ngIf="isroyal == 1">Yes</td>
                    <td *ngIf="isroyal == 2">No</td>
                </tr>
                <tr *ngIf="isroyal == 1">
                    <td class="txt-gry">Royalty Fee (OMR)</td>
                    <td>{{royal}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="viewcoursetable" fxFlex="100" fxFlex.gt-sm="100" >
        <div class="paginationwithfilter masterPageTop ">
            <mat-paginator class="masterPage masterPageTop" #paginator [length]="subcourselist_length" [pageSize]="5" 
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="syncPrimaryPaginator($event);" ></mat-paginator>
            <div fxLayout="row wrap" fxLayoutAlign="end">
                <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button type="button"  (click)="addsubcourse()" *ngIf="createaccess"
                    class="submit_btn m-r-15">{{'Add' | translate}}</button>
                    <button mat-raised-button type="button" color="primary" (click)="clickEvent();"
                        class="filter">{{filtername}}<i class="opalicon opal-filter fs-15 m-l-7"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100" class="tabforclientelenew">
                <div #TABLE class="awaredtable">
                    <button mat-button [matMenuTriggerFor]="editcolumn" class="editcolumn">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
                        <mat-menu #editcolumn="matMenu" class="master-menu edit-column-menu">
                          <div class="table-config-menu-options" fxLayout="column">
                            <mat-checkbox #editchkbox [(ngModel)]="selectAllVisible"  (change)="selectAllFun($event)"> {{ 'All' | translate}}
                          </mat-checkbox>
                          <ng-container *ngFor="let cd of displayedColumns; let i = index">
                            <mat-checkbox 
                              (click)="$event.stopPropagation()" 
                              [(ngModel)]="cd.visible" #columnchkbox (change)="updateSelectAllVisible(cd)">
                              {{cd.label | translate}}
                            </mat-checkbox>
                        </ng-container>
                          </div>
                      </mat-menu>
                    </button>	
                    <mat-table id="ExampleMaterialTable" #table class="scrolldata" [dataSource]="dataSource"
                        matSort matSortDisableClear (matSortChange)="sorting($event,'')">
                         <!-- new 1 -->
                         <ng-container matColumnDef="coursesubcategory">
                            <mat-header-cell fxFlex="280px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Course Sub-category' | translate}}</mat-header-cell>
                            <mat-cell data-label="coursesubcategory" fxFlex="280px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre"  *ngIf="!tblplaceholder">{{element.coursesubcategory ? element.coursesubcategory : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 2 -->
                         <ng-container matColumnDef="isprint">
                            <mat-header-cell fxFlex="150px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Is Final Permit Card issued ?' | translate}}</mat-header-cell>
                            <mat-cell data-label="isprint" fxFlex="150px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">
                                    <span *ngIf="element.isprint == 1">{{'Yes' | translate}}</span>
                                    <span *ngIf="element.isprint == 2">{{'No' | translate}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 3 -->
                         <ng-container matColumnDef="thyclasslimit">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Theory Class Limit' | translate}}</mat-header-cell>
                            <mat-cell data-label="thyclasslimit" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.thyclasslimit ? element.thyclasslimit : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 4 -->
                         <ng-container matColumnDef="praclasslimit">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Practical Class Limit' | translate}}</mat-header-cell>
                            <mat-cell data-label="praclasslimit" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.praclasslimit ? element.praclasslimit : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 5 -->
                         <ng-container matColumnDef="asclasslimit">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Assessment Class Limit' | translate}}</mat-header-cell>
                            <mat-cell data-label="asclasslimit" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.asclasslimit ? element.asclasslimit : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 7 -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Status' | translate}}</mat-header-cell>
                            <mat-cell data-label="status" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">
                                    <span class="Active" *ngIf="element.status == '1'">{{'Active' | translate}}</span>
                                    <span class="suspended" *ngIf="element.status == '2'">{{'Suspended' | translate}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 8 -->
                        <ng-container matColumnDef="createdOn">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Created On' | translate}}</mat-header-cell>
                            <mat-cell data-label="createdOn" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.createdOn?
                                    (element.createdOn | date : 'dd-MM-yyyy') : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 9 -->
                        <ng-container matColumnDef="createdBy">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Created By' | translate}}</mat-header-cell>
                            <mat-cell data-label="createdBy" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.createdBy?
                                    element.createdBy : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 10 -->
                        <ng-container matColumnDef="lastUpdatedOn">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Last Updated On' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedOn" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.lastUpdatedOn? (element.lastUpdatedOn | date : 'dd-MM-yyyy') : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 11 -->
                        <ng-container matColumnDef="lastUpdatedBy">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Last Updated By' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedBy" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div class="algncentre" *ngIf="!tblplaceholder">{{element.lastUpdatedBy? element.lastUpdatedBy : '-'}}</div>
                            </mat-cell>
                        </ng-container>
                       
                        <!-- new 12 -->
                        <ng-container matColumnDef="action" stickyEnd>
                            <mat-header-cell fxFlex="125px" mat-header-cell *matHeaderCellDef>{{'Action'
                                | translate}}
                            </mat-header-cell>
                            <mat-cell data-label="action" fxFlex="125px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.irm_intlrecogname_en}}
                                    <div class="manageoptions">
                                        <button class="menubutton" mat-icon-button [matMenuTriggerFor]="actionmenu"
                                            aria-label="Example icon-button with a menu">
                                            <mat-icon class="moremenucolor">more_horiz</mat-icon>
                                        </button>
                                        <mat-menu #actionmenu="matMenu"
                                            class="master-menu whentootltipadded table_menu">     
                                            <button type="button" mat-menu-item (click)="viewsubcourse(element.id)" *ngIf="viewacess"><span>{{'View' |translate}}</span></button>
                                            <button type="button" mat-menu-item (click)="editsubcourse(element.id)" *ngIf="updateaccess"><span>{{'Edit' |translate}}</span></button>
                                            <button type="button" mat-menu-item (click)="changestatus(element.id,1)" *ngIf="element.status == 2 && updateaccess">{{'Activate' |translate}}</button>
                                            <button type="button" mat-menu-item (click)="changestatus(element.id,2)" *ngIf="element.status == 1 && updateaccess">{{'Suspend Now' |translate}}</button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 1 -->
                        <ng-container matColumnDef="row-one">
                            <mat-header-cell fxFlex="280px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'select' |
                                        translate}}</mat-label>
                                        <mat-select [formControl]="coursesubcategory" multiple (selectionChange)="searchbatchgrid($event.value,'coursesubcategory')">
                                            <mat-option *ngFor="let list of subcategorylist" [value]="list.scd_subcoursecategorymst_fk">{{list.name}}</mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- new 3 -->
                        <ng-container matColumnDef="row-two">
                            <mat-header-cell fxFlex="150px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' |
                                        translate}}</mat-label>
                                    <mat-select [formControl]="isprint"  multiple (selectionChange)="searchbatchgrid($event.value,'isprint')">
                                        <mat-option [value]="1">{{'Yes' | translate }}</mat-option>
                                        <mat-option [value]="2">{{'No' | translate }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- new 2 -->
                        <ng-container matColumnDef="row-three">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="thyclasslimit" (keyup)="searchbatchgrid($event.target.value,'thyclasslimit')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- 1 -->
                        <ng-container matColumnDef="row-four">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="praclasslimit" (keyup)="searchbatchgrid($event.target.value,'praclasslimit')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- 2 -->
                        <ng-container matColumnDef="row-five">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="asclasslimit" (keyup)="searchbatchgrid($event.target.value,'asclasslimit')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-six">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'select' |
                                        translate}}</mat-label>
                                        <mat-select [formControl]="status" (selectionChange)="searchbatchgrid($event.value,'status')">
                                            <div class="option-listing countryselectwithimage">
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="2">Suspended</mat-option>
                                            </div>
                                        </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-seven">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <div class="drpicker" id="regapp">
                                        <!-- <mat-label>{{'table.sele' |translate}}</mat-label> -->
                                        <input id="login_session" [formControl]="createdOn" (datesUpdated)="serachdate($event,'createdOn')"
                                         #pickers matInput type="text" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  
                                         [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true" 
                                          [showClearButton]="true"  [maxDate]='selected2'  readonly class="form-control" [max]="today"/>
                                        <div class="closeanddateicon">
                                            <mat-datepicker-toggle matSuffix >
                                            </mat-datepicker-toggle>
                                        </div>
                                    </div>
                                    
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-eight">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="createdBy" (keyup)="searchbatchgrid($event.target.value,'createdBy')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-nine">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <div class="drpicker" id="regapp">
                                        <!-- <mat-label>{{'table.sele' |translate}}</mat-label> -->
                                        <input id="login_session" [formControl]="lastUpdatedOn" (datesUpdated)="serachdate($event,'lastUpdatedOn')"
                                         #pickers matInput type="text" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  
                                         [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true" 
                                          [showClearButton]="true"  [maxDate]='selected2'  readonly class="form-control" [max]="today"/>
                                        <div class="closeanddateicon">
                                            <mat-datepicker-toggle matSuffix >
                                            </mat-datepicker-toggle>
                                        </div>
                                    </div>
                                    
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-ten">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="lastUpdatedBy" (keyup)="searchbatchgrid($event.target.value,'lastUpdatedBy')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-eleven" stickyEnd>
                            <mat-header-cell fxFlex="125px" class="serachrow" *matHeaderCellDef
                            style="text-align:center">
                            <i class="fa fa-refresh m-l-15 cursorview" (click)="clearFilter();filtersts=false;"
                                aria-hidden="true" matTooltip="{{'Refresh'|translate}}"></i>
                        </mat-header-cell>
                        </ng-container>

                        <mat-header-row id="headerrowcells" *matHeaderRowDef="getdisplayedColumns()">
                        </mat-header-row>
                           
                        <mat-header-row id="searchrow" *matHeaderRowDef="getdisplayedsearch()">
                        </mat-header-row>
                       
                        <!-- <mat-header-row id="headerrowcells" *matHeaderRowDef="displayedColumns;">
                        </mat-header-row>
                        <mat-header-row id="searchrow"
                            *matHeaderRowDef="['row-firstnew','row-new' ,'row-newone', 'row-first' , 'row-second' , 'row-type', 'row-newtwo', 'row-newthree', 'row-newfour', 'row-newfive','row-newsix', 'row-twelve' ]">
                        </mat-header-row> -->
                        <mat-row mat-row *matRowDef="let row; columns: getdisplayedColumns();"></mat-row>
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="11">
                                <div fxFlex="100" fxLayout="column" [ngClass]="tblplaceholder?'':'nofound'" fxLayoutAlign="center center">
                                    <div fxLayout="row wrap" fxLayoutAlign="center center"  *ngIf="tblplaceholder"
                                    class="NorecordLoader m-t-20"></div>
                                    <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!tblplaceholder" />
                                    <p class="m-t-10 txt-gry3 fs-16" *ngIf="!tblplaceholder ">{{'No Records' | translate}} </p>                                    
                                </div>
                            </td>
                        </ng-container>
                        <ng-container >
                            <mat-footer-row [class.stickyclass]="(subcourselist_length > 0) ? 'none' : 'block'"
                                [style.display]="(subcourselist_length > 0) ? 'none' : 'block' "
                                *matFooterRowDef="['disclaimer']" style="justify-content: center">
                            </mat-footer-row>
                        </ng-container>
                    </mat-table>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
                    <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator">
                        <mat-paginator class="p-r-10" ngClass.xs="block" ngClass.sm="block"
                            class="masterPage masterbottom " showFirstLastButtons [pageSize]="paginator?.pageSize"
                            (page)="syncPrimaryPaginator($event);" [pageIndex]="paginator?.pageIndex"
                            [length]="subcourselist_length" [pageSizeOptions]="paginator?.pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
