@mixin flexcenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  @mixin flexstart {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }
  @mixin flexend {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
  }
  @mixin spacebetween {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  @mixin commancssforptag {
    color: #333;
    font-size: 0.875rem;
    margin: 0;
  }
  
  img[src="null"] {
    display: none;
  }
  img[src="[object Storage]"] {
    display: none;
  }
  .w-50{
      width: 50%;
  }
  .information {
    padding: 0px !important;
    display: block;
    margin: 0;
    .info {
      padding: 15px !important;
      display: flex;
      a {
        text-decoration: underline;
      }
    }
  }
  
  .mat-button-toggle-checked {
    background: #2dbe55;
    color: #fff;
  }
  
  .documentsrow {
    align-items: center !important;
  }
  
  mat-option[aria-label] {
    position: relative;
    font-size: 0.875rem;
    color: #333 !important;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 15px;
    &::after {
      content: attr(aria-label);
      position: absolute;
      bottom: -5px;
      font-size: 0.75rem;
      color: #666666;
    }
  }
  
  .mat-tab-body-content::-webkit-scrollbar {
    width: 0.5em;
    position: absolute;
    right: 0;
  }
  
  .mat-tab-body-content::-webkit-scrollbar-thumb {
    background-color: #b8c3cb;
  }
  
  .organisationinfo {
    background: #fff;
  }
  
  #mastercompanydetail {
    .borderclass {
      border: 5px solid #006cb7;
    }
  }
  .topheadermain {
    @include spacebetween();
    color: #fff !important;
    .imagewithtext {
      @include flexcenter();
    }
  }
  
  
  .cancelandpublish {
    .cancel {
      height: 45px;
      color: #777;
      border: 1px solid #cbcbcb;
      border-radius: 2px !important;
    }
    .publish {
      height: 45px;
      border-radius: 2px !important;
    }
  }
  
  .mat-form-field {
    font-size: 0.9375rem;
  }
  
  ::ng-deep.mat-form-field-infix {
    border-top: 0.54375em solid transparent;
  }
  
  ::slotted .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.22);
  }
  .profilecompleteness {
    p {
      color: #fff;
      font-size: 0.75rem;
    }
    .mat-progress-bar {
      width: 190px;
      margin-bottom: 15px;
    }
  }
  ::ng-deep.mat-progress-bar-fill::after {
    background-color: #71c015 !important;
  }
  
  .progressandhistory {
    @include spacebetween();
    margin-bottom: 10px;
  }
  .pagenumberinprofile {
    border: 1px solid #fff;
    height: 20px;
    min-width: 20px;
    color: #fff;
    border-radius: 10px / 11px;
    background: #2b7db5;
    font-size: 0.75rem;
    width: auto;
    padding: 0 6px;
    @include flexcenter();
    margin-right: 10px;
  }
  .completed {
    background: #71c114;
  }
  .circlecolor {
    background: #71c114;
  }
  .mat-select-panel {
    border-radius: 0;
  }
  
  .mat-option[aria-disabled="true"] {
    background: #006cb7;
    color: #fff;
    height: 35px;
  }
  
  .accrodianheader {
    .header {
      @include flexstart();
    }
  }
  .uploadandcompnayinfo {
    display: flex;
  }
  
  .dropfilesheretoadd {
    padding: 5px;
    border: 1px dashed #999;
    border-radius: 2px;
    div {
      background: #f3f4f6;
      height: 45px;
      @include flexcenter();
      p {
        @include commancssforptag();
        font-family: 'opal_semibold';
        span {
          color: #006cb7;
        }
      }
    }
  }
  .saveandnext {
    background: #ececec;
    border-radius: 2px;
    border: 1px solid #ececec !important;
    color: #999 !important;
    font-size: 0.9375rem;
  }
  .previous {
    @extend .saveandnext;
    background: transparent;
    font-size: 15px !important;
    margin-right: 15px;
    width: auto;
  }
  .viewingcontrols {
    .mat-form-field {
      width: 90px;
    }
  }
  
  ::ng-deep.mat-paginator-container {
    padding: 0 !important;
    font-size: 0.875rem;
    justify-content: flex-start !important;
  }
  .showfilterandadditem button {
    font-size: 14px !important;
  }
  .selectproductheaderwithclose {
    .closeandadd {
      @include flexstart();
    }
    height: 56px;
    .titletext {
      @include spacebetween();
      padding: 10px;
    }
    .clearandaddbutton {
      @include flexstart();
      .clearbutton {
        background: #006cb7;
      }
      .addbutton {
        background: #28b8e7;
      }
    }
  }
  ::ng-deep.mat-drawer-backdrop {
    position: fixed;
  }
  .companyinfomcp {
    @include flexstart();
    align-items: flex-start !important;
  
    img {
      width: 44px;
      height: 44px;
    }
    .lypisid {
      color: #666666;
      font-size: 0.75rem;
    }
    p {
      margin: 0;
      line-height: 1;
      color: #000;
    }
  }
  
  .borderbottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  .innnerpartofdrwer {
    padding-top: 25px;
    padding-left: 75px !important;
    padding-right: 75px !important;
    padding-bottom: 45px !important;
  }
  
  ::ng-deep.mat-select-panel {
    max-height: 400px;
  }
  ::ng-deep.mat-option:hover:not(.mat-option-disabled),
  ::ng-deep .mat-option:focus:not(.mat-option-disabled),
  ::ng-deep.mat-option.mat-selected:not(.mat-option-disabled) {
    background: #cbdcf9 !important;
  }
  ::ng-deep.mat-option.mat-active {
    background: transparent;
  }
  
  
  .nextbutton {
    color: white !important;
    border: none !important;
  }
  
  .certificates {
    display: flex !important;
  }
  :host ::ng-deep.mastercompnaycontent .commonexpandandcollapse .mat-expansion-panel-body {
    padding: 10px !important;
  }
  
  .certiticatecounts {
    justify-content: space-evenly;
    p {
      color: #006cb7;
      font-size: 0.875rem;
    }
  
    .addbutton {
      background: #006cb7;
      font-size: 14px !important;
      @include flexcenter();
    }
  }
  
  .certificateinfo {
    padding-left: 20px;
    p {
      font-size: 0.875rem;
      margin: 0;
      color: #000;
      padding-bottom: 10px;
    }
    .cerlabel {
      color: #999;
    }
    .header {
      color: #333;
      font-size: 1.125rem;
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
  
  .primaryofficeinfo {
    @include spacebetween();
    .officebuilding {
      @include flexstart();
      padding: 20px;
      align-items: flex-start !important;
      width: 100%;
    }
    .addresslabel {
      color: #999;
      font-size: 11px !important;
    }
    .companyandofficeinfo 
    {
      width: calc(100% - 65px);
      .name {
        color: #006cb7;
      }
    }
  }
  .companyandofficeinfo {
    width: calc(100% - 65px);
    p {
      margin: 0;
      font-size: 0.9375rem;
    }
    .crandbranchids {
      @include flexstart();
      padding-top: 10px;
      padding-bottom: 10px;
      .count {
        font-family: 'opal_semibold';
      }
    }
    padding-left: 20px;
    .title {
      color: #999;
      font-size: 0.75rem;
      margin: 0;
      line-height: 0.9;
      padding-bottom: 6px;
    }
    .lablename {
      color: #999;
      font-size: 0.9375rem;
    }
    .name {
      color: #333;
      font-size: 1rem;
      margin: 0;
      line-height: 18px;
    }
  }
  .officeaddressdetail {
    padding-top: 20px;
  
    .addressinfo {
      font-size: 0.9375rem;
    }
  }
  .contactandwebsite {
    @include flexstart();
    align-items: flex-start !important;
    padding-top: 20px;
    p {
      font-size: 0.9375rem;
      padding-bottom: 5px;
    }
    .contact {
      padding-right: 20px;
    }
    .webiste {
      padding-left: 20px;
    }
  }
  .contactdetails {
    @include flexstart();
    padding-top: 15px;
    div {
      padding-right: 30px;
      @include flexstart();
      i {
        color: #9a9a9a;
        padding-right: 10px;
      }
      span {
        color: #333;
        font-size: 0.875rem;
      }
    }
  }
  
  .companydetailwithflag {
    @include spacebetween();
  }
  .certificateimage {
    position: relative;
    width: 65px;
    height: 65px;
    background: #e0f0ff;
    @include flexcenter();
    i {
      color: #006cb7;
      font-size: 1.5625rem;
    }
  }
  .countryandcrinfo {
    @include flexstart();
    padding-top: 10px;
    .eachitem {
      padding-right: 25px;
      .lablename {
        font-size: 12px !important;
      }
      img {
        width: 22px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  
  .searchitembelow {
    @include spacebetween();
    border: 1px solid #ddd;
    height: 50px;
    input {
      height: 100%;
      width: 100%;
      border: none;
    }
  }
  .Paymentcontacthead {
    p {
      color: red;
      margin: 0px;
    }
  }
  ::ng-deep.setcountryflag {
    align-items: center;
  }
  .flagimage img {
    max-width: 24px;
  }
  
  ::ng-deep.countrynameselect {
    .mat-option-text {
      display: flex;
      align-items: center;
      img {
        padding-right: 10px;
      }
    }
  }
  .mapwidth {
    img {
      width: 100%;
    }
  }
  .profilelinkboxshadow {
    box-shadow: 0 0 5px #ddd;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
  }
  .borderflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    padding-top: 5px;
  }
  .pdfview {
    display: flex;
  }
  .Search {
    p {
      color: #a9a9a9;
    }
  }
  .Searchcolor {
    color: #a9a9a9;
  }
  .certificateborder {
    border: 1px dashed #b3b3b3 !important;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .fileherecolor {
      color: #333333;
    }
    .addfilecolor {
      color: #006cb7;
    }
    .uploadpdf {
      color: #989898;
      p {
        color: #989898;
      }
    }
  }
  .pdfbackground {
    background-color: #edf3ff;
  }
  .textcolor {
    color: #006cb7 !important;
  }
  .deleteflexend {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .border {
    border: none !important;
    width: 96% !important;
  }
  .flexoman {
    display: flex;
    align-items: center;
    /* width: 190px; */
    span {
      font-size: 0.9375rem;
      margin-left:4px; 
    }
  }
  .flexserach {
    display: flex;
    align-items: center;
  }
  .iconstyle {
    font-size: 1.125rem;
    color: #006cb7;
  }
  .start {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  .searchinfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 34px;
  }
  
  .pdfimage {
    width: 14px;
    height: 14px;
  }
  .propertytype {
    display: flex;
  }
  @media (max-width: 767px) {
    .countryandcrinfo {
      display: block !important;
      .eachitem {
        padding-right: 0px !important;
        padding-bottom: 15px;
      }
    }
    .certificates {
      display: block !important;
    }
     .companyandofficeinfo {
      padding-left: 0px !important;
    }
    ::ng-deep.masterbottom .mat-paginator {
      display: contents;
    }
    .createresolution {
      padding-top: 42px;
    }
    .selectproductheaderwithclose {
      height: auto !important;
    }
    .selectproductheaderwithclose .titletext {
      display: block !important;
    }
    .selectproductheaderwithclose .closeandadd {
      margin-bottom: 10px;
    }
  
  
    .selectproductheaderwithclose .titletext .bgi-info {
      font-size: 0.75rem;
      margin-left: 4px;
      position: relative;
      top: -1px;
    }
  
    .searchinfo {
      display: block !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .height-35 {
      margin-left: 0px !important;
    }
  
    ::ng-deep.masterPage .mat-paginator-range-label {
      margin: 0 32px 0 12px;
      display: contents !important;
      font-size: 12px !important;
    }
  }
  @media (max-width: 767px) {
    ::ng-deep.masterbottom .mat-paginator-range-label {
      margin: 0 32px 0 12px;
      color: black;
      margin-right: -6px;
      font-size: 0.75rem;
    }
    ::ng-deep.masterPage .mat-paginator-page-size {
      display: flex;
      align-items: baseline;
      margin-right: 0px;
    }
    ::ng-deep.masterbottom .mat-paginator-range-actions {
      display: contents;
    }
    ::ng-deep.masterbottom .mat-paginator-page-size-label {
      font-size: 0.75rem;
    }
    ::ng-deep.masterbottom .mat-paginator-range-label {
      font-size: 0.75rem;
    }
  
    ::ng-deep.masterbottom .mat-paginator-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 56px;
      padding: 0px;
      flex-wrap: wrap-reverse;
      width: 261px;
    }
  }
  @media (max-width: 320px) {
    ::ng-deep.masterbottom .mat-paginator-range-actions {
      display: contents;
    }
    ::ng-deep.masterbottom .mat-paginator-page-size-label {
      font-size: 0.75rem;
    }
    ::ng-deep.masterbottom .mat-paginator-range-label {
      font-size: 0.75rem;
    }
  }
  @media (min-width: 360px) {
    ::ng-deep.masterbottom .mat-paginator-range-actions {
      display: contents;
    }
  
  }
  @media (max-width: 768px) {
    .certificates {
      display: block;
    }
  
    .searchinfo {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
    }
  }
  
  @media (max-width: 1920px) and (min-width: 1080px) {
    .width {
      max-width: 70% !important;
    }
    .widthsecond {
      max-width: 30% !important;
    }
  }
  .widthfiled {
    width: 60%;
  }
  
  
  .eachitem {
    min-width: 200px;
    max-width: 200px;
  }
  
  .tooltipwidth{
      width: 50px;
  }
  .txt-6{
    color: #666;
}
.w-150{
    width: 25px;
}
.pagenumberinprofile {
  border: 1px solid #fff;
height: 20px;
min-width: 20px;
color: #fff;
border-radius: 10px / 11px;
background: #2b7db5;
font-size: 0.75rem;
width: auto;
padding: 0 6px;
  @include flexcenter();
  margin-right: 10px;
}
.completed {
  background: #71c114;
}
.certiticatecounts {
    height: 34px;
    @include spacebetween();
    p {
      color: #333;
      font-size: 0.875rem;
    }
  
    .addbutton {
      background: #006cb7;
      font-size: 14px !important;
      @include flexcenter();
    }
  }
  .insideheader {
    color: #006cb7;
    font-size: 0.9375rem;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 15px;
  }
     
  .saveandnext {
    background: #ececec;
    border-radius: 2px;
    border: 1px solid #ececec !important;
    color: #999 !important;
    font-size: 0.9375rem;
    min-width: 120px;
  }
  .previous {
    @extend .saveandnext;
    background: transparent;
    font-size: 15px !important;
    margin-right: 15px;
    width: auto;
  }
.txt-tropaz {
color: #006cb7 !important;
}
.commonexpandandcollapse .triggeredto#cust1  mat-expansion-panel.mat-expanded{
margin-bottom: 0px !important;
margin-top: 30px !important;
}
.certificateimage {
  width: 85px !important;
}
.addedcertificate{
  &:hover{
    .header,h5 {
      color: #006cb7;
    }
  }
}
.redTxt{
  color: #f4811f;
  cursor: pointer;
}
.royal{
    display: flex;
    justify-content:space-between;
}
.certificateicon{
  z-index: 1;
  height: 85px;
  width: 85px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #e0f0ff;
  border-radius: 3px;
  i{
      color:#006cb7;
      font-size: 2.5rem;
      padding-left: 25px;
  }
}
.cancelandpublish {
  .cancel {
    height: 45px;
    color: #777;
    border: 1px solid #cbcbcb;
    border-radius: 2px !important;
  }
  .publish {
    height: 45px;
    border-radius: 2px !important;
  }
}