.login-panel{
    background: #f6f8fa;
}
.newrestpassword
{
    color: #333;
    a
    {
        color: #0c4fb3;
    }
}
.sentemailinfo {
    
    p {
      padding-left: 0px;
      margin-top: 0;
      margin-bottom: 0;
    padding-bottom: 10px;
    }
    .mailtitle {
      font-size: 0.875rem;
      color: #006cb7;
      padding-bottom: 3px;
    }
  }
  .gotohome
  {
      color: #333;
  }
  .passwordchanged
  {
    font-size: 24px !important;
	color: #3cb43c !important;
  }
.resetsuccess
{
  min-height: 480px;
  .successsvg img
  {
    max-width: 65px;
  }
}
.resendpasswordwarning
{
.warningalert
{
  padding-top:50px;
  padding-bottom: 30px;
  i
  {
    background: #e24242;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.875rem;
  }
}
.successalert
{
  padding-top:50px;
  padding-bottom: 30px;
  i
  {
    background: #3bb43b;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.875rem;
  }
}
.warningtitle
{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e24242;
}
.successtitle
{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3bb43b;
}
.gotohome
{
    color: #333;
}
}