@mixin flexcenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@mixin flexstart {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
@mixin flexend {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}
@mixin flexspace {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.aligncenter {
  align-items: center !important;
}
.topheadermain {
  @include flexspace();
  color: #fff !important;
  .imagewithtext {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.topheadermain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexsame {
  display: flex;
  align-items: baseline;
}
.spancolor {
  color: white;
}
::ng-deep.block .mat-paginator-range-label {
  display: contents;
}
.responsiveblock {
  display: block !important;
}
.flexstartspacing {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
.responsive {
  display: flex !important;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .imagewithtext {
    display: flex !important;
  }
  ::ng-deep.masterbottom .mat-paginator-range-label {
    margin: 0 20px 0 10px;
    font-size: 0.625rem;
  }
  ::ng-deepbody mat-paginator.masterPage {
    margin-bottom: 10px;
}
  ::ng-deep.masterPageTop .mat-paginator-outer-container {
    width: auto !important;
}
  ::ng-deep.masterbottom .mat-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 0px;
    font-size: 0.625rem;
  }
  ::ng-deep.masterbottom .mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    min-height: 56px;
    padding: 0px;
    flex-wrap: wrap-reverse;
    width: 294px;
  }
  ::ng-deep.masterTable .mat-row .mat-cell .mat-success {
    background: #71c015 !important;
    width: 50px;
  }
  ::ng-deep.masterTable .mat-row .mat-cell .mat-error {
    background: #e53935 !important;
    width: 58px;
  }
  ::ng-deep.topheadermain .imagewithtext {
    display: flex !important;
    justify-content: center;
    align-items: center !important;
  }
  ::ng-deep.masterPageTop .mat-paginator-outer-container {
    width: 183px;
    display: flex;
  }
  ::ng-deep.masterbottom .mat-paginator-outer-container {
    display: flex;
    justify-content: center;
  }
  ::ng-deep.masterbottom .mat-paginator-range-actions {
    display: flex !important;
    justify-content: ce !important;
  }
  ::ng-deep.masterPage .mat-paginator-range-label {
    margin: 0 32px 0 6px;
    font-size: 0.75rem;
  }
  ::ng-deep.masterPage .mat-paginator-page-size {
    font-size: 0.75rem;
  }

  label.m-r-20 {
    margin-right: 6px !important;
  }
  .topheadermain {
    display: block !important;
  }
  .topbreadcrumb {
    display: flex !important;
    justify-content: flex-start !important;
  }
 
}
@media (min-width: 550px) {
  .responsiveblock {
    display: flex !important;
  }
  .topheadermain {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  
  ::ng-deep.masterPage .mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    padding: 0px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
}

@media (min-width: 350px) {
  .topheadermain {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
}

::ng-deep .mat-sort-header-button {
  text-align: left;
}
::ng-deep.mat-column-checkall {
  .mat-checkbox-layout {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  ::ng-deep.menumastertable {
    .mat-table .mat-row .mat-cell {
      padding-top: 3px !important;
      padding-bottom: 3px !important;
  }
    .mat-table {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .mat-cell,
    .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0 10px;
      line-break: unset;
      width: 100%;
      overflow: hidden;
      vertical-align: middle;
    }
    .mat-header-cell {
      padding: 15px 10px;
      white-space: nowrap;
    }

    .mat-row,
    .mat-header-row {
      display: table-row !important;
    }
    .stkholdertype {
      min-width: 200px;
      max-width: 250px;
    }
    .submenuclass {
      min-width: 200px;
      max-width: 350px;
    }
    .modulenameclass {
      min-width: 200px;
      max-width: 350px;
    }
    .menutypeclass
    {
      min-width: 170px;
      max-width: 350px;
    }
    .menuurlclass
    {
      min-width:180px;
      max-width: 180px;
    }
     .mat-cell .mat-icon-button {
      text-align: left !important;
    }
  }
}

@media screen and (max-width: 414px)
{
::ng-deepbody .mat-paginator-container {
    padding: 0px;
    margin: 0;
     flex-direction: row !important; 
}
::ng-deepbody .mat-paginator-container .mat-paginator-page-size {
    width: auto !important;
}
::ng-deepbody .mat-paginator-container .mat-paginator-range-actions {
  width: auto !important;
}
}