<div class="ivmsModel pagescroll" #pagescroll>
   <p class="txt-gry3 fs-15">{{"The selected Centre's Location has reached the maximum allowed number of Installations. Please add the required Installation Technicians for approval and get them Certified to register Vehicles for Device Installation." | translate}}</p>
   <p class="txt-gry fs-14">{{'Total Devices Installed in the selected Centre:'| translate}} <span class="txt-gry3 fs-14">{{installation}}</span></p>
   <p class="txt-gry fs-14">{{'Total Installation Technicians available in the selected Centre:' | translate}} <span class="txt-gry3 fs-14">{{technician}}</span></p>
    <p class="txt-gry3 fs-14">{{'The table below shows the Maximum Number of Installations allowed against the number of Installation Technicians:' | translate}}</p>
    <table>
        <tbody>
            <th>{{'No of Technicians' | translate}}</th>
            <th>{{'Max No of Installations' | translate}}</th>
            <tr>
                <td>1</td>
                <td>100</td>
            </tr>
            <tr>
                <td>2</td>
                <td>800</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1400</td>
            </tr>
            <tr>
                <td>4</td>
                <td>2100</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2700</td>
            </tr>
            <tr>
                <td>6</td>
                <td>3400</td>
            </tr>
            <tr>
                <td>7</td>
                <td>4100</td>
            </tr>
            <tr>
                <td>8</td>
                <td>4700</td>
            </tr>
            <tr>
                <td>9</td>
                <td>5400</td>
            </tr>
            <tr>
                <td>10</td>
                <td>6000</td>
            </tr>
            <tr>
                <td>11</td>
                <td>6700</td>
            </tr>
            <tr>
                <td>12</td>
                <td>7300</td>
            </tr>
            <tr>
                <td>13</td>
                <td>8000</td>
            </tr>
            <tr>
                <td>14</td>
                <td>8600</td>
            </tr>
            <tr>
                <td>15</td>
                <td>9300</td>
            </tr>
            <tr>
                <td>16</td>
                <td>9900</td>
            </tr>
        </tbody>
    </table>
    <p class="txt-gry fs-15">{{"Please contact OPAL USP team via ‘usp@opaloman.com’, for adding additional Installation Technician." | translate}}</p>
   
   
   
</div>
<div fxLayout="row" fxLayoutAlign="end center" class="p-b-10 p-r-10 p-t-10 p-b-10 buttonGroup" fxLayoutGap="15px">
    <!-- <button mat-raised-button (click)="close()" class="transformbtn">{{'Update Later' | translate}}</button>
    <button mat-raised-button (click)="close()" class="submit_btn" color="primary">{{'Update Now' | translate}}</button> -->
<button mat-raised-button (click)="close()"  color="primary">{{'Ok' | translate}}</button>
</div>