<div class="headerstylings">
    <div class="topheaderimage">
        <div class="completebanner">
            <div class="leftsiddebanner">
                <div class="makeitright p-t-40 m-l-60">
                    <img src="assets/images/JSRSlogologin.png" alt="OPAL logo">
                </div>
            </div>
            <div class="rightsidebanner">
                <div class="innerrightbanner">
                    <div class="textalignend m-b-10 m-t-22">
                        <p class="helplinect fs-16  lypisfont-bold p-l-10 m-0">Sultanate of Oman</p>
                        <img src="assets/images/flags/31.png" alt="lybiyaflagimage">
                    </div>
                    <img class="flaglypis" src="assets/images/Flagbig.png" alt="Country Flag">
                    <div class="regcontentbanner">
                        <div class="leftregcontrent position">
                            <mat-list class="menulistitems" role="list">
                                <mat-list-item role="listitem"><a href="javascript:void(0)"><i
                                            class="bgi bgi-home" matTooltip="Home" matTooltipPosition="below"></i></a>
                                </mat-list-item>
                                <mat-list-item role="listitem"><a href="javascript:void(0)">About</a></mat-list-item>
                                <mat-list-item role="listitem"><a href="javascript:void(0)">Platforms</a>
                                </mat-list-item>
                                <mat-list-item role="listitem"><a href="javascript:void(0)">Media </a></mat-list-item>
                                <mat-list-item role="listitem"><a href="javascript:void(0)">Contact</a></mat-list-item>
                                <!-- <mat-list-item class="forsearchitem" role="listitem"><a href="javascript:void(0)">
                        <i class="bgi bgi-search"></i>
                      </a></mat-list-item> -->
                            </mat-list>
                        </div>
                        <div class="rightregcontent">
                            <button disabled type="button" routerLink="/registration/index" mat-raised-button
                                color="primary" class="registerbtn m-r-15 lh-1">Register</button>
                            <button type="button" routerLink="/admin/login" mat-raised-button color="primary"
                                class="loginbutton lh-1">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-responseloader class="processloader" *ngIf="showLoader"></app-responseloader>
    <app-transactionsucess [error_type]="error_type" [pymtResponseDtls]="responseData" [classification]="classification" [country]="country" [module]="module" [sameUser]="sameUser"></app-transactionsucess>
    <div class="regfooter">
        <div class="login_footer" fxFlex="100" fxFlex.gt-xs="90" fxFlex.gt-md="83.33">
            <div class="login_footer_left" fxHide="true" fxHide.gt-md='false'>
                <ul>
                    <li>
                        <a href="#">Terms of Service</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Help Center</a>
                    </li>
                    <li>
                        <a href="#" class="m-r-20"><i class="bgi bgi-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="m-r-20"><i class="bgi bgi-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="bgi bgi-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="login_footer_right">
                <span>All Rights Reserved &copy; Business Gateways International 2022.</span>
            </div>
            <div class="drivenalign">
                <P class="fs-14 m-0 p-t-38">Driven by </P>
                <img src="assets/images/bgi.svg" alt="Business Gateways International">
            </div>
        </div>
    </div>
</div>