#pass_change {
    background-color: #ffff;

    .txt-gry {
        color: #262626;
    }

    .txt-gry3 {
        color: #848484;
    }

    .txt-red {
        color: #ED1C27;
    }

    .content_box {
        background-color: #ffff;

        .card {
            box-shadow: 0 2px 11px 2px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
            padding: 30px;
            text-align: center;
            border-radius: 5px;
        }

    }

    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            color: #d9d9d9;
        }

        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }

        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }

        .mat-form-field-required-marker {
            color: #ED1C27;
        }

        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;
        }

        &.mat-focused {
            .mat-form-field-outline-thick {
                color: #0c4b9a;
                background-color: #f8f8f8;
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        color: #0c4b9a;
                    }
                }
            }
        }

        &.mat-form-field-disabled {
            .mat-form-field-outline {
                background-color: #f8f8f8;
            }
        }


        &.mat-form-field-invalid.mat-form-field-invalid {
            .mat-form-field-outline-thick {
                color: #dc4c64;
                background-color: #f8f8f8;
            }
        }

        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    transform: translateY(-.9rem) scale(0.75);
                    color: #848484;

                    .mat-form-field-required-marker {
                        color: #ED1C27;
                    }
                }

                .mat-form-field-outline-gap {
                    width: 0px !important;
                }
            }
        }
    }

    .savebtn {
        height: 45px;
        border-radius: 2px;
    }

    .mat-raised-button {
        box-shadow: none !important;
        border-radius: 2px !important;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
    }

    .mat-form-field {
        &.mat-form-field-invalid {
            .mat-form-field-label {
                color: #dc4c64 !important;
            }
        }
    }

    .cancelbtn {
        min-width: 110px;
        background-color: #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
    }

    .subbtn {
        min-width: 110px;
        color: #FFf;
        padding-left: 0px;
        padding-right: 0px;

        button {
            background-color: #21497c;
            height: 45px;
            border-radius: 2px !important;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .previousdisabled {
        background-color: #ececec !important;
        height: 45px;
        border-radius: 2px !important;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999 !important;
        span.button-text {
            color: #999 !important;
            font-size: 1rem !important;
        }
    }
    .resentbtn {
        background-color: transparent !important;
        border: none;
        color: #21497c;
        cursor: pointer;
    }

    .procbtn {

        color: #ffffff;
        min-width: 110px;

        button {
            background-color: #ED1C27;
            height: 45px;
            border-radius: 2px !important;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .submitbtns {
        height: 46px;
        border-radius: 2px;
        background-color: #ed1c27;
        color: #fff;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .button-text {
            font-size: 1rem !important;
        }
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divouter {
        width: 100%;

        .flexalign.divinner {
            display: flex;
            justify-content: center;
            left: 0;
            position: sticky;
            max-width: 100%;

            #partitioned {
                text-align: left;
                padding-left: 16px;
                letter-spacing: 62px;
                border: 0;
                min-width: 303px;
                outline: none;
                position: relative;
                top: 5px;
               
            }
        }
        .mat-form-field-flex {
            width: 266px;
            overflow: hidden;
        }
        .mat-form-field-infix {
            position: sticky;
            left: 0px;
        }
    }
    .otpfield {
        display: block;
        height: 12px;
        width: 261px !important;
        background-image: linear-gradient(to left, black 69%, rgba(255, 255, 255, 0) 0%) !important;
        background-position: bottom;
        background-size: 70px 1px;
        background-repeat: repeat-x;
        background-position-x: 47px;
    }

    .successtick {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            height: 64px;
            width: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background: #fff;
            border: 2px solid #169955;
            color: #169955;

            .mat-icon {
                font-size: 43px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    button {
        .spinner {
            top: auto !important;
            bottom: auto !important;
        }

        .mat-progress-spinner.mat-warn circle,
        .mat-spinner.mat-warn circle {
            stroke: #fff !important;
        }

        // background: #ED1C27;
        color: #fff;
    }



    .popover.popover-content.bs-popover-left {
        margin-left: 0px !important;
        left: 0px !important;
        padding: 10px;
        width: 90% !important;
        margin-top: 10px;
        top: 35% !important;
        transform: translateY(-10%);
    }

    .popover.popover-content.bs-popover-left .arrow::before,
    .popover.popover-content.bs-popover-left .arrow::after {
        border-width: 15px 0px 15px 15px !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .popover.popover-content {
        background-color: #ffff;
        box-shadow: 0 0.2rem 0.4rem 0 rgb(0 0 0 / 15%);
        border: none;
        padding: 0;
        z-index: 1060;
        max-width: none;
        border-radius: 0rem;
        font-family: "opal_regular";
        font-size: "12px";
        border-radius: 2px;
    }

    .popover.popover-content.sm {
        max-width: 20rem;
        min-width: 150px;
        width: auto;
    }

    .popover {
        position: absolute;
    }

    .popover.popover-content.sm {
        max-width: 20rem;
        min-width: 150px;

    }


    .pophoverlisted .containcolor {
        list-style-type: none;
        padding: 0px;
    }

    .pophoverlisted .containcolor li {
        position: relative;
        font-size: 0.875rem;
        margin: 0px;
        padding-left: 18px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .pophoverlisted .unmatched::before {
        font-family: FontAwesome;
        content: "";
        color: red !important;
    }

    .pophoverlisted li::before {
        font-family: FontAwesome;
        content: "";
        position: absolute;
        left: 0px;
        display: flex;
        color: #666666;
        font-size: 0.625rem;
    }

    .containcolor {
        list-style-type: none;
        padding: 0px;

        li {
            position: relative;
            font-size: 0.875rem;
            margin: 0px;
            padding-left: 18px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }
    }

    .matched::before {
        font-family: FontAwesome;
        content: "\f10c";
        color: #78c320 !important;
    }

    .unmatched::before {
        font-family: FontAwesome;
        content: "\f10c";
        color: red !important;
    }

    li::before {
        font-family: FontAwesome;
        content: "\f10c";
        position: absolute;
        left: 0px;
        display: flex;
        color: #666666;
        font-size: 0.625rem;
    }

    .spacesuport {
        padding-left: 60px;

        .textalign {
            text-align: center;
        }

        .passwordheadcolor {
            position: relative;

            h2 {
                color: #333333;
                font-family: 'opal_semibold';
                font-size: 0.875rem;
                margin: 0px;
            }

            p {
                @extend h2;
                color: #666666 !important;
                margin: 0px;
                font-size: 15px !important;
                padding-bottom: 5px;
            }
        }
    }

    .banner {
        background-image: url("~/assets/images/opalimages/backbanner.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 555px;
    }

    .login_footer {
        margin-top: -11%;
    }
}
[dir=rtl] {
    #pass_change {
        .divouter  {
            .mat-form-field-flex {
                width: 306px !important;
            }
        }
        #partitioned {
            left: 40px;
            text-align: right !important;
        }
    }
}