@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }
  @mixin flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
  }
  @mixin flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
  }
  @mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
  }
  @mixin commancssforptag {
    color: #333;
    font-size: 0.875rem;
    margin: 0;
  }

.background {
    background-color: #fff;
    min-height: 410px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
     .mat-tab-list {
        min-height: 50px !important;
        padding: 20px 15px !important;
        cursor: pointer;
        box-sizing: border-box;
        opacity: initial;
        min-width: 160px;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        text-align: left !important;
        position: relative;
    }
    .mat-tab-label-container {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        z-index: 1;
        height: 46px;
    }
    .inactive {
        background-color: #777777;
        color: #fff;
        border-radius: 2px;
    }
    .active {
        background-color: #50af49;
        color: #fff;
        border-radius: 2px;
    }
    .certified {
        background-color: #50af49;
        color: #fff;
        border-radius: 2px;
    }
    .yettocertify {
        background-color: #1e99f7;
        color: #fff;
        border-radius: 2px;
    }
    .pending {
        background-color: #1e99f7;
        color: #fff;
        border-radius: 2px;
    }
    .progress {
        background-color: #fc9202;
        color: #fff;
        border-radius: 2px;
    }
    .yettovalidate {
        background-color: #fc9202;
        color: #fff;
        border-radius: 2px;
    }
    .declined {
        background-color: #f23f3a;
        color: #fff;
        border-radius: 2px;
    }
    .spancolor {
        color: white;
    }
    .topheadermain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flexsame {
        display: flex !important;
        align-items: baseline;
    }
     .mat-ink-bar {
        position: absolute;
        bottom: 0;
        height: 2px;
        display: none;
        transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    }
    body .masterTable .mat-header-row {
        margin-right: 0 !important;
        padding: 10px 18px;
        background-color: #e0f0ff;
        border: none;
        min-height: auto;
        line-height: 16px;
        min-height: 40px;
    }
    body .masterTable .mat-header-row .mat-header-cell {
        color: #333333;
        font-size: 0.875rem;
        font-family: 'opal_semibold';
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .afterpanel::after {
        content: "";
        border-top: 18px solid #353b47;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        bottom: 240px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        visibility: auto;
        left: 47px;
    }
    .afterpanelaction::after {
        content: "";
        border-top: 18px solid #353b47;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        bottom: 172px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        visibility: auto;
        left: 47px;
    }
    .panelselection {
        position: relative;
    }
    .Certifiedcolor {
        width: auto !important;
        height: auto !important;
        font-weight: normal !important;
        background: #50af49;
        color: #fff;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .edit::after {
        font-family: "bgi-icon" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e908";
        position: absolute;
        color: #8594a8;
        font-size: 8px;
        top: -4px;
        margin-left: 8px;
        cursor: pointer;
    }
    .edit {
        position: relative;
        display: none;
    }
    .mat-menu-item:hover:not([disabled]),
    .mat-menu-item.cdk-program-focused:not([disabled]),
    .mat-menu-item.cdk-keyboard-focused:not([disabled]),
    .mat-menu-item-highlighted:not([disabled]) {
        background: transparent;
    }
    .paginationwithfilter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .coloricon {
        color: #1e4678;
    }
    .protablewithbottomscroll{
        .mat-row:hover .mat-cell {
            color: #57626E;
            background: #f4f6f9; 
        }
        display: block;
        overflow-x: auto;
        .lypiscodeclmn {
            min-width: 128px !important;
            flex: auto !important;
        }
        .projectowneridclmn
        {
            min-width: 143px !important;
            flex: auto !important;
        }
        .companynameclmn {
            min-width: 245px !important;
            flex: auto !important;
        }
        .projectrefnoclmn
        {
            min-width: 134px !important;
            flex: auto !important;
        }
        .countrynameclmn
        {
            min-width: 126px !important;
            flex: auto !important;
        }
        .emailidclmn
        {
            min-width: 220px !important;
            flex: auto !important;  
        }
        .projecnameclmn
        {
            @extend .emailidclmn;
        }
        .secotorclmn
        {
            min-width: 120px !important;
            flex: auto !important;
        }
        .registeredonclmn
        {
            @extend .countrynameclmn;
        }
        .validatedonclmn
        {
            @extend .countrynameclmn;
        }
        .memberstatusclmn
        {
            min-width: 160px !important;
            flex: auto !important; 
        }
        .actionclmn
        {
            min-width: 80px !important;
            flex: auto !important; 
        }
       .mat-row {
            width:fit-content;
            display: inline-flex ;
        }
         .mat-header-row .mat-header-cell {
            padding: 15px 18px;
            background-color: #e0f0ff;
        }
         .mat-header-row  {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            width:fit-content;
        }
    
    .noducumentaddedyet {
        text-align: center;
         margin: 0px !important; 
    }
     .popover.popover-content .popover-body {
        color: #333;
        font-size: 0.75rem;
        line-height: 1.5;
    }
    .popover.popover-content.bs-popover-bottom .arrow::after, .popover.popover-content.bs-popover-bottom-right .arrow::after, .popover.popover-content.bs-popover-bottom-left .arrow::after {
        top: 0rem;
        border-bottom-color: #fff;
    }
     .popover.popover-content.bs-popover-bottom .arrow::before, .popover.popover-content.bs-popover-bottom-right .arrow::before, .popover.popover-content.bs-popover-bottom-left .arrow::before {
        border-bottom-color: #fff;
    }
    .popover.popover-content.bs-popover-bottom .arrow::before, .popover.popover-content.bs-popover-bottom .arrow::after, .popover.popover-content.bs-popover-bottom-right .arrow::before, .popover.popover-content.bs-popover-bottom-right .arrow::after, .popover.popover-content.bs-popover-bottom-left .arrow::before, .popover.popover-content.bs-popover-bottom-left .arrow::after {
        top:-2px;
        border-width: 0 8px 8px 8px;
    }
     .popover.popover-content.bs-popover-bottom .arrow:before, .popover.popover-content.bs-popover-bottom .arrow:after, .popover.popover-content.bs-popover-bottom-right .arrow:before, .popover.popover-content.bs-popover-bottom-right .arrow:after, .popover.popover-content.bs-popover-bottom-left .arrow:before, .popover.popover-content.bs-popover-bottom-left .arrow:after {
        top: -2px !important;
    }
    }

    .memberstatusclmn{
        cursor: pointer;
    }
    .fiedcolor {
        color: #fff;
    }
    .Certifiedcolor {
        line-height: 1.5;
        padding: 5px 10px !important;
        height: auto;
        margin-left: 0 !important;
        background: #1e99f7 !important;
    }
    .memberstatusclmn
    {
        mat-chip
        {
            padding-left: 5px;
            padding-right:5px;
        }
        .mat-chip-list-wrapper
        {
            margin: 0 !important;
        }
    }
    .applybtn{
        background-color: #006cb7;
        color: #fff;
        font-size: 0.875rem;
        width: 50px;
        height: 35px;
        border-radius: 2px !important;
    }
    .cancelbtn{
        background-color:#ececec;
        color:#666666;
        font-size:14px;
        font-family:calibri;
        height: 35px;
        border-radius:2px !important;
        width:50px;
    }
   .noducumentaddedyet {
        text-align: center;
         margin: 0px !important; 
    }
    .maticonview{
        color: #666666;
      }
 }

@media (max-width: 767px) {
   .masterbottom .mat-paginator-range-label {
        margin: 0 0px 0 0px !important;
    }
    .background {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .masterTable {
        padding: 10px !important;
        .mat-row {
            width:100%;
            display: initial !important;
        }
    }
    .paginationwithfilter{
        display: block !important;
        padding-left: 10px;
    }
    .mat-chip-list{
        margin-top: 10px;
    }
    .mat-row {
        display: initial !important;
    }
}
@media (max-width: 768px) {
    .mat-chip-list{
        margin-top: 10px;
    }
    .mat-row {
        display: initial !important;
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    .mat-row {
        display: initial !important;
    }
    .background .masterTable .mat-cell {
        justify-content: flex-start;
        display: flex !important;
        position: relative;
        font-weight: bold;
        max-width: 100% !important;
        border-bottom: 1px solid #ddd;
        flex: 100% !important;
        justify-content: space-between;
        display: flex !important;
        text-align: left !important;
        padding: 10px !important;
        padding-top: 30px !important;
        position: relative;
        
    }
   .background .masterTable .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        font-weight: normal;
        text-align: left !important;
        min-width: 100px;
        padding-right: 15px;
        width: 100%;
        position: absolute;
        top: 10px;
    }
   .masterTable .mat-table .mat-header-row {
        display: none !important;
       
    }
    .mat-chip-list{
        margin-top: 10px;
    }
}

