#standard_customized {
    .red {
        color: #ed1c27 !important;
    }   
    .close {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        color: #262626;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .mat-input-element:disabled {
        cursor: no-drop;
    }
    .addtioanlValues {
        cursor: pointer !important;
         }
         .remark {
            textarea.mat-input-element {
                height: 100px;
            }
         }
    .clearbtn {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        background-color: none;
        border: 1px solid #d9d9d9;
    }
    .remove {
        background: none;
        border: none;
        display: flex;
        align-items: center;
    }
    .addbtn {
        background: none;
        border: none;
        display: flex;
        align-items: center;
    }
    .projlstngph {
        span {
            display: block;

            &.tphid {
                width: 30%;
                height: 12px;
                margin-top: 12px;
            }

            &.tphtitle {
                width: 60%;
                height: 12px;
                margin-top: 12px;
            }

            &.tphtype {
                width: 20%;
                height: 12px;
                margin-top: 12px;
            }

            &.tphstatus {
                width: 100px;
                height: 12px;
                margin-top: 12px;
            }

            &.tphcount {
                width: 40px;
                height: 12px;
                margin-top: 12px;
            }

            &.tphdesp {
                width: 100%;
                height: 12px;
                margin-top: 12px;
            }
        }

        .tphmore {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #999;
        }

        .docrow {
            display: flex;
            width: 100%;

            .docimg {
                width: 80px;
                height: 80px;
                margin-right: 20px;
            }

            .doccontent {
                display: flex;
                flex-direction: column;

                .doctitle {
                    width: 50%;
                    height: 12px;
                }

                .doccol {
                    display: flex;
                    flex-direction: row;

                    .doccoldata {
                        width: 25%;
                        margin-right: 30px;
                        display: flex;
                        flex-direction: column;

                        .docdate {
                            width: 150px;
                            height: 12px;
                        }
                    }
                }

            }
        }

        hr {
            width: 100%;
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }

        .targetjustify {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .pager {
                width: 25%;
                height: 32px;
            }

            .search {
                width: 25%;
                height: 32px;
            }
        }

        .tablerow {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            width: 100%;

            .tabletitle {
                width: 18%;
                margin-right: 2%;
                height: 32px;
            }
        }

        .project-lst {
            border: 1px solid rgba(204, 204, 204, 0.5);
            border-radius: 4px;
            background-clip: padding-box;
            background-color: #fff;
            min-height: 242px;
            width: 100%;
            padding: 0px;
            margin-top: 20px;

            .project-lst-header {
                min-height: 180px;
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 15px;
                position: relative;

                .projimg {
                    width: 160px;
                    height: 160px;
                    margin-right: 20px;
                }

                .projdet {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 160px);
                }
            }

            .project-lst-footer {
                min-height: 60px;
                border-radius: 2px;
                background-clip: padding-box;
                background-color: #ebeff5;
                padding: 8px 0px !important;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .listsector {
        .viewclear {
            min-width: 165px;
            height: 40px;
        }

        .leftmainspace {
            .subcontent {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;

                .widthoffirst {
                    width: 50%;
                    height: 55px;
                    margin-bottom: 25px;
                }

                .secondwidth {
                    @extend .widthoffirst;
                    width: 100% !important;
                }

                .sectorheight {
                    @extend .widthoffirst;
                    width: 100% !important;
                    height: 45px !important;
                    margin-bottom: 6px !important;
                }

                .firstviewcontent {
                    p {
                        width: 35%;
                        height: 20px;
                        margin-bottom: 20px;
                    }
                }

                .descriptitlesector {
                    p {
                        width: 20%;
                        height: 15px;
                        margin-bottom: 20px;
                    }

                    .descriptioncontent {
                        @extend .widthoffirst;
                        width: 100% !important;
                        height: 85px !important;
                    }
                }
            }
        }

        .clearpro {
            min-width: 80px;
            height: 40px;
        }

        .addviewload {
            @extend .clearpro;
            min-width: 95px !important;
        }

        .alignload {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .addviewload .heightofbtn {
            height: 40px;
        }

    }

    .placeholder-content {
        height: 320px;
        background: #000;
        position: relative;
        // Animation
        animation-duration: 1.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: placeholderAnimate;
        background: #f6f7f8; // Fallback
        background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
        background-size: 1300px; // Animation Area
    }

    .placeholder-content_item {
        width: 100%;
        height: 20px;
        position: absolute;
        z-index: 2;
    }

    .placeholder-content_item:after,
    .placeholder-content_item:before {
        width: inherit;
        height: inherit;
        content: "";
        position: absolute;
    }

    @keyframes placeholderAnimate {
        0% {
            background-position: -650px 0;
        }

        100% {
            background-position: 650px 0;
        }
    }

    .pagetitle {
        background: #000;
        position: relative;
        // Animation
        animation-duration: 1.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: pagetitleAnimate;
        background: #f6f7f8; // Fallback
        background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
        background-size: 1300px; // Animation Area
    }

    .pagetitle:before {
        width: inherit;
        height: inherit;
        content: "";
        position: absolute;
    }

    @keyframes pagetitleAnimate {
        0% {
            background-position: -650px 0;
        }

        100% {
            background-position: 650px 0;
        }
    }

    margin-bottom: 11%;

    .errors {
        color: #dc4c64;
    }

    .mat-checkbox-disabled {
        opacity: 0.5;
        cursor: no-drop;
        background-color: #f8f8f8;
    }

    #standard_course {
        .approved {
            color: #00a551;
        }

        .update {
            color: #0c4b9a;
        }

        .declined {
            color: #ed1c27;
        }

        .new {
            color: #f4811f;
        }

        .requiredfiels {
            h4 {
                color: #262626;
            }

            .yesno {
                display: flex;
                align-items: center;

                p {
                    color: #848484;

                    span {
                        color: #dc4c64;
                    }
                }

            }
        }

        .yesno {
            display: flex;
            align-items: center;

            p {
                color: #848484;

                span {
                    color: #dc4c64;
                }
            }

        }

        .readonlyfield {
             pointer-events: none;
            .mat-form-field-outline {
                background-color: #f8f8f8 !important;
                cursor: no-drop !important;
            }

            input[readonly] {
                cursor: no-drop !important;

            }
            .mat-select-arrow:before {
                display: none;
            }
        }

        .txt-gry {
            color: #848484;
        }

        .txt-gry3 {
            color: #262626 !important;

        }

        #profile {
            .hint {
                width: 168px;
                word-break: break-word;
            }

            #uploaded {
                .filers {
                    .mat-form-field {
                        width: 162px !important;
                        height: 162px !important;
                    }

                    input.mat-input-element {
                        margin-top: 0rem !important;
                    }

                    .mat-form-field-appearance-outline {
                        .mat-form-field-outline-thick {
                            color: #999999;
                        }

                        .mat-form-field-flex {
                            padding: 0px !important;
                        }

                        .mat-form-field-infix {
                            padding: 0 2px !important;
                            border-top: 0.4em solid transparent !important;
                        }

                        .mat-form-field-outline-start {
                            border: 1px solid currentcolor !important;
                            border-radius: 1px !important;
                        }

                        .mat-form-field-outline-end {
                            border: 1px solid currentcolor !important;
                            border-radius: 1px !important;
                        }

                        .mat-form-field-wrapper {
                            padding-bottom: 0px;
                        }
                    }

                    mat-label {
                        color: #999999;

                        span {
                            color: #ED1C27;
                        }
                    }

                    .mat-form-field label {
                        text-align: center;
                        margin-top: 1px;
                    }

                    input {
                        &.mat-input-element {
                            background-color: #fff;
                            text-align: center;
                            height: 162px !important;
                            width: 162px !important;
                            margin-bottom: 2px !important;
                        }
                    }

                    .mat-form-field-suffix {
                        top: -0.75em;
                    }
                }

                .document {
                    mat-label {
                        color: #999999;
                    }

                    img {
                        width: 20px;
                    }

                    mat-icon {
                        color: #999999;
                    }

                    .mat-form-field-wrapper {
                        padding-bottom: 0px;
                    }

                    .mat-form-field-outline-start {
                        border: none !important;
                        border-radius: 1px !important;
                    }

                    .mat-form-field-outline-end {
                        border: none !important;
                        border-radius: 1px !important;
                    }

                }
            }
        }

        .mat-radio-button {
            .mat-radio-outer-circle {
                border-color: #d9d9d9;

            }

            &.mat-accent {
                .mat-radio-inner-circle {
                    background-color: #e20613 !important;
                }

                &.mat-radio-checked {
                    .mat-radio-outer-circle {
                        border-color: #d9d9d9;

                    }
                }
            }
        }

        .mat-radio-label-content {
            color: #000000cc;
            font-size: 16px;
        }

        .mat-cell {
            color: #262626;

            .document_img {
                width: 32px;
            }

            .viewdocument {
                cursor: pointer;
            }
        }

        .daterangetime {
            .md-drppicker {

                width: 650px;
                right: 0 !important;
                margin-top: 20px;
            }
        }

        .closeanddateicon {
            display: flex !important;
            align-items: center !important;
        }

        .mat-raised-button {
            border-radius: 2px;
            box-shadow: none;
            font-size: 16px;
        }

        .submit_btn {
            background-color: #ED1C27 !important;
            color: #fff !important;
            min-width: 110px;
            height: 45px;
        }

        .setup_btn {
            background-color: #848484 !important;
            color: #fff !important;
            min-width: 110px;
            height: 45px;
        }

        .cancelbtn {
            min-width: 110px;
            background-color: #e8e8e8;
            color: #262626;
            padding-left: 0px;
            padding-right: 0px;
            height: 45px;
        }

        .mat-ink-bar {
            width: 0px !important;
        }

        .mat-tab-header {
            border: 0px;
        }

        .mat-tab-label-active {
            background-color: #0c4b9a !important;
            color: #fff !important;

            .contentcircle {
                color: #ffffff !important;
                border: 1px solid #fff !important;
            }

            p {
                color: #ffffff !important;
                span{
                    color: #ffffff !important;
                }
            }
        }

        .file_upload {
            #uploaded {
                display: flex;

                @media (max-width: 1279px) {
                    display: block;
                }

                .filers {
                    width: 50%;

                    @media (max-width: 1279px) {
                        width: 100%;
                    }
                }

                .document {
                    width: 50%;
                    padding-left: 30px;

                    .mat-form-field-appearance-outline {
                        .mat-form-field-outline-start {
                            display: none;
                        }

                        .mat-form-field-outline-end {
                            display: none;
                        }

                        .mat-form-field-suffix {
                            left: -239px;
                        }
                    }

                    @media (max-width: 1279px) {
                        width: 100%;
                        padding-left: 0px;
                    }

                    .close_icons {
                        display: block;
                    }

                    .delete_icon {
                        display: none;
                    }

                    .view_btn {
                        display: block;
                        color: #848484;
                    }
                }
            }
        }

        .workcheckbox {
            display: flex;
            align-items: center;

            .mat-checkbox-inner-container {
                width: 20px;
                height: 20px;
            }

            .mat-checkbox-checked {
                &.mat-accent {
                    .mat-checkbox-background {
                        background-color: #0c4b9a !important;
                    }
                }
            }

            .mat-checkbox-frame {
                border: 1px solid #c4c4c4;
            }
        }

        .mat-slide-toggle {
            &.mat-checked {
                .mat-slide-toggle-thumb {
                    background-color: #00a551;
                }

                .mat-slide-toggle-bar {
                    background-color: #00a55062;
                }
            }
        }

        .mat-tab-label {
            opacity: 1;
            border-radius: 2px;
            background-clip: padding-box;
            background-color: #eaedf2;
            margin-right: 5px;
            height: 80px;
            justify-content: flex-start;
            padding:0 10px;
            min-width: 125px;
            &:nth-child(2){
                width: 250px;
            }

        }

        .mat-tab-list {
            opacity: 1;
            min-width: auto !important;
            padding: 0px !important;
            justify-content: flex-start;
        }

        .mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
            cursor: no-drop;
            opacity: 0.5;
        }

        .mat-card {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            position: relative;

            .mat-card-content {
                img {
                    width: 100px;
                    height: 100px;
                }

                .cardinfo {
                    h4 {
                        color: #262626;
                    }

                    .centre_info {
                        gap: 30px;

                        p {
                            color: #848484;

                            span {
                                color: #262626;
                            }
                        }
                    }
                }
            }

            .cardbtn {
                position: absolute;
                margin-top: -34px;
                width: 93%;
                border-radius: 20px;
                display: flex;
                align-items: baseline;
                justify-content: end;

                button {
                    border-radius: 20px;
                }
            }
        }

        .tabscontent {
            display: flex;
            align-items: center;
            justify-content: center;

            .contentcircle {
                width: 28px;
                height: 28px;
                min-width: 28px;
                border-radius: 50%;
                display: flex;
                justify-content: center !important;
                align-items: center !important;
                background-clip: padding-box;
                background-color: transparent;
                color: #848484;
                box-shadow: 0 0 8px rgb(51 51 51 / 15%);
                border: 1px solid #848484;
            }

            .tabtitle {
                p {
                    color: #262626;
                    text-align: left;
                    white-space: normal;
                    span {
                        color: #ed1c27;
                    }
                }
            }
        }

        .subtitleform {
            font-weight: 700;
        }

        .title {
            h4 {
                color: #0c4b9a;
            }

            .subtitle {
                h4 {
                    color: #262626;
                }
            }

            .line {
                flex: 4;

                .mat-divider {
                    width: 12%;
                    border-top-width: 3px;
                    border-color: #ED1C27;
                }
            }
        }

        .mat-input-element {
            color: #262626;
        }

        .mat-form-field-appearance-outline {
            .mat-form-field-outline {
                color: #d9d9d9;
                background-color: #ffffff;
            }

            .mat-form-field-outline-start {
                border-radius: 3px 0 0 3px;
            }

            .mat-form-field-outline-end {
                border-radius: 0 3px 3px 0;
            }

            .mat-form-field-required-marker {
                color: #ED1C27;
            }

            .mat-form-field-outline-thick {
                color: #6ba5ec;
                background-color: #f8f8f8;
            }

            &.mat-focused {
                .mat-form-field-outline-thick {
                    color: #0c4b9a;
                    background-color: #f8f8f8;
                }

                &.mat-form-field-can-float {
                    &.mat-form-field-should-float {
                        .mat-form-field-label {
                            color: #0c4b9a;
                        }
                    }
                }
            }

            &.mat-form-field-disabled {
                .mat-form-field-outline {
                    background-color: #f8f8f8;
                }
                .mat-select-arrow:before {
                    display: none !important;
                }
            }


            &.mat-form-field-invalid.mat-form-field-invalid {
                .mat-form-field-outline-thick {
                    color: #dc4c64;
                    background-color: #f8f8f8;
                }
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        transform: translateY(-.9rem) scale(0.75);
                        color: #848484;

                        .mat-form-field-required-marker {
                            color: #ED1C27;
                        }
                    }

                    .mat-form-field-outline-gap {
                        width: 0px !important;
                    }
                }
            }
        }

        .paginationwithfilter {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
        }

        .date_exp {
            .mat-form-field-appearance-outline {
                .mat-form-field-suffix {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .readonly {
            input[readonly] {
                cursor: no-drop;
            }
        }

        .mat-form-field {
            &.mat-focused {
                &.mat-primary {
                    .mat-select-arrow {
                        color: transparent !important;
                    }
                }
            }
        }

        .mat-form-field {
            &.mat-form-field-invalid {
                .mat-form-field-label {
                    color: #dc4c64 !important;
                }
            }
        }

        .filter {
            height: 45px;
        }

        .userimg {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 168px;
                height: 168px;

                &:hover {
                    transform: scale(1.1);
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border-radius: 20px;
                background-color: #c4c4c4;
                position: relative;
                top: 33px;
                left: -44px;
                opacity: 0.5;

                &:hover {
                    background-color: #ed1c2770;
                    transform: scale(1.1);

                    .mat-icon {
                        color: #ED1C27;
                    }
                }
            }
        }

        .mat-icon {
            cursor: pointer;
        }

        .mat-form-field-suffix {
            .mat-icon {
                color: #848484;
                cursor: pointer;
            }
        }

        .icongroup {
            .mat-icon {
                background-color: #fff;
                color: #848484;
                padding: 10px;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;

                &.add {
                    background-color: #0c4b9a !important;
                    color: #fff !important;
                }
            }
        }

        .add_icon {
            color: #fff;
            background-color: #0c4b9a;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px
        }

        .arabiclanguage {

            input,
            .mat-form-field-label {
                text-align: right;
            }

            .mat-form-field-label {
                text-align: right;
            }

            .mat-error {
                text-align: right;
            }
        }

        .editbtn {
            background-color: transparent;
            cursor: pointer;
            padding: 4px;

            &:hover {
                background-color: #ED1C27;
                color: #fff;
                border-radius: 2px;
            }
        }

        .courebox {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 5px 10px;
            margin: 2px;
        }

        .subtitleform {
            display: flex;

            .mat-icon {
                color: #848484;
            }
        }

        .icongroup {
            // .fa {
            //     color: #848484;
            //     border: 1px solid #848484;
            //     -webkit-text-stroke-width: 0px !important;
            //     -webkit-text-stroke-color: #848484 !important;
            // }

            .mat-icon {
                background-color: #fff;
                border: 1px solid #d9d9d9;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;

                // &:nth-child(1) {
                //     background-color: #0c4b9a;
                //     color: #fff;
                // }
            }
        }

        #documents,
        .documents {

            #uploaded {
                display: flex;

                @media (max-width: 959px) {
                    display: block;
                }

                //   justify-content: space-around; 
                .filers {
                    width: 50%;

                    @media (max-width: 959px) {
                        width: 100%;
                    }
                }

                .document {
                    width: 50%;
                    padding-left: 30px;

                    .mat-form-field-appearance-outline {
                        .mat-form-field-outline-start {
                            display: none;
                        }

                        .mat-form-field-outline-end {
                            display: none;
                        }

                        .mat-form-field-suffix {
                            left: -239px;
                        }
                    }

                    @media (max-width: 959px) {
                        width: 100%;
                        padding-left: 0px;
                    }

                    .close_icons {
                        display: block;
                    }

                    .delete_icon {
                        display: none;
                    }

                    .view_btn {
                        display: block;
                        color: #848484;
                    }
                }
            }

        }

        .masterPageTop {
            display: flex;
        }

        .availabledate {
            padding: 15px;
        }

        .availabletable {
            border-radius: 2px;
            background-clip: padding-box;
            background-color: #fff;
            margin: 10px 0px;

            .mat-cell {
                color: #262626;
            }

            .mat-header-cell {
                color: #626366 !important;
                background-color: #eaedf2;
                font-size: 15px;
            }

            .mat-row {
                // width: fit-content;

                &:hover {
                    background-color: #f5f5f5 !important;

                }
            }

            #searchrow,
            #filtershow {
                background: #fbfbfb !important;
                border: none;

            }

            .serachrow {
                background: #fff !important;
                min-height: 73px !important;
                padding-right: 15px;

                .mat-form-field-outline {
                    background-color: #fff !important;
                }
            }
            /*&.hidefilter{
                #searchfilters{
                    display:none !important;
                }
            }*/
        }

        .awaredtable {
            border-radius: 2px;
            background-clip: padding-box;
            background-color: #fff;
            margin: 10px 0px;

            .manageoptions {
                padding-right: 15px;
            }

            .mat-row {
                width: fit-content;

                &:hover {
                    background-color: #f5f5f5 !important;

                }
            }


            .mat-cell {
                color: #262626;
            }

            .mat-header-cell {
                color: #626366 !important;
                background-color: #eaedf2;
                font-size: 15px;
            }
        }

        .mat-paginator-container {
            .mat-paginator-page-size-label {
                color: #999;
                font-size: 15px;
            }

            .mat-select-value {
                color: #626366;
                font-size: 15px;
            }

            .mat-paginator-range-label {
                color: #999;
                font-size: 15px;
                margin: 0px 10px !important;
            }
        }
        .weekededtag {
            border: 1px solid;
            border-radius: 2px;
            padding: 7px 10px; 
            display: flex;
            align-items: center;
        }
        .renewal {
            display: flex;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 15px;
            justify-content: space-between;
            align-items: center;

            .renewal_info {
                gap: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mat-divider {
                    height: 51px;

                    .mat-divider-vertical {
                        border-right-color: #c4c4c4;
                        border-right-width: 2px !important;
                    }
                }

                p {
                    color: #848484;

                    span {
                        color: #262626;
                    }
                }

                .remainder {
                    border: 1px solid #ED1C27;
                    border-radius: 2px;
                    padding: 8px;

                    p {
                        color: #ED1C27;

                        span {
                            color: #ED1C27;
                        }
                    }
                }
            }

            .viewbtn {
                background-color: #0c4b9a;
                color: #fff;
            }

        }

        .success {
            .centercontent {
                height: 71vh;
            }

            .success_icon {
                width: 72px;
                height: 72px;
                border-radius: 50px;
                background-color: #fff;
                border: 3px solid #00a551;
                display: flex;
                justify-content: center;
                align-items: center;

                .mat-icon {
                    font-size: 50px;
                    color: #00a551;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .succes_msg {
                h4 {
                    color: #00a551;
                }

                p {
                    color: #262626;
                }

                .viewform {
                    background-color: #ED1C27;
                    color: #fff;
                }
            }
        }

        .secondtab {
            .mat-form-field {
                .mat-select {
                    &.mat-select-disabled {
                        .mat-select-arrow::before {
                            color: transparent !important;
                        }
                    }
                }
            }
        }

        .decline {
            border: 1px solid #ED1C27;
            border-radius: 3px;
            padding: 15px;
            background-color: #fff8f8;

            h4 {
                color: #ED1C27;
            }

            p {
                color: #262626;
            }
        }

        .card {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 15px;
             background-color: #ffffff !important;

        }
       .cardwht {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            padding: 15px;
             background-color: #ffffff !important;
       }
        .carder {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

            .rangedate {
                padding: 15px;

                // span {
                //     color: #262626
                // }
            }
        }


        #regapp {
            .closeanddateicomax {
                top: 14px !important;
            }
        }

        #searchrow,
        #filtershow {
            background: #fff !important;
            border: none;

            .serachrow {
                background: #f8f8f8 !important;
                min-height: 73px !important;
                padding-right: 15px;

                .mat-form-field-outline {
                    background-color: #fff !important;
                }
            }
        }

        .footerpaginator {
            .mat-paginator-outer-container {
                .mat-paginator-container {
                    padding: 0px !important;

                    @media (max-width:768px) {
                        display: block !important;
                    }
                }

                .mat-paginator-range-actions {
                    width: calc(100% - 186px);
                    color: #0c4b9a;

                    .mat-paginator-range-label {
                        width: calc(100% - 186px);

                    }

                    @media(max-width: 768px) {
                        width: auto !important;
                    }
                }
            }
        }

        .scrolldata {
            position: relative;
            z-index: 1;
            display: block;
            overflow-x: auto;
            background-color: #fff;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                width: 6px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #ccc;
            }
        }

        .tabforclientelenew {
            .mat-form-field-appearance-outline {
                .mat-form-field-infix {
                    padding: 8px 0 !important;
                }
            }

            .manageoptions {
                .mat-icon {
                    color: #acacac;
                }
            }
        }

        .hrstag {
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
            margin-left: 15px;
            min-width: 82px;
        }

        .master-menu {
            .mat-menu-content {
                background-color: #666666;
                color: #fff;
            }
        }

        .masterPageTop {
            .mat-paginator-range-actions button {
                display: none;
            }
        }

        .mat-form-field-appearance-legacy {
            .mat-form-field-underline {
                background-color: #d9d9d9 !important;
            }
        }

        .mat-sort-header-arrow {
            color: #ED1C27;
        }

        .nofound {
            margin-top: 5%;
        }

        .rangedate {
            background-color: #fbfbfb;
        }

        // #regapp{
        //     display: flex;
        //     align-items: center;
        //     position: relative;
        //     padding-bottom: 10px;
        //     .md-drppicker.double{
        //         width: 650px;
        //         right: 0 !important;
        //         margin-top:20px;
        //     }
        // }
        .timepickerwidth {
            max-width: 85px;

            .mat-icon {
                font-size: 20px;
                color: #848484;
            }
        }
    }

    .borderslot {
        border-left: 1px solid #ddd;
        align-items: center !important;
        place-content: center center !important;
    }

    .w-150 {
        width: 150px;
    }

    .usrfrm {
        display: flex;
        flex-direction: column !important;
    }
    .NorecordLoader{
        height: 30px;
        width: 100%;
        border-radius: 2px;
        background: #000; 
        position: relative; 
       //  margin-top: 5%;
        animation-duration: 1.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: pagetitleAnimate;
        background: #f6f7f8; // Fallback
        background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
        background-size: 1300px; // Animation Area
       
       }
       
       .NorecordLoader:before {
        width: inherit;
        height: inherit;
       
       content: "";
        position: absolute;
        }
}
.mat-button-focus-overlay {
    display: none !important;
}

.option-listing 
{
    div {
    margin: 0 !important; 
}
}

.searchinmultiselect {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    background: #e9edf0;

    input::-webkit-input-placeholder {
        color: #7f8fa3 !important;
    }

    i {
        color: #7f8fa3 !important;
        padding-right: 6px;
    }

    .searchselect {
        width: calc(100% - 25px) !important;
    }

    .reseticon {
        cursor: pointer;
    }
}

.select_with_search {
    overflow: hidden !important;
    max-height: 100% !important;
    margin-top: 50px !important;
    margin-bottom: 15px !important;
}

.select_with_option {
    overflow: hidden !important;
    max-height: 100% !important;
    margin-top: 49px !important;
    margin-bottom: 15px !important;
    &.multiple {
        margin-top: 48px !important;
        margin-left: 25px;
        min-width: calc(100% + 28px) !important;
     }
}

.searchinmultiselect {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: #e9edf0;
    margin: 10px;
}

.searchselect {
    width: calc(100% - 25px) !important;
    padding-left: 10px;

}

.mat-option.mat-active {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
}

.option-listing {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 290px;

}

.option-listing::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.option-listing::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.option-listing::-webkit-scrollbar-thumb {
    background: #ED1C27;
}

/* hover */
.option-listing::-webkit-scrollbar-thumb:hover {
    background: #ED1C27;
}

.myPanelClass {
    margin: 36px 0px;
}



.mat-menu-panel {
    &.table_menu {
        background-color: #666666 !important;

        .mat-menu-item {
            line-height: 36px;
            height: 31px;
            color: #fff;
        }
    }
}

.mat-select-disabled {
    .mat-select-value {
        cursor: no-drop;
        color: #262626 !important;
    }
}

.mat-menu-panel {
    &.menu-panel {
        margin-top: 7px;
        min-width: 230px;

        .mat-menu-item {
            &:hover {
                color: #ED1C27;
            }

            // &:focus {
            //     color: #ED1C27;
            // }
        }


    }
}

.mat-dialog-container {
    padding: 24px !important;
}


.select_with_search { 
    &.multiple {
     margin-top: 55px !important;
      margin-left: 25px;
      min-width: calc(100% + 27px) !important;
  }
//   .select_with_option {
//     &.multiple {
//         margin-top: 155px !important;
//          margin-left: 25px;
//          min-width: calc(100% + 27px) !important;
//      }
//   }
}
.whentootltipadded {
    background-color: #666666 !important;
    color: #fff;
    min-height: 45px !important;
    .mat-menu-item {
        color: #fff !important;
        height: 30px !important;
        line-height: 20px !important;
    }
}
// .applymenu {
//     .mat-menu-item {
//         color: #262626 !important;
//     }
//    }
.custom-tooltip {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    line-height: 22px;
    font-family: "opal_regular", sans-serif;
    color: #ffffff;
    background-color: #333;
  }

