<div fxLayout="row wrap" class="widthdialog text-center">
  <div fxFlex.gt-sm="100" fxFlex="100" class="m-l-60 m-r-60">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" class="thanktextcolor">
        <h2 class="p-t-60">Session Timeout</h2>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100" class="formcolor">
        <p class="fs-15 m-0 p-b-10">Your're being timed out due to inactivity.</p>
      </div>
    </div>
    <div fxLayout="row wrap" class="p-t-30">
        <div fxFlex.gt-sm="100" fxFlex="100">
            <button type="button" routerLink="/admin/login" (click)="onNoClick()" class="homebtn m-r-20 fs-15" mat-buttons>Go to Login</button>
        </div>
      </div>
  </div>
</div>
