$icomoon-font-family: "bgiicon" !default;
$icomoon-font-path: "fonts" !default;

$bgi-export: "\e900";
$bgi-add: "\e901";
$bgi-biz_search: "\e902";
$bgi-close: "\e903";
$bgi-collbrate: "\e904";
$bgi-contact-book: "\e905";
$bgi-date: "\e906";
$bgi-delete: "\e907";
$bgi-dropdown: "\e908";
$bgi-edit: "\e909";
$bgi-feed_backs: "\e90a";
$bgi-filter: "\e90b";
$bgi-full-screen: "\e90c";
$bgi-home: "\e90d";
$bgi-import: "\e90e";
$bgi-information: "\e90f";
$bgi-jsrs_connect: "\e910";
$bgi-like: "\e911";
$bgi-list_menu: "\e912";
$bgi-male: "\e913";
$bgi-more: "\e914";
$bgi-notification: "\e915";
$bgi-question-1: "\e916";
$bgi-question: "\e917";
$bgi-quick_link: "\e918";
$bgi-search: "\e919";
$bgi-settings: "\e91a";
$bgi-share: "\e91b";
$bgi-speech-bubble: "\e91c";
$bgi-star: "\e91d";
$bgi-tender: "\e91e";
$bgi-tick: "\e91f";
$bgi-user: "\e920";

