$icomoon-font-family: "opal-icon" !default;
$icomoon-font-path: "fonts" !default;

$opal-Dashboard: "\e900";
$opal-Manage-Users: "\e901";
$opal-Training-Evaluation-Centre-Certification-Management: "\e902";
$opal-Technical-Inspection-Centre-Certification-Management-04: "\e903";
$opal-Contact-us: "\e904";
$opal-Manage-Roles: "\e905";
$opal-Approval-Management: "\e906";
$opal-Invoice-Management: "\e907";
$opal-Learner-Card-Log: "\e908";
$opal-Batch-Management: "\e909";
$opal-Learner-Feedback: "\e90a";

