#changestaff_container {
    margin-bottom: 4%;
    .changestaff{
        .knowledgegrid {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 8px #0000001a;
            border: 1px solid #D7DCE3;
            border-radius: 4px;
            opacity: 1;

            .headcolor {
                color: #0C4B9A;
            }
            .text-gray {
                color: #707070;
            }
            .text-default {
                color: #262626 !important;
            }
            .bold {
                font-weight: 600;
            }
            .details {
                border-bottom: 1px solid #D7DCE3;

                .head {
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                }

                .application-detais {
                    border: 1px solid #D7DCE3;
                    padding: 5px;
                    margin-top: 10px !important;

                }

            }
            .viewbtn{
                background: #0C4B9A;
                color: #fff;
                border-radius: 2px;
                justify-content: center;
                min-width: 46px;
                display: inline-flex;
                cursor: pointer;
            }

        }
        .addbtn, .filterbtn{
            min-width:100px;
            box-shadow: none;
            border-radius: 2px;
        }
        .addbtn{
            background:#ed1c27;
            color:#fff;
            
        }
        .filterbtn{
            border:1px solid #ddd;
            box-shadow:none;
        }

        .mat-form-field-appearance-outline {
            .mat-form-field-outline {
                color: #d9d9d9;
            }
    
            .mat-form-field-outline-start {
                border-radius: 3px 0 0 3px;
            }
    
            .mat-form-field-outline-end {
                border-radius: 0 3px 3px 0;
            }
    
            .mat-form-field-required-marker {
                color: #ED1C27;
            }
    
            .mat-form-field-outline-thick {
                color: #6ba5ec;
                background-color: #f8f8f8;
            }
    
            &.mat-focused {
                .mat-form-field-outline-thick {
                    color: #0c4b9a;
                    background-color: #f8f8f8;
                }
    
                &.mat-form-field-can-float {
                    &.mat-form-field-should-float {
                        .mat-form-field-label {
                            color: #0c4b9a;
                        }
                    }
                }
            }
    
            &.mat-form-field-disabled {
                .mat-form-field-outline {
                    background-color: #f8f8f8;
                }
            }
    
    
            &.mat-form-field-invalid.mat-form-field-invalid {
                .mat-form-field-outline-thick {
                    color: #dc4c64;
                    background-color: #f8f8f8;
                }
            }
    
            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        transform: translateY(-.9rem) scale(0.75);
                        color: #848484;
    
                        .mat-form-field-required-marker {
                            color: #ED1C27;
                        }
                    }
    
                    .mat-form-field-outline-gap {
                        width: 0px !important;
                    }
                }
            }
            .mat-form-field-suffix{
                .mat-icon{
                    color:#888;
                }
            }
        }
    }
   
    
}
.select_with_search {
    overflow: hidden !important;
    max-height: 100% !important;
    margin-top: 40px !important;
    margin-bottom: 15px !important;
}

.select_with_option {
    overflow: hidden !important;
    max-height: 100% !important;
    margin-top: 50px !important;
    margin-bottom: 15px !important;
}

.searchinmultiselect {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: #e9edf0;
    margin: 10px;
}