RewriteEngine on

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]  
RewriteCond %{REQUEST_FILENAME} -d  
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow html5 state links some authentication
RewriteRule ^ index.html [L]  
#AuthType Basic
#AuthName "Please enter your username and password."
#AuthUserFile K:\xampp7\htdocs\vhost\usp.opaloman.om\uat8686\app\.htpasswd
#Require valid-user
