#course_container {
    .txt-gry {
        color: #848484 !important;
    }

    .txt-gry3 {
        color: #262626 !important;
    }

    #validmsg {
        .validet {
            background-color: #0c4b9a !important;
            color: #fff !important;
        }

    }

    .unitcode {
        display: block !important;
    }

    .units {
        width: 100%;
        height: auto;
        border: 1px solid;
        padding: 10px 15px;
        box-shadow: 0px 0px 8px #0000001a;
        border: 1px solid #D7DCE3;
        border-radius: 2px;
    }

    .mat-paginator-container {
        .mat-paginator-page-size-label {
            color: #999;
            font-size: 15px;
        }

        .mat-select-value {
            color: #626366;
            font-size: 15px;
        }

        .mat-paginator-range-label {
            color: #999;
            font-size: 15px;
            margin: 0px 10px !important;
        }
    }

    .paginationwithfilter {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .masterPageTop {
        display: flex;
    }

    .masterPageTop {
        .mat-paginator-range-actions button {
            display: none;
        }
    }

    .footerpaginator {
        .mat-paginator-outer-container {
            .mat-paginator-range-actions {
                width: calc(100% - 186px);
                color: #0c4b9a;

                .mat-paginator-range-label {
                    width: calc(100% - 186px);

                }
            }
        }
    }

    .title {
        h4 {
            color: #0c4b9a;
            font-size: 18px;
        }

        .badge {
            color: #fff !important;
            padding: 3px 5px;
            font-size: 15px;
            border-radius: 3px;

            &.new {
                background-color: #0c4b9a;
            }

            &.update {
                background-color: #0c4b9a;
            }

            &.appr {
                background-color: #00a551;
            }

            &.decl {
                background-color: #ed1c27;
            }

        }

    }

    .btngroup {
        .submit_btn {
            background-color: #ED1C27 !important;
            color: #fff !important;
            min-width: 120px;
            height: 45px;
            padding-left: 0px;
            padding-right: 0px;
            font-size: 15px;
        }

        .cancelbtn {
            min-width: 120px;
            background-color: #ffff;
            border: 1px solid #e8e8e8;
            color: #262626;
            padding-left: 0px;
            padding-right: 0px;
            height: 45px;
            font-size: 15px;
            box-shadow: none;

        }

        .mat-raised-button {
            border-radius: 2px;
        }
    }

    .mat-raised-button {
        border-radius: 2px;
        box-shadow: none;
    }

    .profile {
        width: 161px;
        height: 161px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 5%) !important;
        border: 1px solid #d7dce3;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .company_dtlview {
        h4 {
            color: #262626;
        }

        .view_dtl {
            p {
                min-width: 322px;
                color: #848484;
                font-size: 16px;

                @media(max-width: 768px) {
                    min-width: 142px;
                    width: 141px;
                }
            }

            span {
                color: #262626;
                font-size: 16px;

                .document {
                    width: 22px;
                    height: 28px;
                }

                ul {
                    padding: 0px 0 0 0px !important;
                    margin: 0px;
                    list-style-type: none;

                    li {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: ' ';
                            width: 8px;
                            height: 8px;
                            border-radius: 20px;
                            margin-right: 10px;
                            border: 2px solid #0c4b9a;
                            color: #EBF4FF;
                        }
                    }
                }
            }
        }
    }

    .declinecmd {
        border: 1px solid #ED1C27;
        border-radius: 3px;
        padding: 15px 15px 10px 15px;
        background-color: #fff8f8;

        .comment {
            color: #ED1C27 !important;
        }

        p {
            color: #262626;
        }
    }

    .successcmd {
        border: 1px solid #00a551;
        border-radius: 3px;
        padding: 15px 15px 10px 15px;
        background-color: #f8fffb;

        .comment {
            color: #00a551 !important;
        }

        p {
            color: #262626;
        }
    }

}

[dir=rtl] {
    #course_container {
        .company_dtlview {
            .view_dtl {
                span {
                    ul {
                        li {
                            &::before {
                                content: ' ';
                                margin-left: 10px !important;
                                margin-right: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}