#stafftransfer {
    .txt-gry {
        color: #848484;
    }
    .txt-gry3 {
        color: #262626;
    }
    .matDivider{
        border-top-width: 2px;
        background-color: #ed1c27;
    }
    .mat-raised-button {
        height: 45px;
        min-width: 110px;
        box-shadow: none;
        border-radius: 2px;
    }
    .cancelBtn{
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
    }
    .submitButton {
        background-color: #ed1c27;
        color: #ffffff;
    }
    .readonlyField {
        .mat-form-field-infix {
            cursor: no-drop;
        }  
        input.mat-input-element {
            cursor: no-drop;
            pointer-events: none;
        }
        .mat-form-field-outline {
            background-color: #f8f8f8;
        }
    }
    .mat-form-field-appearance-outline {

        // &.mat-form-field-outline-thick {
        &.mat-form-field-readonly {
            // .mat-form-field-outline {
            background-color: #009c3a !important;
            // }
            // }
        }

        .mat-form-field-outline {
            color: #d9d9d9;
        }

        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }

        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }

        .mat-form-field-required-marker {
            color: #ED1C27;
        }

        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;

        }

        &.mat-focused {
            .mat-form-field-outline-thick {
                color: #0c4b9a;
                background-color: #f8f8f8;
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        color: #0c4b9a;
                    }
                }
            }
        }

        &.mat-form-field-disabled {
            .mat-form-field-outline {
                background-color: #f8f8f8;
            }
            .mat-select-arrow:before {
                display: none !important;
            }
        }


        &.mat-form-field-invalid.mat-form-field-invalid {
            .mat-form-field-outline-thick {
                color: #dc4c64;
                background-color: #f8f8f8;
            }
        }

        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    transform: translateY(-.9rem) scale(0.75);
                    color: #848484;

                    .mat-form-field-required-marker {
                        color: #ED1C27;
                    }
                }

                .mat-form-field-outline-gap {
                    width: 0px !important;
                }
            }
        }
    }
}