@mixin flexcenter {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  @mixin flexstart {
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
  }
  @mixin flexend {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
  }
  @mixin spacebetween {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
  }

.depModulesTable label.deplabel {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  ::ng-deep#modulecheckform {
    .darken {
      padding: 0 18px 0 0;
      border-top: 1px solid #d7dce3 !important;
      border-bottom: 1px solid #d7dce3 !important;
    }
  
    mat-cell label.deplabel {
      color: #626b7e;
      @include flexcenter();
    }
    .mat-table {
      .mat-row
      {
        border-bottom-width: 0;
      }
      .mat-header-cell {
        font-size: 0.9375rem;
        font-weight: 700;
        color: #fff;
      }
      .mat-row:hover {
        background-color: #f3f3f4;
      }
      .mat-header-row + .mat-row {
        background-color: #e8ebef;
      }
    }
    .iconChk {
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left: -5px;
        top: 0px;
      }
      span {
        position: relative;
      }
      input[type="checkbox"]:checked + label {
        color: #fff;
        background-color: #4aa1ac;
        border: 1px solid #4aa1ac !important;
        transition: all 0.2s;
        &::before {
          content: "\e91f";
          font-size: 0.625rem;
          transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        }
      }
      label {
        padding: 0;
        cursor: pointer;
        display: inline-block;
        @include flexcenter();
        color: #adadad;
        white-space: nowrap;
        margin: 3px 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.2s;
        height: 18px !important;
        width: 18px !important;
        vertical-align: middle;
        border: 1px solid #c1c1c1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        &::before {
          font-family: "bgi-icon" !important;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 0.875rem;
          content: "";
          transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        }
      }
    }
  }
  .sidenavsamewidthall {
    overflow: hidden !important;
  }
  .masterTable {
    .mat-header-cell:last-child {
      justify-content: center;
    }
    .mat-cell:last-child {
      justify-content: center;
    }
  }
  #modulecheckform .mat-table .mat-header-cell:first-child,
  #modulecheckform .mat-table .mat-row .mat-cell:first-child {
    justify-content: flex-start !important;
  }
  #modulecheckform .mat-table .mat-header-cell,
  #modulecheckform .mat-table .mat-row .mat-cell {
    justify-content: center !important;
  }
  .companyinfomcp {
    @include flexstart();
    align-items: flex-start !important;
  
    img {
      width: 44px;
      height: 44px;
    }
    .lypisid {
      color: #666666;
      font-size: 0.75rem;
    }
    p {
      margin: 0;
      line-height: 1;
      color: #000;
    }
  }
  
  .borderbottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  @media (max-width: 767px) {
  ::ng-deep.depModulesTable 
  .mat-table .mat-cell {
      display: flex;
      font-size: 1em;
      font-weight: bold;
      max-width: 100% !important;
      border-bottom: 1px solid #ddd;
      flex: 100% !important;
      justify-content: space-between;
      display: flex !important;
      text-align: left !important;
      padding: 10px !important;
      padding-top: 0px !important;
      position: relative;
  }
  ::ng-deep.depModulesTable .mat-table .mat-cell span {
    width: calc(100% - 204px);
}
::ng-deep.depModulesTable #modulecheckform .darken .mat-cell {
  padding-left: 40px !important;
}

  }
::ng-deep.selectalltoggle .mat-slide-toggle-label 
{
border: 0 !important;
}

.disabledtoggle{
  display: none;
}
::ng-deep.detailedselection {

  .deplabel:before {
   content: "";
   display: none !important;
   
 }
}
::ng-deep.depModulesTable.mat-table .mat-cell {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  max-width: 100% !important;
  border-bottom: 1px solid #ddd;
  flex: 100% !important;
  justify-content: space-between;
  display: flex !important;
  text-align: left !important;
  padding: 10px !important;
  padding-top: 0px !important;
  position: relative;
}