<div *ngIf="creationpageshow && batchreadaccess" #pageScroll>
    <div id="batchcontainer" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="100" class="branches p-t-20">
            <div class="paginationwithfilter masterPageTop ">
                <!-- [style.visibility]="(batchlength > 5) ? 'visible' : 'hidden' " -->
                <div *ngIf="tblplaceholder" class="itemsperpage"><div class="tabledataloader"></div></div>
                <mat-paginator   [style.display]="(tblplaceholder) ? 'none' : 'block' "  class="masterPage masterPageTop" #paginator [length]="batchlength" [pageSize]="10" 
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="syncPrimaryPaginator($event);" ></mat-paginator>
                <div fxLayout="row wrap" fxLayoutAlign="end">
                    <div fxFlex.gt-sm="100" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
                        <button *ngIf="assessorTutor == true" mat-raised-button color="danger" type="button"
                            (click)="viewSchedule();"
                            class="ShowHidefs-15 submit_btn m-r-10">{{'View My Schedule' | translate}}
                        </button>
                    <div fxLayout="row wrap" fxLayoutAlign="end center" id="searchrowtable">
                        <div fxFlex.gt-sm="100" fxFlex="100" class="serachtable p-r-10"  fxLayoutAlign="center center">
                            <mat-form-field class="filter" appearance="outline">
                                <mat-label>{{'Search By Learner Civil Number' |translate}}</mat-label>
                                <input matInput [formControl]="serach_civil" (keyup)="searchbatchgrid($event.target.value,'serach_civil')">
                            </mat-form-field>
                        </div>
                    </div>
                        <button mat-raised-button color="primary" type="button"
                            (click)="creationpageshowdata();scrollTo('pagescroll')" *ngIf="(batchcreateaccess == true)"
                            class="ShowHidefs-15 submit_btn m-r-10">{{'international.add' | translate}}
                        </button>
                        <button mat-raised-button type="button" color="primary" (click)="clickEvent();"
                            class="filter">{{filtername}}<i class="opalicon opal-filter fs-15 m-l-7"
                            aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="100" fxFlex="100" class="tabforclientelenew">
                    <div class="awaredtable">
                        <mat-table #table class="scrolldata" [dataSource]="batchdata" (matSortChange)="sortingfunc($event,'')" matSort matSortDisableClear multiTemplateDataRows>
                            <!-- <ng-container matColumnDef="checkbox">
                                <mat-header-cell fxFlex="65px" mat-header-cell *matHeaderCellDef>
                                    
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </mat-header-cell>
                                <mat-cell data-label="checkbox" fxFlex="65px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">   <mat-checkbox class="example-margin"></mat-checkbox></div>
                                  
                                </mat-cell>
                            </ng-container> -->
                            <ng-container matColumnDef="batchno">
                                <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef mat-sort-header>{{'batch.batchno' | translate}}</mat-header-cell>
                                <mat-cell data-label="{{'batch.batchno' | translate}}" fxFlex="250px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">{{BatchData.batch_no}}</div>   </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="batchtype">
                                <mat-header-cell fxFlex="150px" mat-header-cell *matHeaderCellDef mat-sort-header>{{'batch.batchtype' | translate}}</mat-header-cell>
                                <mat-cell data-label="{{'batch.batchtype' | translate}}" fxFlex="150px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData.batch_type}}  </div></mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="trainingprovider">
                                <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef mat-sort-header>{{'Training Provider' | translate}}</mat-header-cell>
                                <mat-cell data-label="{{'Training Provider' | translate}}" fxFlex="250px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData?.tpname_en ? BatchData?.tpname_en : '-'}}  </div></mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="officetype">
                                <mat-header-cell fxFlex="160px" mat-header-cell *matHeaderCellDef mat-sort-header>{{'batch.officetype' | translate}}</mat-header-cell>
                                <mat-cell data-label="{{'batch.batchtype' | translate}}" fxFlex="160px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> {{BatchData.office_type}} </div>  </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="branchname">
                                <mat-header-cell fxFlex="180px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.branchname' | translate}}
                                </mat-header-cell>
                                <mat-cell data-label="{{'batch.branchname' |
                                translate}}" fxFlex="180px" *matCellDef="let BatchData">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder"> {{BatchData.branch_name ? BatchData.branch_name : '-'}}  </div> </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="asssessmentcenter">
                                <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.assessmentcenter' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.assessmentcenter' | translate}}" fxFlex="250px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> {{BatchData.assessment_centre_en ? BatchData.assessment_centre_en : "-"}} </div>   </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="totalleaners">
                                <mat-header-cell fxFlex="180px" mat-header-cell *matHeaderCellDef >
                                    {{'batch.totalleaners' | translate}}
                                </mat-header-cell>
                                <mat-cell data-label="{{'batch.totalleaners' | translate}}" fxFlex="180px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">{{BatchData.totallearners}} / {{BatchData.batchcount}}</div> </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="remainingcapacity">
                                <mat-header-cell fxFlex="180px" mat-header-cell *matHeaderCellDef >
                                    {{'batch.remainingcapacity' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.remainingcapacity' | translate}}" fxFlex="180px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> {{BatchData.batchcount - BatchData.totallearners}} / {{BatchData.batchcount}} </div> </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="trainingdurationth">
                                <mat-header-cell fxFlex="263px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'course.courtrainingdurthe' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.trainingdurationth' | translate}} " fxFlex="263px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> {{BatchData.traintheorystart}} - {{BatchData.traintheoryend}} </div>   </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="trainingdurationpr">
                                <mat-header-cell fxFlex="263px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'course.courtrainingdurpart' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.trainingdurationpr' | translate}} " fxFlex="263px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData.trainpractstart}} - {{BatchData.trainpractend}} </div></mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assessmentdatetime">
                                <mat-header-cell fxFlex="263px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.assessmentdatetime' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.assessmentdatetime' | translate}} " fxFlex="263px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">   <span *ngIf="BatchData.assessmentdate && BatchData.assessmentstart && BatchData.assessmentend">
                                        {{BatchData.assessmentdate}}   ({{BatchData.assessmentstart}} - {{BatchData.assessmentend}})
                                                                           </span>
                                                                           <span *ngIf="!(BatchData.assessmentdate && BatchData.assessmentstart && BatchData.assessmentend)">
                                                                              -
                                                                           </span></div>  
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assessmentstate">
                                <mat-header-cell fxFlex="180px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'Training Governorate' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'Training Governorate' | translate}}" fxFlex="180px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData.state ? BatchData.state : '-'}}</div> </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assessmentwilayat">
                                <mat-header-cell fxFlex="180px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'Training Wilayat' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'Training Wilayat' | translate}}" fxFlex="180px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData.wilayat ? BatchData.wilayat : '-'}}</div> </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="categories">
                                <mat-header-cell fxFlex="160px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.categories' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.categories' | translate}}" fxFlex="160px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> {{BatchData.category_en}}</div>  </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="language">
                                <mat-header-cell fxFlex="160px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.language' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.language' | translate}}" fxFlex="160px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder">  {{BatchData.language}} </div>   </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="req_status">
                                <mat-header-cell fxFlex="240px" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{'batch.requfor' | translate}}   </mat-header-cell>
                                <mat-cell data-label="Requested For" fxFlex="240px"
                                    *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> <span class="green" *ngIf="BatchData.req_status == '1'" (click)="expandedElement = expandedElement === BatchData ? null : BatchData">{{'table.back' | translate}}
                                        <img class="p-l-15" matTooltip="{{'table.view' | translate}}"
                                        mat-button src="assets/images/statusicon.svg" alt="statusicon"></span>
                                    <span class="assessor-change" *ngIf="BatchData.req_status == '2'" (click)="expandedElement = expandedElement === BatchData ? null : BatchData">{{'table.assechange' | translate}}<img class="p-l-15" matTooltip="{{'table.view' | translate}}"
                                        mat-button src="assets/images/statusicon.svg" alt="statusicon"></span>
                                    <span class="red" *ngIf="BatchData.req_status != 1 && BatchData.req_status != 2" > - </span> </div>  
                                    
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <mat-header-cell fxFlex="150px" mat-header-cell *matHeaderCellDef >
                                    {{'batch.status' | translate}} </mat-header-cell>
                                <mat-cell data-label="{{'batch.status' | translate}}" fxFlex="150px" *matCellDef="let BatchData">
                                    <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                    <div *ngIf="!tblplaceholder"> <span class="green" *ngIf="BatchData.status == '8'">{{'table.Print' | translate}}</span>
                                        <span class="red" *ngIf="BatchData.status == '1'">{{'table.New' | translate}}</span>
                                        <span class="liteorange" *ngIf="BatchData.status == '2'">{{'table.Teaching' | translate}}</span>
                                        <span class="liteorange" *ngIf="BatchData.status == '3'">{{'table.Teachingp' | translate}}</span>
                                        <span class="blue" *ngIf="BatchData.status == '6'">{{'table.QualityCheck' | translate}}</span>
                                        <span class="Assessment" *ngIf="BatchData.status == '4'">{{'table.asses' | translate}}</span>
                                        <span class="red" *ngIf="BatchData.status == '7'">{{'table.Cancelled' | translate}}  </span></div>  
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="action" stickyEnd>
                                <mat-header-cell fxFlex="100px" mat-header-cell *matHeaderCellDef>{{'batch.action' |
                                    translate}}
                                </mat-header-cell>
                                <mat-cell data-label="{{'batch.action'
                                | translate}}" fxFlex="100px" *matCellDef="let BatchData">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder"><div class="manageoptions">
                                    <button class="menubutton" mat-icon-button [matMenuTriggerFor]="actionmenu" aria-label="Example icon-button with a menu">
                                        <mat-icon class="moremenucolor">more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #actionmenu="matMenu" class="master-menu whentootltipadded">
                                        <button type="button" *ngIf="((BatchData.regpk == regpk ) || stktype == 1 ) && batchreadaccess"  (click)="ViewBatch(BatchData)" mat-menu-item><span>{{'table.batchview' | translate}} </span></button>
                                        <button type="button" *ngIf="BatchData.status == 1 && ( BatchData.totallearners == 0 || (BatchData.req_status != 5 && BatchData.totallearners > 0) )  && ((BatchData.regpk == regpk  && stktype == 2) || stktype == 1 ) && batchdeleteaccess" (click)="CancelBatch(BatchData)" mat-menu-item><span>{{'table.cancel' |
                                                translate}}</span></button>
                                        <button type="button" *ngIf="BatchData.status == 1  && ((BatchData.regpk == regpk && stktype == 2)) && BatchData.totallearners > 0 && batchupdateaccess" (click)="MovebatchToTheory(BatchData)" mat-menu-item><span>{{'Move Batch To Teaching (Theory)' |
                                                translate}}</span></button>
                                        <button type="button" *ngIf="BatchData.status == 1 && BatchData.totallearners < BatchData.batchcount  && (( BatchData.regpk == regpk && stktype == 2) || stktype == 1 ) && learnercreateaccess == true" (click)="RegisterLearner(BatchData)" mat-menu-item><span>{{'table.registerlearner' |
                                                translate}}</span></button>
                                        <button type="button" *ngIf="BatchData.status != 7  && BatchData.totallearners > 0 && learnerreadaccess == true" (click)="ViewLearners(BatchData)" mat-menu-item><span>{{'table.viewlearner' |
                                                translate}}</span></button>
                                        <button type="button" mat-menu-item *ngIf="BatchData.status != 1 && BatchData.status < 6 && BatchData.req_status != 1 && (stktype == 2  && BatchData.regpk == regpk) && batchupdateaccess" (click)="requesttrack(BatchData)"><span>{{'table.requestforbacktrack'
                                                        |
                                                        translate}}</span></button>
                                        <button type="button" mat-menu-item *ngIf="stktype == 1 && BatchData.req_status == 1 && BatchData.status != 8 && batchapproveaccess" (click)="updatestatus(BatchData)"><span>{{'batch.updatestatus'
                                                            |
                                                            translate}}</span></button>
                                        <button type="button" mat-menu-item *ngIf="stktype == 1 && BatchData.req_status == 1 && BatchData.status != 8 && batchapproveaccess" (click)="cancelbacktrack(BatchData)"><span>{{'batch.cancelbacktrak'
                                                            |
                                                            translate}}</span></button> 
                                        <button type="button" mat-menu-item *ngIf="((stktype == 2  && BatchData.regpk == regpk) || stktype == 1) && learnerdownloadaccess && BatchData.attenddwldaccess" (click)="downloadAttenance(BatchData)"><span>{{'table.downloadattendancereport' | translate}}</span></button>
                                        <button type="button" mat-menu-item (click)="ChangeAssessor(BatchData)" *ngIf="(BatchData.req_status != 1 && BatchData.req_status != 2) && (BatchData.status != 4 && BatchData.status != 6 && BatchData.status != 8) && BatchData.assessmentcentre == regpk && BatchData.regpk != regpk && ( batchupdateaccess)" ><span>{{'table.assessorchangerequest'
                                                |
                                                translate}}</span></button>
                                        <button type="button" mat-menu-item (click)="ChangeAssessorReq(BatchData)" *ngIf="(BatchData.req_status != 1 && BatchData.req_status != 2) && (BatchData.status != 4 && BatchData.status != 6 && BatchData.status != 8) && BatchData.assessmentcentre == regpk && BatchData.regpk == regpk && ( batchupdateaccess)" ><span>{{'table.changeassessor'
                                                |
                                                translate}}</span></button>
                                        <button type="button" mat-menu-item (click)="ChangeAssessorReq(BatchData)" *ngIf="(BatchData.req_status != 1 && BatchData.req_status != 2) && (BatchData.status != 4 && BatchData.status != 6 && BatchData.status != 8) && BatchData.assessmentcentre == regpk && BatchData.regpk != regpk && (batchupdateaccess)" ><span>{{'table.changeassessor'
                                                |
                                                translate}}</span></button>

                                                <button type="button" (click)="ChangeAssessorReq(BatchData)" *ngIf="stktype == 1 && BatchData.req_status == 2 && (BatchData.status != 4 && BatchData.status != 6 && BatchData.status != 8) && assesmentcrete" mat-menu-item><span>{{'table.changeassessor' |
                                                    translate}}</span></button>
    
                                        <!-- <button type="button" mat-menu-item><span>{{'table.auditlog'
                                                |
                                                translate}}</span></button> -->
                                    </mat-menu>
                                </div></div> 
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="expandedDetail" stickyEnd>
                                <td mat-cell fxFlex="2993px"  *matCellDef="let BatchData" [attr.colspan]="BatchData.length">
                                  <div *ngIf="BatchData == expandedElement">
                                    <div class="example-element-detail"
                                       [@detailExpand]="BatchData == expandedElement ? 'expanded' : 'collapsed'"  >
                                    <div class="example-element-diagram successcmd">
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <p class="fs-18 comment m-0">{{'institute.declcomm' | translate}}  </p>
                                            <mat-icon  class="fs-18 comment" matTooltip="{{'common.close' | translate}}" (click)="toggleExpansion()">close</mat-icon>
                                           </div>
                                            {{BatchData.comments}}
                                    </div>
                                  </div>
                                  </div>
                                </td>
                              </ng-container>
                            <ng-container matColumnDef="row-first">
                                <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="batchno" (keyup)="searchbatchgrid($event.target.value,'batchno')">
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-second">
                                <mat-header-cell fxFlex="150px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'batchview.sele' |translate}}</mat-label>
                                        <mat-select [formControl]="batchtype" multiple (selectionChange)="searchbatchgrid($event.value,'batchtype')">
                                            <mat-option *ngFor="let list of batchtypelist" [value]="list.pk">
                                                {{list.name_en}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-second-training">
                                <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="trainingprovider" (keyup)="searchbatchgrid($event.target.value,'trainingprovider')">
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-three">
                                <mat-header-cell fxFlex="160px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'batchview.sele' | translate}}
                                        </mat-label>
                                        <mat-select [formControl]="officetype" multiple (selectionChange)="searchbatchgrid($event.value,'officetype')">
                                            <mat-option value="1">{{'table.main' |translate}}</mat-option>
                                            <mat-option value="2">{{'table.branch' |translate}}</mat-option>
                                            <!-- <mat-option value="3">{{'table.new' |translate}}</mat-option>
                                            <mat-option value="4">{{'table.decl' |translate}}</mat-option> -->
                                        </mat-select>
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-four">
                                <mat-header-cell fxFlex="180px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    
                                       <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="branchname" (keyup)="searchbatchgrid($event.target.value,'branchname')">
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-five">
                                <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="asssessmentcenter" (keyup)="searchbatchgrid($event.target.value,'asssessmentcenter')">
                                    </mat-form-field>
                                  
                                  
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-six">
                                <mat-header-cell fxFlex="180px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    
                                </mat-header-cell>
                            </ng-container>

                            <ng-container matColumnDef="row-seven">
                                <mat-header-cell fxFlex="180px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-eight">
                                <mat-header-cell fxFlex="263px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        
                                            <input [formControl]="trainingduration"  matInput (click)="dateexpiry.open();" 
                                            (dateChange)="serachTrainingTimeTheo($event,'trainingduration')"
                                            [matDatepicker]="dateexpiry">
                                        <mat-datepicker-toggle matSuffix [for]="dateexpiry"></mat-datepicker-toggle>
                                        <mat-datepicker #dateexpiry></mat-datepicker>
                                       
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-nine">
                                <mat-header-cell fxFlex="263px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                            <input [formControl]="trainingdurationpr"  matInput (click)="dateexpiry.open();" 
                                (dateChange)="serachTrainingTimePract($event,'trainingdurationpr')"
                                [matDatepicker]="dateexpiry">
                            <mat-datepicker-toggle matSuffix [for]="dateexpiry"></mat-datepicker-toggle>
                            <mat-datepicker #dateexpiry></mat-datepicker>
                                        
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-ten">
                                <mat-header-cell fxFlex="263px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <div class="drpicker" id="regapp">
                                            <input id="login_session" [formControl]="assessmentdatetime" #pickers (datesUpdated)="serachAssessmentDateTime($event)"
                                                matInput type="text" autocomplete="off" ngxDaterangepickerMd
                                                [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
                                                [ranges]="ranges" [locale]="locale" [linkedCalendars]="true"
                                                [showClearButton]="true" [maxDate]='selected2' readonly
                                                class="form-control" />
                                            <div class="closeanddateicon">
                                                <mat-datepicker-toggle matSuffix>
                                                </mat-datepicker-toggle>
                                            </div>
                                        </div>

                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-ele">
                                <mat-header-cell fxFlex="180px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="assessmentstate" (keyup)="searchbatchgrid($event.target.value,'assessmentstate')">

                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-eleven">
                                <mat-header-cell fxFlex="180px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'table.search' |translate}}</mat-label>
                                        <input matInput [formControl]="assessmentwilayat" (keyup)="searchbatchgrid($event.target.value,'assessmentwilayat')">

                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="row-twelve">
                                <mat-header-cell fxFlex="160px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'batchview.sele' |translate}}</mat-label>
                                        <mat-select [formControl]="categories" panelClass="select_with_search"  [errorStateMatcher]="matcher" (closed)="searchCategory = '';" multiple (selectionChange)="searchbatchgrid($event.value,'categories')">
                                            <div class="searchinmultiselect">
                                                <mat-icon class="">search</mat-icon>
                                                <input (keydown.enter)="$event.preventDefault()" appAlphanumsymb matInput
                                                  class="searchselect" type="Select" placeholder="{{'table.search' | translate}} "
                                                  (keydown)="$event.stopPropagation();" [(ngModel)]="searchCategory"
                                                  [ngModelOptions]="{standalone: true}" autocomplete="off">
                                                <mat-icon (click)="searchCategory = ''" class="reseticon" matSuffix
                                                  *ngIf="searchCategory !='' && searchCategory !=null">clear</mat-icon>
                                              </div>
                                              <div class="option-listing countryselectwithimage">
                                                <mat-option *ngFor="let list of categorylist | filter: searchCategory " [value]="list.pk">
                                                    {{list.name_en}}
                                                </mat-option>
                                              </div>
                                            
                                        </mat-select>
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-thirteen">
                                <mat-header-cell fxFlex="160px" class="serachrow" *matHeaderCellDef style="text-align:center">

                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'batchview.sele' | translate}}
                                    </mat-label>
                                    <mat-select [formControl]="language" multiple (selectionChange)="searchbatchgrid($event.value,'language')">
                                        <mat-option *ngFor="let list of tutorlanglist" [value]="list.pk">
                                            {{list.name_en}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-fourteen">
                                <mat-header-cell fxFlex="240px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <!-- <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'batchview.sele' | translate}}
                                        </mat-label>
                                        <mat-select [formControl]="branchname" multiple>
                                            <mat-option value="1">{{'table.New' |translate}}</mat-option>
                                            <mat-option value="2">{{'table.Print' |translate}}</mat-option>
                                            <mat-option value="3">{{'table.Teaching' |translate}}</mat-option>
                                            <mat-option value="4">{{'table.QualityCheck' |translate}}</mat-option>
                                            <mat-option value="4">{{'table.Cancelled' |translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-fifteen">
                                <mat-header-cell fxFlex="150px" class="serachrow" *matHeaderCellDef
                                    style="text-align:center">
                                    <mat-form-field class="filter" appearance="outline">
                                        <mat-label>{{'batchview.sele' | translate}}
                                        </mat-label>
                                        <mat-select [formControl]="status" multiple   panelClass="select_with_search" (selectionChange)="searchbatchgrid($event.value,'status')">
                                            <div class="option-listing countryselectwithimage">
                                            <mat-option value="1">{{'table.New' |translate}}</mat-option>
                                            <mat-option value="2">{{'table.Teaching' |translate}}</mat-option>
                                            <mat-option value="3">{{'table.Teachingp' |translate}}</mat-option>
                                            <mat-option value="4">{{'course.asse' |translate}}</mat-option>
                                            <mat-option value="6">{{'table.QualityCheck' |translate}}</mat-option>
                                            <mat-option value="7">{{'table.Cancelled' |translate}}</mat-option>
                                            <mat-option value="8">{{'table.Print' |translate}}</mat-option>
                                        </div>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-header-cell>
                            </ng-container>
                            <ng-container matColumnDef="row-sixteen" stickyEnd>
                                <mat-header-cell fxFlex="100px" class="serachrow" *matHeaderCellDef style="text-align:center">
                                    <i class="fa fa-refresh m-l-15 cursorview" (click)="clearFilter();filtersts=false;" aria-hidden="true" matTooltip="{{'table.refe' |translate}}"></i>
                                </mat-header-cell>
                            </ng-container>
                            <!-- <ng-container matColumnDef="row-seventeen" stickyEnd>
                                <mat-header-cell fxFlex="100px" class="serachrow" *matHeaderCellDef style="text-align:center">

                                    <i class="fa fa-refresh m-l-15 cursorview" (click)="clearFilter();filtersts=false;" aria-hidden="true" matTooltip="{{'table.refe' |translate}}"></i>
                                </mat-header-cell>
                            </ng-container> -->
                            <!-- <mat-header-row id="headerrowcells" *matHeaderRowDef="BatchData;sticky: true">
                            </mat-header-row>
                            <mat-header-row id="searchrow" *matHeaderRowDef="['row-first' , 'row-second'  , 'row-three' , 'row-four', 'row-five' , 'row-six' , 'row-seven','row-eight','row-nine','row-ten','row-eleven','row-twelve','row-thirteen','row-fourteen' , 'row-fifteen' , 'row-sixteen', 'row-seventeen']">
                            </mat-header-row>
                            <mat-row mat-row *matRowDef="let row; columns: BatchData;"></mat-row> -->
                            <tr mat-header-row id="headerrowcells" *matHeaderRowDef="BatchData; sticky: true"></tr>
                            <div *ngIf="stktype==1">
                            <div *ngIf="!searchdatacmt">
                                    <mat-header-row id="searchrow"  *matHeaderRowDef="['row-first', 'row-second','row-second-training', 'row-three', 'row-four', 'row-five', 'row-six', 'row-seven' , 'row-eight','row-nine','row-ten','row-ele','row-eleven','row-twelve','row-thirteen','row-fourteen' , 'row-fifteen' , 'row-sixteen']">
                                    </mat-header-row>
                                  </div>
                                 <div *ngIf="searchdatacmt">
                                       <mat-header-row id="searchrow" *matHeaderRowDef="['row-first', 'row-second','row-second-training',  'row-three', 'row-four', 'row-five', 'row-six', 'row-seven' , 'row-eight','row-nine','row-ten','row-ele','row-eleven','row-twelve','row-thirteen' , 'row-fifteen' , 'row-sixteen']">
                                    </mat-header-row>
                                 </div>
                            </div>
                            <div  *ngIf="stktype!=1">
                                <div *ngIf="!searchdatacmt">
                                <mat-header-row id="searchrow"  *matHeaderRowDef="['row-first', 'row-second', 'row-three', 'row-four', 'row-five', 'row-six', 'row-seven' , 'row-eight','row-nine','row-ten','row-ele','row-eleven','row-twelve','row-thirteen','row-fourteen' , 'row-fifteen' , 'row-sixteen']">
                                </mat-header-row>
                              </div>
                             <div *ngIf="searchdatacmt">
                                       <mat-header-row id="searchrow" *matHeaderRowDef="['row-first', 'row-second',  'row-three', 'row-four', 'row-five', 'row-six', 'row-seven' , 'row-eight','row-nine','row-ten','row-ele','row-eleven','row-twelve','row-thirteen' , 'row-fifteen' , 'row-sixteen']">
                                </mat-header-row>
                             </div>
                            </div>
            <tr mat-row *matRowDef="let row; columns: BatchData;" class="example-element-row"   [class.example-expanded-row]="expandedElement === element" > </tr>
                <tr mat-row *matRowDef="let BatchData; columns: ['expandedDetail']"   [class.example-detail-row-expanded]="expandedElement === BatchData"  [class.example-detail-row-collapsed]="expandedElement !== BatchData">  </tr>
                            <ng-container matColumnDef="disclaimer">
                                <td mat-footer-cell *matFooterCellDef colspan="11">

                                    <div  [ngClass]="tblplaceholder == true ? ' ' : 'nofound'"  fxLayoutAlign="center" fxFlex.gt-sm="100"
                                            fxFlex="100">
                                            <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                                                <div fxLayout="row wrap" fxLayoutAlign="center center"  *ngIf="tblplaceholder"
                                                class="NorecordLoader"></div>
                                                <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!tblplaceholder">
                                                <p class="m-t-10 txt-gry3 fs-16" *ngIf="!tblplaceholder">{{'common.noreco' | translate}} 
                                                </p>
                                            </div>
                                        </div>
                                </td>
                            </ng-container>
                            <ng-container>
                                <mat-footer-row  [class.stickyclass]="(batchlength > 0) ? 'none' : 'block'" [style.display]="(batchlength > 0) ? 'none' : 'block' " *matFooterRowDef="['disclaimer']" style="justify-content: center">
                                </mat-footer-row>
                            </ng-container>
                        </mat-table>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
                        <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator">
                            <div *ngIf="tblplaceholder" class="itemsperpage"><div class="tabledataloader"></div></div>
                            <mat-paginator [style.display]="(tblplaceholder) ? 'none' : 'block' "  class="p-r-10" ngClass.xs="block" ngClass.sm="block"
                                class="masterPage masterbottom " showFirstLastButtons [pageSize]="paginator?.pageSize"
                                (page)="syncPrimaryPaginator($event);" [pageIndex]="paginator?.pageIndex"
                                [length]="paginator?.length" [pageSizeOptions]="paginator?.pageSizeOptions">
                            </mat-paginator>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<app-batchcreationpage *ngIf="companyinfocert" (supplieregdata)="reglandingpagedata($event)" [batchid]="batchid"
    (certificatehide)="certifyhidedata($event)"></app-batchcreationpage>
<app-responseloader *ngIf="disableSubmitButton"></app-responseloader>