@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

@mixin flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
}

@mixin flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
}

@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewcredentiallist{
    .viewcrdentailheader{
        background-clip: padding-box; 
        background-color: #fff; 
        border-radius: 2px;
        border: 1px solid #dadada;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
       .viewcrdetentailtitle{
           border-bottom: 1px solid #dadada;
           padding: 20px;
           h2{
               color: #333333;
               font-size: 1rem;
               margin: 0px;
           }
       } 
       .regtextcolor{
           display: flex;
           align-items: center;
           p{
             color: #57626E;
             font-size: 0.75rem;
             margin: 0px;
             padding-right: 15px;
           }
           span{
             color: #333333;
             font-size: 0.9375rem;
           }
       }
       .widthreg{
           min-width: 185px;
       }
       .regalign{
           @include flexstart();
           padding-left: 20px;
           padding-top: 10px;
           padding-bottom: 20px;
       }
    }
    .credentialtextcolor{
       .usernametextcolor{
           p{
            color: #57626E;
            font-size: 0.75rem;
            margin: 0px;
            line-height: 2.2;
           }
           span{
            color: #333333;
            font-size: 0.9375rem;
          }
       } 
    }
    .credentailinfocolor{
        padding-top: 20px;
        padding-bottom: 10px;
        h2{
         color: #333333;
         font-size: 0.9375rem;
         margin: 0px;  
        }
    }
}


@media (max-width:767px){
    .regtextcolor{
        display: block !important;
    }
    .regalign{
        display: block !important;
    }
}