<div fxLayout="row wrap" fxFlexAlign="center" class="m-t-0 p-b-0">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex="100" class=" selectproductheaderwithclose">
    <div class="titletext">
      <div class="closeandadd">
        <i mat-button matTooltip="Close" aria-label="Displays a tooltip" matTooltipClass="custom-tooltip"
          (click)="viewcredentialalert()" class="bgi bgi-close p-l-5 fs-14"></i>
        <h5 class="m-0 p-l-20 tt">{{'viewcredentialsidenavdetail.viecred' | translate}} <i class="bgi bgi-info"
            (click)="viewcredentailview('viewcredentailviewlist')"></i></h5>
      </div>
      <div class="clearandaddbutton">
        <button type="button" mat-raised-button color="primary"
          class="clearbutton height-35 m-r-10 p-l-20 p-r-20 spacemargin">{{'viewcredentialsidenavdetail.clos' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="flex-start" class="p-t-0 viewcredentailviewlist"
  [@slideInOut]="animationState2">
  <div fxFlex.gt-sm="100" fxFlex="100" class="p-b-0">
    <mat-card class="headerinformationtext sidenavinfotext m-r-0">
      <mat-card-header>
        <div class="titletext" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
          <mat-card-subtitle class="informationtext fs-14">
            {{'viewcredentialsidenavdetail.viecred' | translate}}
          </mat-card-subtitle>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="innnerpartofdrwer">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" id="viewcredentiallist">
      <div class="viewcrdentailheader">
        <div class="viewcrdetentailtitle">
          <h2>{{'viewcredentialsidenavdetail.busgatinter' | translate}}</h2>
        </div>
        <div class="regalign">
          <div class="regtextcolor widthreg">
            <p>{{'viewcredentialsidenavdetail.regno' | translate}}</p>
            <span>004587</span>
          </div>
          <div class="regtextcolor">
            <p>{{'viewcredentialsidenavdetail.supcod' | translate}}</p>
            <span>OMN887356</span>
          </div>
        </div>
      </div>
      <div class="credentailinfocolor">
        <h2>{{'viewcredentialsidenavdetail.credinfo' | translate}}</h2>
      </div>
      <div fxLayout="row wrap" class="credentialtextcolor">
        <div fxFlex.gt-sm="30">
          <div class="usernametextcolor">
            <p>{{'viewcredentialsidenavdetail.usernam' | translate}} </p>
            <span>BGIindia@2021</span>
          </div>
        </div>
        <div fxFlex.gt-sm="70">
          <div class="usernametextcolor">
            <p>{{'viewcredentialsidenavdetail.pass' | translate}}</p>
            <span>India377wins##</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>