<div id="gradelog" fxLayoutAlign="center start">
    <app-responseloader *ngIf="fullPageLoaders"></app-responseloader>
    <div class="vehicleinspection" fxFlex="100" fxFlex.gt-sm="100">
        <!-- <div class="paginationwithfilter masterPageTop ">
            <mat-paginator class="masterPage masterPageTop" #paginator [length]="gradelog_length" [pageSize]="10" 
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="syncPrimaryPaginator($event);" ></mat-paginator>
            <div fxLayout="row wrap" fxLayoutAlign="end">
                <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button type="button"  (click)="registerNow();"
                    class="submit_btn m-r-15">{{'Add' | translate}}</button>
                    <button mat-raised-button type="button" color="primary" (click)="clickEvent();"
                        class="filter">{{filtername}}<i class="opalicon opal-filter fs-15 m-l-7"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div> -->
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100" class="tabforclientelenew">
                <div #TABLE class="awaredtable gradeloglist">
                    <!-- <button mat-button [matMenuTriggerFor]="editcolumn" class="editcolumn">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
                        <mat-menu #editcolumn="matMenu" class="master-menu edit-column-menu">
                          <div class="table-config-menu-options" fxLayout="column">
                            <mat-checkbox #editchkbox [(ngModel)]="selectAllVisible"  (change)="selectAllFun($event)"> {{ 'All' | translate}}
                          </mat-checkbox>
                          <ng-container *ngFor="let cd of displayedColumns; let i = index">
                            <mat-checkbox 
                              (click)="$event.stopPropagation()" 
                              [(ngModel)]="cd.visible" #columnchkbox (change)="updateSelectAllVisible(cd)">
                              {{cd.label | translate}}
                            </mat-checkbox>
                        </ng-container>
                          </div>
                      </mat-menu>
                    </button>	 -->
                    <mat-table id="ExampleMaterialTable" #table class="scrolldata viewlog" [dataSource]="dataSource"
                        matSort matSortDisableClear (matSortChange)="sorting($event,'')">
                         <!-- new 1 -->
                         <ng-container matColumnDef="grade">
                            <mat-header-cell fxFlex="280px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Grade' | translate}}</mat-header-cell>
                            <mat-cell data-label="grade" fxFlex="280px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.grade ? element.grade : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!-- new 2 -->
                         <ng-container matColumnDef="percentageFromTotalValue">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Percentage from Total Value' | translate}}</mat-header-cell>
                            <mat-cell data-label="percentageFromTotalValue" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.percentageFromTotalValue ? element.percentageFromTotalValue : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 3 -->
                         <ng-container matColumnDef="fromPercentage">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'From Percentage' | translate}}</mat-header-cell>
                            <mat-cell data-label="fromPercentage" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.fromPercentage ? element.fromPercentage : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 4 -->
                         <ng-container matColumnDef="toPercentage">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'To Percentage' | translate}}</mat-header-cell>
                            <mat-cell data-label="toPercentage" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.toPercentage ? element.toPercentage : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                     
                       <!-- new 5 -->
                        <ng-container matColumnDef="lastUpdatedOn">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Last Updated On' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedOn" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.lastUpdatedOn? (element.lastUpdatedOn | date : 'dd-MM-yyyy' ) : '-'}}
                                </div>
                            </mat-cell>
                        </ng-container>
                         <!-- new 6 -->
                        <ng-container matColumnDef="lastUpdatedBy">
                            <mat-header-cell fxFlex="200px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Last Updated By' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedBy" fxFlex="200px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100">
                                    <div class="tabledataloader"></div>
                                </div>
                                <div *ngIf="!tblplaceholder">{{element.lastUpdatedBy? element.lastUpdatedBy : '-'}}</div>
                            </mat-cell>
                        </ng-container>
                       
                    
                       
                        <!-- new 1 -->
                        <ng-container matColumnDef="row-one">
                            <mat-header-cell fxFlex="280px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="grade" (keyup)="searchbatchgrid($event.target.value,'verficationno')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- new 3 -->
                        <ng-container matColumnDef="row-two">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="percentageFromTotalValue" (keyup)="searchbatchgrid($event.target.value,'roplicenseno')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- new 2 -->
                        <ng-container matColumnDef="row-three">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="fromPercentage" (keyup)="searchbatchgrid($event.target.value,'idnumber')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- 1 -->
                        <ng-container matColumnDef="row-four">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="toPercentage" (keyup)="searchbatchgrid($event.target.value,'name')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- 2 -->
                    
                        <ng-container matColumnDef="row-five">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <div class="drpicker" id="regapp">
                                                <input id="login_session" [formControl]="lastUpdatedOn" #pickers matInput type="text" (datesUpdated)="serachdate($event,'date')" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true"  [showClearButton]="true"  [maxDate]='selected2'  readonly class="form-control" [max]="today"/>
                                                <div class="closeanddateicon">
                                                    <mat-datepicker-toggle matSuffix >
                                                    </mat-datepicker-toggle>
                                                </div>
                                            </div>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-six">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'search' |translate}}</mat-label>
                                    <input matInput [formControl]="lastUpdatedBy" (keyup)="searchbatchgrid($event.target.value,'name')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <!-- 3 -->
                        <!-- <ng-container matColumnDef="row-three">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">

                            </mat-header-cell>
                        </ng-container> -->
                        <!-- 4 -->
                        <!-- <ng-container matColumnDef="row-four">
                            <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                            </mat-header-cell>
                        </ng-container> -->
                        <!-- 5 -->
                        
                        <!-- 12 -->
                        <ng-container matColumnDef="row-nine" stickyEnd>
                            <mat-header-cell fxFlex="100px" class="serachrow" *matHeaderCellDef
                            style="text-align:center">
                            <i class="fa fa-refresh m-l-15 cursorview" (click)="clearFilter();filtersts=false;"
                                aria-hidden="true" matTooltip="{{'Refresh'|translate}}"></i>
                        </mat-header-cell>
                        </ng-container>

                        <mat-header-row id="headerrowcells" *matHeaderRowDef="getdisplayedColumns() sticky:true">
                        </mat-header-row>
                           
                        <!-- <mat-header-row id="searchrow" *matHeaderRowDef="getdisplayedsearch()">
                        </mat-header-row> -->
                       
                        <!-- <mat-header-row id="headerrowcells" *matHeaderRowDef="displayedColumns;">
                        </mat-header-row>
                        <mat-header-row id="searchrow"
                            *matHeaderRowDef="['row-firstnew','row-new' ,'row-newone', 'row-first' , 'row-second' , 'row-type', 'row-newtwo', 'row-newthree', 'row-newfour', 'row-newfive','row-newsix', 'row-twelve' ]">
                        </mat-header-row> -->
                        <mat-row mat-row *matRowDef="let row; columns: getdisplayedColumns();"></mat-row>
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="11">
                                <div fxFlex="100" fxLayout="column" [ngClass]="tblplaceholder?'':'nofound'" fxLayoutAlign="center center">
                                    <div fxLayout="row wrap" fxLayoutAlign="center center"  *ngIf="tblplaceholder"
                                    class="NorecordLoader m-t-20"></div>
                                    <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!tblplaceholder" />
                                    <p class="m-t-10 txt-gry3 fs-16" *ngIf="!tblplaceholder ">{{'No Records' | translate}} </p>                                    
                                </div>
                            </td>
                        </ng-container>
                        <ng-container >
                            <mat-footer-row [class.stickyclass]="(gradelog_length > 0) ? 'none' : 'block'"
                                [style.display]="(gradelog_length > 0) ? 'none' : 'block' "
                                *matFooterRowDef="['disclaimer']" style="justify-content: center">
                            </mat-footer-row>
                        </ng-container>
                    </mat-table>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
                    <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator">
                        <mat-paginator class="p-r-10" ngClass.xs="block" ngClass.sm="block"
                            class="masterPage masterbottom " showFirstLastButtons [pageSize]="paginator?.pageSize"
                            (page)="syncPrimaryPaginator($event);" [pageIndex]="paginator?.pageIndex"
                            [length]="gradelog_length" [pageSizeOptions]="paginator?.pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
