<div fxLayout="row wrap" class="tracklist">
  <div fxFlex.gt-sm="100" fxFlex="100" class="">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100">
        <div ngClass.xs="responsive" ngClass.sm="responsive" class="topheadermain alignwidth">
          <div class="imagewithtext">
            <span class="p-l-20  lypisfont-bold spancolor">Online / Offline Payment Tracker</span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center" fxLayout="row wrap" class="m-t-25">
      <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="90" fxFlex.xl="90" class="tablebox">
        <div fxLayout="row wrap" fxLayoutGap="30px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
          <div fxFlex="100" class="datpick">
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
              <mat-form-field (click)="picker.open();">
                <input matInput [matDatepicker]="picker" placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25"
              class="todat p-l-20">
              <mat-form-field (click)="picker2.open();">
                <input matInput [matDatepicker]="picker2" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100">
            <div class="datpick">
              <button mat-flat-button class="resetbutton">Reset</button>
              <button mat-flat-button class="savebutton m-l-20" (click)="toggle()" id="bt">Search</button>
            </div>
          </div>
          <ng-container *ngIf="show">
            <div fxLayoutAlign="center" fxLayout="row wrap" class="m-t-5 w-100">
              <div fxFlex="100">
                <div class="datefrom">
                  <p><span class="txtdate">From</span><span class="datnume">{{starpackinfo.formdate}}</span> <span
                      class="txtdate">To</span><span class="datnume">{{starpackinfo.todate}}</span></p>
                  <p><span class="txtdate">Total Payment</span><span class="datnume">{{starpackinfo.totalpay}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="w-100">
              <div fxFlex="100">
                <div class="disflex">
                  <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
                    <div class="offbox">
                      <p class="online">Online Payment (75)</p>
                      <div class="onimage">
                        <div *ngFor="let topics of topicslist">
                          <div class="backimage">
                            <img class="noimage" src="assets/images/{{topics.logo}}" alt="Product Name" />
                          </div>
                          <hr>
                          <div class="num">{{topics.count}}</div>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                    class="todat p-l-10">
                    <div clas="onbox">
                      <p class="offline">Offline Payment (80)</p>
                      <div class="onimage">
                        <div class="offtext">
                          <div>
                            <div class="backimage">
                              <p class="fs-16 m-0">Cheque / Cash Deposit</p>
                            </div>
                            <hr>
                            <div class="num">{{starpackinfo.check}}</div>
                            <hr>
                          </div>
                          <div>
                            <div class="backimage">
                              <p class="fs-16 m-0 banktran">Bank Transfer</p>
                            </div>
                            <hr>
                            <div class="num">{{starpackinfo.bank}}</div><hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>