@mixin flexcenter {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
@mixin flexstart {
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
}
@mixin flexend {
  display: flex;
  justify-content: flex-end !important;
  align-items: center !important;
}
@mixin spacebetween {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
}
@mixin commancssforptag {
  color: #333;
  font-size: 0.875rem;
  margin: 0;
}

::ng-deep.actsectorwidth{
    margin-left: 40px;
    min-width: calc(93% + 64px) !important;
}

.companyinfomcp {
  @include flexstart();
  align-items: flex-start !important;

  img {
    width: 44px;
    height: 44px;
  }
  .lypisid {
    color: #666666;
    font-size: 0.75rem;
  }
  p {
    margin: 0;
    line-height: 1;
    color: #000;
  }
}
.borderbottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.tabsectionadmin .mat-tab-label {
  justify-content: flex-start !important;
}
.tabselectheadercontent {
  padding-left: 10px;
}
.adddepartmentfrm {
  width: 100%;
}
::ng-deep.addproductsmainselect {
  background: #fff;
  border: 1px solid #e2e4e8;
  box-shadow: none !important;
  padding: 10px !important;
  margin: 0;

  .mat-card-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    color: #006cb7;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    i {
      font-size: 1.5625rem;
    }
  }

  .mat-card-header {
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .mat-card-content {
    .productinfo {
      color: #006cb7;
    }
  }
  .selectsubtitle {
    color: #656565;
    font-size: 14px !important;
  }
  .mat-card-footer {
    margin: 0;
  }
  .selectforward {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    i {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      color: #777;
      font-size: 0.875rem;
    }
  }
}
.text-blue {
  color: #006cb7;
}
.titletext {
  width: 100% !important;
}

::ng-deep.select_with_search
/* ,::ng-deep.mat-select-panel  */
{
  overflow: hidden;
}
.searchinmultiselect {
  i {
    color: #7f8fa3 !important;
    padding-right: 6px;
    cursor: pointer;
  }
  .mat-icon
  {
    cursor: pointer;
  }
}
// @media (max-width: 580px) {
//   ::ng-deep.select_with_search {
//     min-width: auto !important;
//    }
// }


.listsector{
  .viewclear{
     min-width: 165px;
     height: 40px;
  }
  .leftmainspace{
    .flexmidcontentview{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .widthofsecondsub{
            width: 50%;
            height: 55px;
        }
    }
    
      .subcontent{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
         .widthoffirst{
            width: 50%;
            height: 55px;
            margin-bottom: 25px;
         }
         .secondwidth{
            @extend .widthoffirst;
            width:100% !important;
         }
         .sectorheight{
            @extend .widthoffirst;
            width:100% !important;
            height: 45px !important;
            margin-bottom: 6px !important;
         }
         .firstviewcontent{
          p{
            width: 35%;
            height: 20px;
            margin-bottom: 20px;
          }
         }
         .descriptitlesector{
          p{
            width: 20%;
            height: 15px;
            margin-bottom: 20px;
          }
          .descriptioncontent{
            @extend .widthoffirst;
            width:100% !important;
            height: 85px !important;
         }
       }
      }
  }
  .clearpro{
     min-width: 80px;
     height: 40px;
  }
  .addviewload{
     @extend .clearpro;
     min-width: 95px !important;
  }
  .alignload{
     display: flex;
     align-items: center;
     justify-content: flex-end;
  }
  .addviewload
  .heightofbtn{
     height: 40px;
  }
  
}

.headerinformationtext::after {
  left: 187px !important;
}
.placeholder-content {
  height: 320px;
  background: #000;
  position: relative;
  // Animation
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8; // Fallback
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; // Animation Area
  }
  .placeholder-content_item {
  width: 100%;
  height: 20px;
  position: absolute;
  z-index: 2;
  }
  .placeholder-content_item:after,
  .placeholder-content_item:before {
  width: inherit;
  height: inherit;
  content: "";
  position: absolute;
  }
  @keyframes placeholderAnimate {
  0% {
      background-position: -650px 0;
  }
  100% {
      background-position: 650px 0;
  }
  }
  .pagetitle {
  background: #000;
  position: relative;
  // Animation
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: pagetitleAnimate;
  background: #f6f7f8; // Fallback
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; // Animation Area
  }
  .pagetitle:before {
      width: inherit;
      height: inherit;
      content: "";
      position: absolute;
      }
  @keyframes pagetitleAnimate {
   0% {
     background-position: -650px 0;
   }
   100% {
     background-position: 650px 0;
   }
  }
  
  .projlstngph{        
      span{
          display:block;
          &.tphid{width:30%;height:12px;margin-top:12px;}
          &.tphtitle{width:60%;height:12px;margin-top:12px;}
          &.tphtype{width:20%;height:12px;margin-top:12px;}
          &.tphstatus{width:100px;height:12px;margin-top:12px;}
          &.tphcount{width:40px;height:12px;margin-top:12px;}
          &.tphdesp{width:100%;height:12px;margin-top:12px;}
      }
      .tphmore{
        position:absolute;
        top:10px;
        right:10px;
        color:#999;
      }
      .docrow{
          display:flex;
          width:100%;
          
          .docimg{
              width:80px;
              height:80px;
              margin-right:20px;
          }
          .doccontent{
              display:flex;
              flex-direction:column;
              .doctitle{
                  width:50%;height:12px;
              }
              .doccol{
                  display:flex;
                  flex-direction: row;
                  .doccoldata{
                      width:25%;
                      margin-right:30px;
                      display:flex;
                      flex-direction:column;
                      .docdate{
                          width:150px;height:12px;
                      }
                  }
              }
              
          }
      }
      hr{
          width:100%;
          border-top:1px solid #ddd;
          margin:20px 0;
      }
      .targetjustify{
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        .pager{
          width:25%;
          height:32px;
        }
        .search{
          width:25%;
          height:32px;
        }
      }
      .tablerow{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        width:100%;
        .tabletitle{
          width:18%;
          margin-right:2%;
          height:32px;
        }
      }

      .project-lst{
        border: 1px solid rgba(204, 204, 204, 0.5);
        border-radius: 4px;
        background-clip: padding-box;
        background-color: #fff;
        min-height: 242px;
        width: 100%;
        padding: 0px;
        margin-top:20px;
        .project-lst-header{
          min-height:180px;
          width:100%;
          display:flex;
          flex-direction:row;
          padding:15px;
          position:relative;
          .projimg{
            width:160px;
            height:160px;
            margin-right:20px;
          }
          .projdet{
            display:flex;
            flex-direction:column;
            width:calc(100% - 160px);
          }
        }
        .project-lst-footer{
          min-height: 60px;
          border-radius: 2px;
          background-clip: padding-box;
          background-color: #ebeff5;
          padding: 8px 0px !important;
          align-items: center;
          justify-content: space-between;
        }
      }
  }
.innnerpartofdrwer{
  &.organisationinfo{
    &.adddepartment{
      padding-left:50px !important;
      padding-right:50px !important;
    }
  }
}
::ng-deep.adddepartment{
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #4aa1ac !important;
}
}
.disable_icon {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}