<div fXLayout="row wrap" class="loaderrespone">
  <div fxFlex.gt-sm="100" fxFlex="100" class="textaligncenter">
    <!-- <div class="loaderprogress"> -->
        <!-- <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div> -->
        <img src="assets\images\opalimages\opal-loader.gif" alt="">
        <p *ngIf="!arabic" class="fs-16 tex-gry3">Loading Please Wait...</p>
        <p *ngIf="arabic" class="fs-16 tex-gry3">جاري التحميل الرجاء الانتظار.</p>
    <!-- </div> -->
  </div>
</div>
