

  @mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

@mixin flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
}

@mixin flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
}

@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  #paymentonlinetistview{   
      .updatealignsuccess{
          @include flexstart();
          .updateheadertextcolor{
              p{
                  color: #666666;
                  font-size: 0.875rem;
                  margin: 0px;
              }
              span{
                  color: #333333;
                  font-size: 0.9375rem;
              }
          }
          .borderrightstatus{
              border-right: 1px solid #dadada;
          }
      }
  }

  .borderbottomrenewallist{
    width: 100%;
    border-bottom: 1px solid #dadada;
    .borderbottomrenwalalign{
        width: 100%;
        .codecolor{
            color: #666666;
            font-size: 0.875rem;
        }
        p {
          margin: 0;
          line-height: 1;
          color: #000;
        }
        .interbold{
            font-family: 'opal_semibold';
            line-height: 20px;
            word-break: break-word;
        }
        .textcolorno{
            color: #333333;
        }
      } 
      .renewalalign{
          @include flexstart();
      }  
      .renewalfreshcolor{
        background-color: #666666;
        color:#fff !important;
        font-size: 12px !important;
        border-radius: 2px;
        padding: 0px 8px;
        margin-left: 8px;
      }
  }

  .updatecommentscroll::-webkit-scrollbar {
    width: 0.4em;
    position: absolute;
    right: 0;
   }
  .updatecommentscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
   }
  .updatecommentscroll::-webkit-scrollbar-thumb {
    background-color: #b8c3cb;
    outline: 1px solid slategrey;
   }
  .updatecommentscroll{
    max-height: 100% !important;
    overflow-x: auto !important;
    }
    
    @media (max-width:767px){
        .renewalalign{
            display: block !important;
            .renewalfreshcolor{
                margin-left: 0px !important;
            }
        }
        .space{
            padding-top: 10px;
        }
         .updatealignsuccess{
            display: block !important;
            .updateheadertextcolor{
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            .borderrightstatus{
                border: none !important;
                padding-bottom: 10px;
            }
        } 
    }