#royalpayment {
    .cancelbtn {
        min-width: 110px;
        background-color: #ffff;
        border: 1px solid #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
        height: 45px;
        font-size: 15px;
        box-shadow: none;

    }
    .txt-gry {
        color: #848484 !important;
    }
    .txt-gry3 {
        color: #262626 !important;
    }
    .validet {
        background-color: #0c4b9a !important;
        color: #fff !important;
        height: 45px;
        min-width: 120px;
        box-shadow: none;
    }

    .knowledgegrid {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 8px #0000001a;
        border: 1px solid #D7DCE3;
        border-radius: 4px;
        opacity: 1;
        padding: 10px;

        .text-gray {
            color: #848484;
        }

        .text-default {
            color: #262626 !important;
        }

        .bold {
            font-weight: 600;
        }

        .details {

            .head {
                justify-content: space-between;
                align-items: center;
                height: 40px;

                .grade {
                    align-items: center;
                    color: #895B37;
                }

                .gold {
                    align-items: center;
                    color: #BA9666;
                }

                .silver {
                    align-items: center;
                    color: #B9BABC;
                }
            }

            .application-detais {
                border: 1px solid #D7DCE3;
                padding: 5px;
                margin-top: 10px !important;
            }

        }

        .address {
            justify-content: space-between;
            width: 60%;

            .add-details {
                i {

                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #707070;

                }
            }
        }
    }

    h4 {
        color: #0C4B9A;
    }

    .feedetails {

        .view_dtl {
            p {
                min-width: 222px;
                color: #848484;
                font-size: 16px;

                @media(max-width: 768px) {
                    min-width: 178px;
                }
            }

            span {
                color: #262626;
                font-size: 16px;

                .document {
                    width: 22px;
                    height: 28px;
                }
            }
        }
    }

    .awaredtable {
        border-radius: 2px;
        background-clip: padding-box;
        background-color: #fff;
        margin: 10px 0px;

        .manageoptions {
            padding-right: 15px;
        }

        .mat-row {
            width: fit-content;

            &:hover {
                background-color: #f5f5f5 !important;

            }
        }


        .mat-cell {
            color: #262626;
        }

        .mat-header-cell {
            background-color: #eaedf2;
            font-size: 15px;

            button {
                text-align: left;
            }
        }

        .mat-sort-header-arrow {
            color: #ED1C27;
        }
    }

    .mat-paginator-container {
        .mat-paginator-page-size-label {
            color: #848484;
            font-size: 15px;
        }

        .mat-select-value {
            color: #626366;
            font-size: 15px;
        }

        .mat-paginator-range-label {
            color: #848484;
            font-size: 15px;
            margin: 0px 10px !important;
        }
    }

    #searchrow,
    #filtershow {
        border: none;

        .serachrow {
            min-height: 73px !important;
        }
    }

    .footerpaginator {
        .mat-paginator-outer-container {
            .mat-paginator-container {
                padding: 0px !important;

                @media (max-width:768px) {
                    display: block !important;
                }
            }

            .mat-paginator-range-actions {
                width: calc(100% - 186px);
                color: #0c4b9a;

                .mat-paginator-range-label {
                    width: calc(100% - 186px);

                }

                @media(max-width: 768px) {
                    width: auto !important;
                }
            }
        }
    }

    .scrolldata {
        position: relative;
        z-index: 1;
        display: block;
        overflow-x: auto;
        background-color: #fff;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 6px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 2px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #ccc;
        }
    }

    .filter {
        height: 45px;
    }

    .paginationwithfilter {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .tabforclientelenew {
        .mat-form-field-appearance-outline {
            .mat-form-field-infix {
                padding: 8px 0 !important;
            }
        }

        .manageoptions {
            .mat-icon {
                color: #acacac;
            }
        }
    }

    .masterPageTop {
        .mat-paginator-range-actions button {
            display: none;
        }
    }

    .filter {
        height: 45px;
        border-radius: 2px;
        box-shadow: none;
    }
    .cancelbtn {
        min-width: 110px;
        background-color: #ffff;
        border: 1px solid #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
        height: 45px;
        font-size: 15px;
        box-shadow: none;

    }
}