.personemail {
    color: #ef8436 !important;
    font-size: 0.9375rem;
    word-break: break-word;
}
.greeting {
    color: #333;
    font-size: 0.9375rem;
    margin-bottom: 5px;
}
.personname {
    color: #006cb7;
    font-size: 1rem;
    font-weight: bold;
}
