@mixin flexcenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@mixin flexstart {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

@mixin flexend {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}
#setpassword {
    .mat-form-field-appearance-outline {  
        .mat-form-field-outline {
            color: #d9d9d9;
        }
    
        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }
    
        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }
    
        .mat-form-field-required-marker {
            color: #ED1C27;
        }
    
        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;
        }
    
        &.mat-focused {
            .mat-form-field-outline-thick {
                color: #0c4b9a;
                background-color: #f8f8f8;
            }
    
            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        color: #0c4b9a;
                    }
                }
            }
        }
    
        &.mat-form-field-disabled {
            .mat-form-field-outline {
                background-color: #f8f8f8;
            }
        }
    
    
        &.mat-form-field-invalid.mat-form-field-invalid {
            .mat-form-field-outline-thick {
                color: #dc4c64;
                background-color: #f8f8f8;
            }
        }
    
        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    transform: translateY(-.9rem) scale(0.75);
                    color: #848484;
    
                    .mat-form-field-required-marker {
                        color: #ED1C27;
                    }
                }
    
                .mat-form-field-outline-gap {
                    width: 0px !important;
                }
            }
        }
    }
    
}
#setpassword{
    .bottominfo {
        min-height: calc(100vh - 350px);   
    }
}
.scrollerdata {
    position: relative;
    z-index: 1;
    display: block;
    overflow: auto;
    overflow-x:hidden;
    height: calc(100vh - 121px);
    background-color: #fff;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #ED1C27;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ED1C27;
    }
}
.bodycont {
    height: calc(100vh - 70px);
    flex-direction: column;
    @include flexcenter();
    &.twofactor {
        width: auto;
    }
}
.mat-input-element {
    color: #262626;
}


.mat-checkbox-checked {
    &.mat-accent {
        .mat-checkbox-background {
            background-color: #ED1C27 !important;
        }
    }
}

.read_only {
    input[readonly] {
        cursor: no-drop;
    }
}
.mat-form-field {
    &.mat-form-field-invalid {
        .mat-form-field-label {
            color: #dc4c64 !important;
        }
    }
}

.single-blog-bg {
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #fff;
}

.single-blog-bg:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60%;
    top: 0;
    background-color: #e8e8e8;

}

.bottominfo {

    display: flex;
    max-width: 100% !important;
    margin-right: auto;
    height: auto !important;
    justify-content: center;
    min-height: calc(100vh - 55px);
    align-items: center;
    @media (min-width:1366px) {
        height: calc(100vh - 220px);
    }

    .mat-input-element {
        color: #262626 !important;
    }


    .rightsideinfo {
        position: relative;
        background-color: #fff;
        width: 600px;
        padding: 50px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);

        .contactus_container {
            @include flexcenter();

            ul {
                list-style-type: none;
            }

        }
        .succbtn {

            justify-content: center !important;
        }

        #popoverset_passwordhide {
            margin: 0px;

            li {
                @include flexstart();
            }

            li::before {
                display: none;
            }

            a {
                font-size: 18px;

                i {
                    color: #A4A4A4;
                    margin-right: 15px;
                }
            }
        }
        .easycolormail {

            h2 {
                color: #626366;

                .headcolor {
                    color: #ed1c27;
                    font-weight: 600;
                }
            }

            .log-bold {
                font-weight: 600 !important;
            }
        }

    }

    
}

.lypislogoimage {
    text-align: center;
    h2 {
        color: #626366;

        .headcolor {
            color: #ed1c27;
            font-weight: 600;
        }
    }

    .log-bold {
        font-weight: 600;
    }
}

.backtohometxt {
    color: #333;
    a {
        color: #626366 !important;
        align-items: center;
.arrow{
    color: #ed1c27;
}
    }
}
.pos-relative {
    align-items: center;
    button {
        right: 35px;
        font-size: 13px;
        font-family: 'opal_regular';
        color: #999999 !important;

        span {
            i {   
                font-size: 13px;
                color: #999999 !important;
            }
        }
    }
    
}
.spinnercircle {
    button {
      .spinner {
        top: auto !important;
        bottom: auto !important;
      }

      .mat-progress-spinner.mat-warn circle,
      .mat-spinner.mat-warn circle {
        stroke: #fff !important;
      }
    }
  }
.setbtn {
    justify-content: center !important;

    button {
        width: 60%;
    }
}
.havecolor {

    p {
        a {
            color: #ed1c27;
        }
    }
}

.checkall {
    .mat-checkbox {
        color: #333333;
        font-size: 0.875rem;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background: #006cb7 !important;
    }
}

.successtick {
    @include flexcenter();

    span {
        height: 70px;
        width: 70px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 100%;
        color: #00a551;
        border: 2px solid #00a551;

        .mat-icon {
            font-size: 2.188rem;
            height: auto;
            width: auto;
        }
    }
}

.submitbtn {
    height: 60px;
    border-radius: 2px;
    background-color: #ed1c27;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
&:hover{
    cursor: pointer;
    background-color: #CC000B;
}
    .fullWidth {
        .button-text {
            font-size: 1rem !important;
            color: #fff;
        }
    }
    .mat-button{
        text-transform: uppercase;
    }

}

.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.heightregistertop {
    min-height: 41px;
    width: 75%;
    background-color: #fff;
    border-radius: 8px;
    margin-left: auto;
    display: flex;
    max-width: 90% !important;
    margin-right: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    &.showontop{
        z-index:1;
        /*transform:translateY(-50%);
        margin-top:150px;*/
        margin-top:50px;
        margin-bottom:50px;
        padding-top:30px;        
        max-width:600px !important;
        .icon-size{
            max-width:48px;
            height:auto;
        }
    }
    @media (max-width:768px){
        width:96%;
    }

}

.request {
    width: 100% !important;
    height: 60px;
    border-radius: 2px;
    color: #fff;
    background-color: #ED1C27;
    border: none;
    font-family: "opal_regular", sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    text-transform: uppercase;
    cursor:pointer;
}

.headerimage {
    text-align: center;

    img {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    h4 {
        color: #333333;
    }
}

.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.heightregister {
    min-height: 535px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.headerimage {
    text-align: center;

    img {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    h4 {
        color: #333333;
    }
}

.regfooter {
    .login_footer {
        display: flex;
        justify-content: space-between;
        background: transparent;
        margin-left: auto;
        margin-right: auto;
        max-width: 80.33% !important;
        padding-bottom: 20px;
    }

    .login_footer .login_footer_left ul li a {
        color: #333 !important;
        display: flex;
        align-items: center;
        font-size: 15px !important;
    }

    .login_footer_right {
        color: #333 !important;
        font-size: 15px !important;
    }
}

.headerstylings {
    background: #fff !important;
    position: relative;
}

.bottominfo {
    display: flex;
    max-width: 80%;
}

.tablbelicon {
    i {
        font-size: 3.125rem;
    }
}
.inputcolor {
    color: #333333;
    line-height: 30px;
}
@media (min-width:1366px) {
    .rightsideinfo {
        width: 600px !important;
    }
}
@media (min-width:1920px) {

    .rightsideinfo {
        width: 685px !important;
    }
}
.newpasswordkey {
    position: absolute;
    right: 100%;
    width: 100%;
    z-index: 9999;
    left: -50%;
    top: -100%;
    transform: translate(-60%, -50%);
}

.renterpasswordkey {
    position: absolute;
    right: 100%;
    width: 100%;
    z-index: 9999;
    left: -50%;
    top: -70%;
    transform: translate(-60%, -50%);
}

.keyboardpassword {
    .hg-button.hg-standardBtn[data-skbtn=".com"] {
        display: none;
    }
}


.pophoverlisted {
    #changethesize {
        font-size: 15px !important;
    }

    .keyboardubtton.mat-icon-button {
        color: #666;
    }

    .mat-dialog-container {
        background: transparent;
        box-shadow: none;
    }

    .bottomtext {
        background: transparent;
        margin-top: 10px;

        p {
            margin: 0;
            color: #fff;
            text-align: center;
        }
    }

    .popover.popover-content.bs-popover-left {
        margin-left: 0px !important;
        left: -325px !important;
        padding: 10px;
        width: 45% !important;
        margin-top: 10px;
        top: 50% !important;
        transform: translateY(-50%);
        @media (max-width:768px){
            left:-165px !important;
        }
    }

    .popover.popover-content.bs-popover-left .arrow::before,
    .popover.popover-content.bs-popover-left .arrow::after {
        border-width: 15px 0px 15px 15px !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .alignsupport {
        text-align: center;
    }

    .containcolor {
        list-style-type: none;
        padding: 0px;

        li {
            position: relative;
            font-size: 0.875rem;
            margin: 0px;
            padding-left: 18px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }
    }

    .matched::before {
        font-family: FontAwesome;
        content: "\f10c";
        color: #78c320 !important;
    }

    .unmatched::before {
        font-family: FontAwesome;
        content: "\f10c";
        color: red !important;
    }

    li::before {
        font-family: FontAwesome;
        content: "\f10c";
        position: absolute;
        left: 0px;
        display: flex;
        color: #666666;
        font-size: 0.625rem;
    }

    .cursor {
        cursor: pointer;
    }

    .previousdisabled {
        background: #ececec;
        border-radius: 2px;
        border: 1px solid #ececec !important;
        color: #999 !important;
        font-size: 15px !important;
        width: 100%;
        display: flex;
        span.button-text {
            color: #999 !important;
            font-size: 1rem !important;
        }
    }
    .backgroundconfirm {
        background-color: #f3f5f6;
        width: 100%;
    }

    .after {
        height: 50px;
        width: 50px;
        background-color: #e3f2d0;
        border-radius: 50%;
        display: inline-block;
    }

    .after:after {
        display: inline-block;
        content: "";
        display: block;
        width: 12px;
        height: 20px;
        border: solid #70c015;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        position: relative;
        left: 19px;
        top: 12px;
    }

    .textalign {
        text-align: center;

        h2 {
            color: #333333;
        }
    }

    .alignflex {
        display: flex;
        justify-content: center;
    }
}
[dir=rtl] {
    .pophoverlisted {
        .popover.popover-content.bs-popover-left {
            margin-right: 0px !important;
            right: -325px !important;

        }

    }
    .spaceinfo {
     left: 0;
     right: auto;
      
    }
    .backtohometxt{
        .mat-icon{
            transform: rotate(180deg);
        }
    }

}
.spaceinfo {
    position: absolute;
    right: 0;
    bottom: 5px;

    i {
        margin-right: 6px;
        color: #666;
    }
}

.flexalign {
    i {
        cursor: pointer;
    }
}
.spaceforleftright {
    .flexalign {
        position: relative;
    }
}

@media (max-width:768px) {
    .leftisideinfo {
        display: none;
    }

    .bottominfo {
        .rightsideinfo {
            max-width: 420px;
        }
    }

}
@media (min-width:769px) and (max-width:1024px) {
    .leftisideinfo {
        display: none;
    }
    .bottominfo {
  .rightsideinfo {
            max-width: 100%;
        }
    }
}

@media (max-width:690px) {
    .login_footer {
        display: flex !important;
        justify-content: center !important;
    }

    .bodycont {
        height: calc(100vh - 115px);
    }

    .login_footer .adminfooter p img {
        width: 100px;
    }
}
[dir=ltr] .p-r-5 {
    padding-right: 0.3125rem !important;
}

[dir=ltr] .p-l-5 {
    padding-left: 0.3125rem !important;
}
.p-b-8 {
    padding-bottom: 0.5rem !important;
}

.login_footer {

    display: flex;
    justify-content: space-between !important;
    font-size: 0.9375rem;
    color: #3c4048;
    align-items: center !important;
}

.login_footer .adminfooter {
    white-space: nowrap;
}

.fs-14 {
    font-size: 0.875rem !important;
}
.popover.popover-content {
    background-color: #ca944a;
    box-shadow: 0 0.2rem 0.4rem 0 rgb(0 0 0 / 15%);
    border: none;
    padding: 0;
    z-index: 1060;
    max-width: none;
    border-radius: 0rem;
    font-family: "opal_regular";
    font-size: "12px";
    border-radius: 2px;
}

.popover.popover-content.sm {
    max-width: 20rem;
    min-width: 150px;
    width: auto;
}

.popover {
    position: absolute;
}
.popover.popover-content.sm {
    max-width: 20rem;
    min-width: 150px;

}
.pophoverlisted .containcolor {
    list-style-type: none;
    padding: 0px;
}
.pophoverlisted .containcolor li {
    position: relative;
    font-size: 0.875rem;
    margin: 0px;
    padding-left: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.pophoverlisted .unmatched::before {
    font-family: FontAwesome;
    content: "";
    color: red !important;
}
.pophoverlisted li::before {
    font-family: FontAwesome;
    content: "";
    position: absolute;
    left: 0px;
    display: flex;
    color: #666666;
    font-size: 0.625rem;
}