<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100" id="Organisationviewlist">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100">
                <div class="coments pd-15 m-t-30">
                    <span class="fs-18">{{'commentslist.coments' | translate}}</span>
                    <p class="text-default p-b-15 p-t-15 m-0 lh-26">In publishing and graphic design, Lorem ipsum is a placeholder text commonly
                        used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                        Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    <div class="validmsg d-flex p-t-15">
                        <p class="text-label fs-16 m-r-20 m-0">{{'commentslist.veryon' | translate}}: <span class="bold text-value fs-16">01-02-2023</span>
                        </p>
                        <p class="text-label fs-16 m-l-20 m-0">{{'commentslist.veryby' | translate}}: <span class="bold text-value fs-16">01-02-2023</span>
                        </p>
                    </div> 
                </div>
                <!-- <div class="decline pd-15 m-t-30">
                    <span class="fs-18">{{'commentslist.coments' | translate}}</span>
                    <p class="text-default p-b-15 p-t-15 m-0 lh-26">In publishing and graphic design, Lorem ipsum is a placeholder text commonly
                        used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
                        Lorem ipsum may be used as a placeholder before final copy is available.</p>
                    <div class="validmsg d-flex p-t-15">
                        <p class="text-label fs-16 m-r-20 m-0">{{'commentslist.veryon' | translate}}: <span class="bold text-value fs-16">01-02-2023</span>
                        </p>
                        <p class="text-label fs-16 m-l-20 m-0">{{'commentslist.veryby' | translate}}: <span class="bold text-value fs-16">01-02-2023</span>
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>
</div>
<app-responseloader *ngIf="disableSubmitButton"></app-responseloader>