#view_assessment {
    margin-bottom: 4%;    

    .cancelbtn {
        min-width: 110px;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
        height: 45px;
    }
    .headcolor {
        color: #0C4B9A;
    }
    .knowledgegrid {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 8px #0000001a;
        border: 1px solid #D7DCE3;
        border-radius: 4px;
        opacity: 1;

        .headcolor {
            color: #0C4B9A;
        }

        .headcolor {
            color: #0C4B9A;
        }

        .text-gray {
            color: #848484;
        }

        .text-default {
            color: #262626 !important;
            font-weight: 500;
        }

        .bold {
            font-weight: 600;
        }

        .details {
            border-bottom: 1px solid #D7DCE3;

            .head {
                justify-content: space-between;
                align-items: center;
                height: 40px;

                .grade {
                    align-items: center;
                    color: #895B37;
                }

                .gold {
                    align-items: center;
                    color: #BA9666;
                }

                .silver {
                    align-items: center;
                    color: #B9BABC;
                }
            }

            .application-detais {
                border: 1px solid #D7DCE3;
                padding: 5px;
                font-size: 16px;
                margin-top: 10px !important;

            }

        }

        .address {
            // justify-content: space-between;
            // width: 60%;

            .add-details {
                i {

                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #707070;

                }
            }
        }

.mapicon {
    font-size: 20px;
    color: #848484 !important;
}
    }

    .btngroup {
        .submit_btn {
            background-color: #ED1C27 !important;
            color: #fff !important;
            min-width: 120px;
            height: 45px;
            padding-left: 0px;
            padding-right: 0px;
            font-size: 15px;
        }

        .cancelbtn {
            min-width: 120px;
            background-color: #ffff;
            border: 1px solid #e8e8e8;
            color: #262626;
            padding-left: 0px;
            padding-right: 0px;
            height: 45px;
            font-size: 15px;
            box-shadow: none;

        }

        .mat-raised-button {
            border-radius: 2px;
        }
    }

    .tabforclientelenew {
        .mat-form-field-appearance-outline {
            .mat-form-field-infix {
                padding: 8px 0 !important;
            }
        }

        .manageoptions {
            .mat-icon {
                color: #acacac;
            }
        }
    }

    .mat-raised-button {
        border-radius: 2px;
        box-shadow: none;
    }

    .menubtn {
        min-width: 170px;
    }

    .auditbtn {
        background-color: #fff;
        color: #262626;
        height: 45px;
        min-width: 120px;
        border: 1px solid #d7dce3;
    }
    .filelabel{
        font-size:13px;
        color:rgba(0, 0, 0, 0.6);
        margin-bottom:10px;
        .required{
            color:#ff0000;
            font-size:13px;
            margin-left:3px;
        }
    }
    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            color: #d9d9d9;
        }

        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }

        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }

        .mat-form-field-required-marker {
            color: #ED1C27;
        }

        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;
        }

        &.mat-focused {
            .mat-form-field-outline-thick {
                color: #0c4b9a;
                background-color: #f8f8f8;
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        color: #0c4b9a;
                    }
                }
            }
        }

        &.mat-form-field-disabled {
            .mat-form-field-outline {
                background-color: #f8f8f8;
            }
            .mat-input-element {
                color: #262626;
            }
        
        }


        &.mat-form-field-invalid.mat-form-field-invalid {
            .mat-form-field-outline-thick {
                color: #dc4c64;
                background-color: #f8f8f8;
            }
        }

        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    transform: translateY(-.9rem) scale(0.75);
                    color: #848484;

                    .mat-form-field-required-marker {
                        color: #ED1C27;
                    }
                }

                .mat-form-field-outline-gap {
                    width: 0px !important;
                }
            }
        }
    }
    .savnxtbtn{
        box-shadow: none;
        min-width: 100px;
        height: 40px;
        background-color: #ED1C27;
        color: #fff; 
    }
    .prevbtn{
        border:1px solid #ddd;
        background:#fff;
        min-width: 100px;
    }
    .readonly{
        border:2px solid #eee;
        background:#f8f8f8;
        padding:5px 8px;
        border-radius:1px;
    }
    .uploadeddoc{
        display:flex;
        align-items: center;
        a{
            color:#666;
            font-size:14px;
        }
    }
    .actionmatmenu{
        background: #666;
        border-radius: 0px;
        min-width: 100px;
        .mat-menu-content{
            button.mat-menu-item{
                height:28px;
                color:#fff;
                line-height:28px;
            }
        }
    }
    .validatebluebtn{
        #validmsg{
            .validet{
                background:#0C4B9A;
                color:#fff;
            }
        }         
    }
}