<div id="upload_assessment" #pageScroll>
        <div class="siteaudit" fxLayout="row wrap" fxLayoutAlign="center">
            <div fxFlex="100">
                <div class="knowledgegrid m-t-10 m-b-20" fxLayout="column">
                    <div class="details pd-15" fxFlex="100">
                        <div class="head" fxLayout="row wrap">
                            <h2 class="headcolor fs-18 m-0 lh-15">
                                <!-- Mr. Saleh Abdullah Kamel -->
                                {{cookieService.get('languageCookieId') ==1  ? staffAssessmentValues?.staffname : staffAssessmentValues?.staffname_ar}}
                            </h2>
                        </div>
                        <div class="m-t-20">
                            <p class="text-gray m-0 fs-15 ">{{'uploadassess.civilno' | translate}}:<span
                                    class="text-default"> 
                                    {{staffAssessmentValues?.civilnumber}}
                                
                                </span></p>
                        </div>
                        <div class="fs-13 m-t-20 m-b-20" fxLayout="row wrap">
                            <p class="application-detais m-r-10 text-gray m-0">{{'uploadassess.courserole' | translate}}: <span
                                    class="text-default">
                                    <!-- Tutor/Trainer -->
                                    {{cookieService.get('languageCookieId') ==1 ? staffAssessmentValues?.roleforcourse_name : staffAssessmentValues?.roleforcourse_name_ar}}
                                
                                </span></p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'uploadassess.coursesubcat' | translate}}: 
                                <span *ngIf="staffAssessmentValues?.appoct_coursename_en != null"
                                    class="text-default">
                                     <!-- Light Vehicles -->
                                     {{cookieService.get('languageCookieId') ==1 ? staffAssessmentValues?.appoct_coursename_en : staffAssessmentValues?.appoct_coursename_ar}}
                                </span>
                                <span *ngIf="staffAssessmentValues?.cour_subcate != null"
                                    class="text-default">
                                     <!-- Light Vehicles -->
                                     {{cookieService.get('languageCookieId') ==1 ? staffAssessmentValues?.cour_subcate : staffAssessmentValues?.cour_subcate_ar}}
                                </span>
                            </p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'uploadassess.practicalassess' | translate}}:
                                <!-- <span class="pas pending" *ngIf="staffAssessmentValues?.app_status == 1">
                                    {{'uploadassess.new' | translate}}
                                </span>
                                <span class="pas pending" *ngIf="staffAssessmentValues?.app_status == 2">
                                    {{'uploadassess.updat' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues?.app_status == 3">
                                    {{'uploadassess.approved' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues?.app_status == 4">
                                    {{'uploadassess.declin' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues?.app_status == 5">
                                    {{'uploadassess.faid' | translate}}
                                  </span> -->
                                  

                                  <span class="pas pending" *ngIf="staffAssessmentValues.ass_status1 != 'null' && staffAssessmentValues.ass_status == 1">
                                    {{'staffpractical.applicab' | translate}}
                                </span>
                                <span class="pas pending" *ngIf="staffAssessmentValues.ass_status1 != 'null' && staffAssessmentValues.ass_status == 2">
                                    {{'staffpractical.notapli' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues.ass_status1 != 'null' && staffAssessmentValues.ass_status == 3">
                                    {{'staffpractical.competent' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues.ass_status1 != 'null' && staffAssessmentValues.ass_status == 4">
                                    {{'staffpractical.notyetcomp' | translate}}
                                  </span>
                                  <span class="pas pending" *ngIf="staffAssessmentValues.ass_status1 == null || staffAssessmentValues.ass_status1 == 'null'">
                                    {{'staffpractical.pending' | translate}}
                                  </span>
                                  <!-- <span> <p *ngIf="staffAssessmentValues.ass_status == 1" class="pas pending" ></p>
                                    <p *ngIf="staffAssessmentValues.ass_status == 2" class="pas pending" ></p>
                                    <p *ngIf="staffAssessmentValues.ass_status == 3"class="pas pending" ></p>
                                   
                                    <p *ngIf="staffAssessmentValues.ass_status == 4" class="pas pending" ></p>
                                    <p *ngIf="staffAssessmentValues.ass_status1 == null || staffAssessmentValues.ass_status == 'null'" class="pas pending" ></p> 
                                </span> -->
                                 
                            </p>
                            <p class="application-detais m-r-10 text-gray m-0">{{'uploadassess.compcard' | translate}}:
                                <!-- <span class="liteorange">Pending</span> -->
                                <!-- <span class="liteorange" *ngIf="staffAssessmentValues?.competencycard == null">{{'table.yettocert' | translate}}</span>
                                <span class="blue" *ngIf="staffAssessmentValues?.competencycard == '2'">{{'table.initial' | translate}}</span>
                                <span class="blue" *ngIf="staffAssessmentValues?.competencycard == '1'">{{'table.updated' | translate}}</span> -->
                                <span *ngIf="staffAssessmentValues.competencycard == '1'"
                                                    class="new">{{'New'}}</span>
                                                    <span *ngIf="staffAssessmentValues.competencycard == '2'"
                                                    class="approved">{{'Active'}}</span>
                                                <span *ngIf="staffAssessmentValues.competencycard == '3'" class="declined">{{'Expired'}}</span>
                                                <span *ngIf="staffAssessmentValues.competencycard == '4'"
                                                class="update">{{'Posted for Card Upgrade'}}</span>
                                <!-- <span class="green">Active</span>
                                    <span  class="red">decline</span> -->
                            </p>
                            <!-- <p class="application-detais m-r-10 text-gray m-0">{{'Site Audit Scheduled on' | translate}}:
                                <span class="text-default"> - </span>
                            </p> -->
                        </div>
                    </div>
                    <div class="address  p-l-15" fxLayout="row wrap" fxFlex.gt-sm="60" fxFlex="100">
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50">
                            <p class="text-gray fs-14">{{'uploadassess.addon' | translate}} <br>
                                <span class="text-default">
                                    <!-- 12/12/12 -->
                                    {{staffAssessmentValues.appsit_createdon != null ? (staffAssessmentValues.appsit_createdon | dateFormat) : '-'}}

                                </span>
                            </p>
                        </div>
                        <div class="add-details" fxFlex.gt-sm="20" fxFlex="50">
                            <p class="text-gray fs-14">{{'uploadassess.lastupdate' | translate}}<br>
                                <span class="text-default">
                                    {{staffAssessmentValues.appsit_updatedon != null ? (staffAssessmentValues.appsit_updatedon | dateFormat) : '-'}}

                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="100">
                <h2 class="headcolor fs-18 m-t-30 m-b-30">{{'uploadassess.uploadassessmt' | translate}}</h2>
                <form autocomplete="off" [formGroup]="uploadassessForm">
                    <div class="fields m-t-20 m-b-40">
                        <div fxLayout="row wrap" fxLayoutAlign="flex-start center">
                            <div fxLayout="row wrap" class="w-100" fxLayoutAlign="flex-start center">
                                <div fxFlex="50" class="documents m-t-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{'uploadassess.selectsts' | translate}}</mat-label>
                                        <mat-select [errorStateMatcher]="matcher" required
                                            formControlName="selectstatus"  (selectionChange)="selectedGovernorate(upassessform.selectstatus.value)">
                                            <mat-option [value]="3">{{'uploadassess.comptent' | translate}}</mat-option>
                                            <!-- <mat-option [value]="1">{{'uploadassess.applicab' | translate}}</mat-option> -->
                                            <mat-option [value]="2">{{'uploadassess.notapplicab' | translate}}</mat-option>
                                            <mat-option [value]="4">{{'uploadassess.notyetcomp' | translate}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="upassessform.selectstatus.errors?.required">{{'uploadassess.selectsts' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" class="w-100" fxLayoutAlign="flex-start center" *ngIf="upload">
                                <div fxFlex="100" class="documents m-t-10">
                                    <mat-label class="filelabel m-b-10">{{'uploadassess.uploadassessmt' | translate}} <span class="required">*</span></mat-label>
                                   
                                    <!-- <mat-hint class="txt-gry fs-12"> {{'uploadassess.upassesserror' | translate}} </mat-hint> -->
                                    <app-filee #awarddoc [fileMstRef]="drvInputed"
                                    (filesSelected)="fileeSelected($event,drvInputed)" formControlName="file_award"
                                    [notePosition]="'bottom'">
                                  </app-filee>
                                  <mat-error *ngIf="showvalidation&&upassessform.file_award.errors?.required">{{'uploadassess.entercomment' | translate}}</mat-error>

                                </div>
                            </div>
                            <div fxFlex="100" fxFlex="100" class="remark m-t-40" *ngIf="comments">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'uploadassess.comments' | translate}}</mat-label>
                                    <textarea #input formControlName="assessmentcomment" row="6" maxlength="1000" matInput [required]="comments"></textarea>
                                    <mat-hint align="end">{{input.value.length}}/1000</mat-hint>
                                    <mat-error *ngIf="upassessform.assessmentcomment.errors?.required">
                                        <!-- {{'uploadassess.entercomment' | translate}} -->
                                        <!-- Upload a Document --> {{'uploadfile.uploafileorsele' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayoutAlign="flex-end" class="m-t-20">
                            <button mat-raised-button class="prevbtn fs-15 m-r-15" (click)="onCancel()">{{'uploadassess.cancel' | translate}}</button>
                            <button type="button" mat-raised-button class="savnxtbtn fs-15" (click)="onSubmit()" [disabled]="uploadassessForm.invalid && disableButton">{{'uploadassess.save' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    
    <app-responseloader *ngIf="disableSubmitButton"></app-responseloader>