<div id="comments">
    <div class="comentpop m-l-0 m-r-0">
    <mat-icon matTooltip="close">close</mat-icon>

        <p class="18 comment">{{'institue.declcomm' | translate}}</p>
        <p class="16 m-b-30">Does the course recognised by International Organisation? If Yes
            Select
            the International Organisation </p>
        <mat-divider></mat-divider>
        <div class="validinfo" fxLayout="row wrap">
            <p class="fs-16 txt-gry m-r-40">{{'institue.lastvalion' | translate}}:<span
                    class="fs-16 txt-gry3 m-l-10">11-02-2023</span></p>
            <p class="fs-16 txt-gry m-l-30">{{'institue.lastvaliby' | translate}}:<span
                    class="fs-16 txt-gry3 m-l-10">Sameer Mohammed</span></p>
        </div>
    </div>
</div>