

.paymenttextcolor{
     p{
         font-family: 'opal_semibold';
         color: #333;
         font-size: 0.875rem;
         margin: 0px;
     }
     span{
        font-family: 'opal_semibold';
        color: #006cb7;
        font-size: 1.375rem;
     }
}