@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center !important;
}
@mixin flexstart {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
}
@mixin flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
}
@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.txt-3{
    color: #333;
}  
.txt-6{
    color: #666666;
}    
.txt-9{
    color: #666;
} 
body{
    background: #fff;
}
.page-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    .bredscruminexp{
        padding-left: 35px;
        padding-right: 35px;  
        padding-bottom: 0px;
    }
}
.topbar{
     align-items: center;
}
.discussionleftright {
    border-top: 3px solid #006cb7;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    .leftsidecontent {
        background: #fff;
        width: 420px;
        border-right: 1px solid #ddd;       
        .lefttop {
            @include spacebetween();
            padding-bottom: 10px;
            .menutopic {
                height: 30px;
                width: 30px;
                @include flexcenter();
                color: #555;
                .mat-button-wrapper {
                    max-height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            p {
                margin: 0;
            }
            .searchandmore {
                @include flexend();
                i {
                    padding-right: 5px;
                    margin-right: 15px;
                    padding-left: 5px;
                    color: #666;
                    cursor: pointer;
                    &:nth-child(2) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    #topicsandacrchieve {

        .mat-tab-labels {
            width: 100%;
            margin-left: 0;
            // box-shadow: inset 0 0 5px rgba(168, 172, 183, 0.35);
            padding: 5px;
        }
        .mat-tab-label{
            opacity: 1 !important;  
            height: 40px !important;
        }
         .mat-tab-list{
            opacity: 1 !important;  
            background: #f2f3f7;
            height: 50px !important;
            padding: 0px !important;
        }
        .mat-tab-body {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            background-color: #fff;
        }
        .mat-tab-label {
            width: 50% !important;
            border-radius: 2px;
            height: 40px;
            margin-right: 0 !important;
        }
        .mat-tab-label-active {
            background-color: #006cb7;
            .mat-tab-label-content {
                color: #fff;
            }
        }
        .mat-tab-header {
            border: 0;
            background-color: transparent !important;
        }
        .mat-ink-bar {
            display: none !important;
        }
        .eachtopiccontainer {
            padding: 0px 10px;
            .eachtopicitem {
                display: flex;
                border-bottom: 1px solid #ddd;
                padding-top: 20px;
                padding-bottom: 20px;
                min-height: 70px;
                padding-left: 20px;
                .checkboxes {
                    width: 25px;
                    display: flex;
                    justify-content: center;
                    margin-top: 5px;
                    font-size: 1.25rem;
                    i{
                        color: #f58020;
                    }
                }
                .topicdetails {
                    width: calc(100% - 80px);
                    display: flex;
                    cursor: pointer;
                    .userimage {
                        width: 55px;
                        height: 55px;
                        position: relative;
                        z-index: 0;
                        &::after {
                            content: "";
                            background: #f58020;
                            position: absolute;
                            height: 60%;
                            right: -3px;
                            width: 67%;
                            z-index: -1;
                            bottom: -3px;
                        }
                        img {
                            max-width: 100%;
                            width: 100%;
                            z-index: 9999;
                            position: relative;
                            max-width: 100%;
                            background: #fff;
                        }
                    }
                    .usercontent {
                        width: calc(100% - 55px);
                        padding-left: 20px;
                        .topicname {
                            color: #333;
                            font-size: 1rem;
                            margin: 0;
                            font-weight:600;
                        }
                        .dateandcreateby {
                            @include flexstart();
                            margin: 0;
                            color: #656565;
                            font-size: 0.8125rem;                            
                        }
                    }
                }
                .counting{
                    p{
                        font-size: 0.75rem;
                        background: #f04242;
                        color: #fff;
                        padding: 1px 9px;
                        border-radius: 10px;
                    }
                }
                .countash{
                    p{
                        font-size: 0.75rem;
                        background: #ddd;
                        color: #333;
                        padding: 1px 9px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .rightsidecontent {
        width:100%;        
        padding-left: 0px;       
        position: relative;
        display: flex;
        background-color: #fff;
        .rightinfo{
            display: flex; 
            width:100%;
            justify-content: space-between;
            height: 50px !important;
            background: #f2f3f7;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 8px;
            p{
                margin: 0;
            }

        }
        
        .checkboxes{
            display: flex;
            padding-top: 5px;
            .mat-checkbox-frame{
                border-width: 1px !important;
            }
            .sortby {
                width: 8px !important;
                display: flex;
                cursor: pointer;
                font-size: 1.125rem;
                color: #333;            
                padding: 0px;
                 font-family: 'opal_semibold';
                min-width: 34px !important;
                line-height: 6px !important;
                
                .mat-form-field-infix {
                  margin-top: 0px !important;
                  border-top: 0px !important;
                  padding: 0.5em 0 !important;
                }
    
                .mat-form-field-underline {
                  display: none !important;
                }
    
                .mat-button {
                  min-width: 0px;
                  color: #fff;
                }
            }
        }
          
        .searchfilter{
            display: flex;
            justify-content: space-between;
            .searchProject {
                width: 275px;
                .mat-form-field{
                    border: 1px solid #e5e5e5;
                    padding: 0;
                    margin: 0;
                }
                .mat-form-field-wrapper{
                    padding-bottom: 0;
                }    
                .mat-form-field-flex {
                  position: relative;
                  border: 1px solid #fff;
                  padding: 1px 12px !important;
                  padding-bottom: 10px;
                  background-color: #fff;
                  border-radius: 2px !important;
                  height: 33px;
                  .mat-form-field-infix{
                    border-bottom: 0px !important;
                    padding: 0;
                    padding-top: 6px;
                    border-top: 40px;
                  }
                  .mat-form-field-suffix {
                    position: relative;
                    margin-left: 10px;
                    color: #c0bbbb;
                    font-weight: bold;
                    top: 0px;       
                    .mat-icon{
                        font-size: 18px !important;
                    }
                  }
            
                  .mat-form-field-prefix {
                    position: relative;
                    margin-right: 10px;
                  }
                }
            
                .mat-form-field-underline {
                  display: none;
                }
            
                .mat-form-field-appearance-fill .mat-form-field-flex {
                  border-radius: none !important;
                }
            } 
        }       
        button {
          cursor: pointer;   
          width: auto !important;
        }  
        .unred{
            font-size: 0.875rem;
             font-family: 'opal_semibold';
            color: #000;
        }
        .sort{
            .sortby {
                width: 8px !important;
                display: flex;
                cursor: pointer;
                font-size: 0.875rem;
                color: #333;            
                padding: 0px;
                 font-family: 'opal_semibold';
                min-width: 64px !important;
                line-height: 6px !important;
                
                .mat-form-field-infix {
                  margin-top: 0px !important;
                  border-top: 0px !important;
                  padding: 0.5em 0 !important;
                }
    
                .mat-form-field-underline {
                  display: none !important;
                }
    
                .mat-button {
                  min-width: 0px;
                  color: #fff;
                }
            }
        }  
    }
    
}
.editdelete.mat-menu-panel{
        margin-top: 5px;
        background-color: #333 !important;    
    .mat-menu-item{
        height: 32px !important;
        color: #fff !important;
        line-height: 32px !important;
    }
}
@media (max-width: 768px) {
    .discussionleftright {
        display: block !important;
        .eachtopiccontainer {
            width: 100%;
        }
        .leftsidecontent {
            width: 100% !important;
            padding-right: 0 !important;
            border: 0 !important;
        }
        .rightsidecontent {
            width: 100% !important;
            padding-left: 3px !important;
        }
        .joincomment {
            width: calc(100% - 5px) !important;
        }
        #topicsandacrchieve .mat-tab-labels {
            margin-left: 0 !important;
            width: 100%;
            margin-top: 0 !important;
            display: flex !important;
        }
    }
}
@media (max-width: 767px) {
    .eachitemindetail {
        .divisions {
            .topicdetails {
                display: block !important;
                padding: 15px;
                .usercontent {
                    padding-left: 0 !important;
                    padding-top: 15px;
                }
            }
        }
    }
}
.rightsidecontent1{
    background-color: #fff;
}
.rightcontent{
    background-color: #fff;
    .mat-expansion-panel{
        box-shadow: none;
        border-bottom: 1px solid #ddd;
        border-radius: 0px !important;
    }
    .mat-expansion-panel-header-title{
        justify-content: space-between;
        p{
            display: flex;
        }
        .counting{
            font-size: 0.75rem;
            background: #f04242;
            color: #fff;
            padding: 3px 9px;
            border-radius: 10px;
            margin-right: 15px;            
        }
    }
    .mat-expansion-panel-header:hover{
        background: transparent !important;
        .titlehover{
            color:#006cb7;
        }
    }
    .mat-checkbox-frame{
        border-width: 1px !important;
    }   
    .mat-checkbox-checked.mat-accent .mat-checkbox-background{
        background-color: #006cb7;
    }
    .mat-expansion-panel-header{
        padding: 0px 12px;  
    }
    .mat-expanded{
        .mat-expansion-panel-header {
            background-color: #006cb7 !important;
            color: #fff;  
            padding: 0px 12px;     
        }
        mat-panel-title{
            p{
                color:#fff !important; 
                display: flex;
            }
        }
        .titlehover{
            color:#fff !important;
        }
        .mat-checkbox-frame{
            color: #fff;
            background: #fff;
            border: #ffff;
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background{
            color: #006cb7;
            background: #fff;
        }
        .mat-checkbox-checkmark-path{
            stroke: #006cb7 !important;
        }
    }
   
    .article{
        display: flex;
        width: 100%;        
        justify-content: space-between;
        padding: 20px;
        .docart{
            display: flex;
            .artdoc{
                color: #006cb7;
            }
        }
        .notes{
            background: #e0f0ff;           
            color: #006cb7;
            padding: 15px;
            border-radius: 2px;
            height: 60px;
            i{
                font-size: 1.5625rem; 
                color: #006cb7;                         
            }            
        }
        .download{
            margin-top: 14px;
            background: #ffff;
            padding: 11px 15px;
            border-radius: 25px;
            height: 45px;
            i{
               color:#fff; 
            }
        }
        &:hover{
            background-color: #f2f3f7;
            .notes{
                background: #006cb7;
                i{
                    color:#fff;         
                } 
            }
            .download{                
                background: #ffff;   
                cursor:pointer;            
                i{
                   color:#666; 
                }
            }
            
        }
    }
}
.titlehover {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 350px;
    display: block;
    overflow: hidden;
    
  }
  .activebreadcrumb{
      font-family: "opal_semibold";
  }
  .fw-bold{
    font-weight: bold;
  }