.thanktextcolor{
    h2{
        font-size: 1.875rem;
        font-family: calibri;
        font-weight: normal;
        color:#006cb7;
    }
}
.formcolor{
    color:#888;
}
.homebtn{
    width: 110px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    color: #888;
    border:1px solid #ccc !important;
    border: none;
}
.loginbtn{
    width: 110px;
    height: 40px;
    border-radius: 2px;
    background-color:#006cb7;
    color: #ffffff;
    border: none;
}
.widthdialog{
    width:500px;
    height:310px;
}
