<div fxLayout="row wrap" class="background m-l-40 m-r-40 viewspace rtlmain_container">
  <div fxFlex.gt-sm="100" fxFlex="100" class="masterTable pd-25 registerpagenation">
    <div class="paginationwithfilter masterPageTop regpagination">
      <mat-paginator [style.visibility]="(resultsLength > 5) ? 'visible' : 'hidden' " class="masterPage masterPageTop"
        #paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="syncPrimaryPaginator($event);"></mat-paginator>
      <div fxLayout="row wrap" >
        <div fxFlex.gt-sm="100" fxFlex="100">
          <button mat-raised-button type="button" color="primary" (click)="clickEvent()"class="button-35">{{filtername}}</button>
          <!-- <mat-form-field floatLabel="never">
            <mat-select #byval (selectionChange)="searchByChangeValue(byval.value);">
              <mat-option *ngFor="let searchBy of searchOptions" [value]="searchBy.value">
                {{searchBy.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <div class="searchcolor">
            <p>Search by</p>
            <mat-menu #menutop="matMenu" class="master-menu m-t-10">
              <button mat-menu-item>
                <span >Reg. No.</span>
              </button>
              <div>
                <button mat-menu-item >
                  <span>Supplier Code</span>
                </button>
              </div>
              <div >
                <button mat-menu-item >
                  <span>Organisation Name</span>
                </button>
              </div>
            </mat-menu>
          </div> -->
          <!-- <div fxFlex.gt-sm="56" fxFlex="100" class="p-l-12 paddingalignspace"> -->

          <!-- <mat-form-field floatLabel="never">
            <input autocomplete="off" placeholder="Enter" (keydown.enter)="triggerEnterSearchBy(searchVal.value)"
              #searchVal matInput [formControl]="searchControl" (change)="searchByTextChange(searchVal.value);">
            <button mat-button matSuffix mat-icon-button (click)="triggerSearchBy()" aria-label="Search">
              <mat-icon class="colorsearchby" matSuffix>search</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()"
              *ngIf="searchControl.value">
              <mat-icon class="fs-22 colorclose">close</mat-icon>
            </button>
          </mat-form-field> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- <double-scroll [onlyOne]="onlyOne"> -->
    <mat-table class="regtablewithbottomscroll" [dataSource]="supplierListData" #sort="matSort" matSort
      matSortActive="MemberRegMst_Pk" matSortDirection="desc" matSortDisableClear>
      <ng-container matColumnDef="mcm_RegistrationNo" >
        <mat-header-cell  fxFlex="128px" class="buyeridclmn" *matHeaderCellDef mat-sort-header>
          OPAL Reg. No.
        </mat-header-cell>
        <mat-cell   fxFlex="128px" class="buyeridclmn " *matCellDef="let fleetData" data-label="OPAL Registration No.">
            <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
            <div *ngIf="!tblplaceholder">{{fleetData.mcm_RegistrationNo?fleetData.mcm_RegistrationNo:'-'}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="MCM_SupplierCode">
        <mat-header-cell fxFlex="130px" id="OPALcode" class="buyeridclmn" *matHeaderCellDef>
          OPAL Code
        </mat-header-cell>
        <mat-cell fxFlex="130px" class="buyeridclmn leftcount" *matCellDef="let fleetData" data-label="Supplier Code" >
            <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
            <div *ngIf="!tblplaceholder">{{fleetData.MRM_ValSubStatus=='A'?fleetData.MCM_SupplierCode:'Yet to issue'}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="MCM_CompanyName" sticky>
        <mat-header-cell fxFlex="270px" class="companynameclmn" *matHeaderCellDef mat-sort-header>
          Organisation Name
        </mat-header-cell>
        <mat-cell fxFlex="270px" [title]="cookieService.get('languageCode') && cookieService.get('languageCode') == 'ar'? (fleetData.MCM_CompanyName_ar): (fleetData.MCM_CompanyName)" 
          class="widthalign companynameclmn spaceleft" *matCellDef="let fleetData" data-label=" Organisation Name">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">{{cookieService.get('languageCode') && cookieService.get('languageCode') == 'ar'? (fleetData.MCM_CompanyName_ar | truncate:[30]): (fleetData.MCM_CompanyName | truncate:[30])}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CyM_CountryName_en">
        <mat-header-cell fxFlex="190px" class="countrynameclmn" *matHeaderCellDef mat-sort-header>
          <popover-content #users placement="bottom" [animation]="true" [closeOnClickOutside]="true">

          </popover-content>
          Country
          <!--div class="edit">

          </div-->
        </mat-header-cell>
        <mat-cell fxFlex="190px" class="countrynameclmn" *matCellDef="let fleetData" data-label=" Country">
            <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
            <div *ngIf="!tblplaceholder">{{cookieService.get('languageCode') && cookieService.get('languageCode') == 'ar'? fleetData.CyM_CountryName_ar: fleetData.CyM_CountryName_en}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="MRM_RenewalStatus">
        <mat-header-cell  fxFlex="155px" class="appliactiontypeclmn" *matHeaderCellDef mat-sort-header>
          Subscription Type
          <!--div class="edit">

          </div-->
        </mat-header-cell>
        <mat-cell  fxFlex="152px" [title]="fleetData.MRM_RenewalStatus" class="appliactiontypeclmn"
          *matCellDef="let fleetData" data-label=" Subscription Type">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">{{fleetData.MRM_RenewalStatus}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mcpid_submittedon">
        <mat-header-cell fxFlex="200px"  class="appliactiontypeclmn" *matHeaderCellDef mat-sort-header>
          Submitted on
          <!--div class="edit">
          </div-->
        </mat-header-cell>
        <mat-cell  fxFlex="200px" [title]="fleetData.mcpid_submittedon" class="appliactiontypeclmn" *matCellDef="let fleetData"
          data-label="Submitted on">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">{{fleetData.mcpid_submittedon}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="MCPD_YrsOfSubs">
        <mat-header-cell fxFlex="100px" class="emailidclmn" *matHeaderCellDef mat-sort-header>
          Validity
          <!--div class="edit">
          </div-->
        </mat-header-cell>
        <mat-cell fxFlex="100px" [title]="fleetData.MCPD_YrsOfSubs" class="emailidclmn" *matCellDef="let fleetData"
          data-label="Validity">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">{{fleetData.MCPD_YrsOfSubs}} Year(s)</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoicedays">
        <mat-header-cell fxFlex="160px" class="emailidclmn" *matHeaderCellDef mat-sort-header>
          Invoice Age (Days)
          <!--div class="edit">
          </div-->
        </mat-header-cell>
        <mat-cell fxFlex="160px" [title]="fleetData.invoicedays" class="emailidclmn" *matCellDef="let fleetData"
          data-label="Invoice Age (Days)">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">{{fleetData.invoicedays>0?fleetData.invoicedays+' Day(s)':'-'}}</div>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="mcpid_pymtmode">
        <mat-header-cell fxFlex="136px" class="registeredonclmn" *matHeaderCellDef mat-sort-header>
          Payment Mode
        </mat-header-cell>
        <mat-cell fxFlex="136px" class="registeredonclmn" *matCellDef="let fleetData" data-label="Payment mode">
            <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
            <div *ngIf="!tblplaceholder">{{fleetData.mcpid_paymenttype}}</div>
        </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="membersts">
        <mat-header-cell fxFlex="230px" id="OPALcode" class="registeredonclmn" *matHeaderCellDef>
            Member Status
        </mat-header-cell>
        <mat-cell fxFlex="230px" class="registeredonclmn" *matCellDef="let fleetData"
            data-label="Member Status">
            <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
            <div *ngIf="!tblplaceholder">{{fleetData.memberStatus || "-"}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="subscriptionstatus">
          <mat-header-cell id="OPALcode" fxFlex="160px" class="registeredonclmn" *matHeaderCellDef>
              Subscription Status
          </mat-header-cell>
          <mat-cell fxFlex="160px" class="registeredonclmn" *matCellDef="let fleetData"
              data-label="Subscription Status">
              <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
              <span *ngIf="!tblplaceholder" class="{{fleetData.subscriptionstatusclass}}">{{fleetData.subscriptionstatus || "-"}}</span>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mcpd_pymtapprovalstatus">
        <mat-header-cell id="OPALcode" fxFlex="192px" class="paymentstatusclmn" *matHeaderCellDef [popover]="users"
          popoverPlacement="bottom" [popoverOnHover]="true" [popoverCloseOnClickOutside]="true"
          [popoverCloseOnMouseOutside]="false" [popoverAnimation]="true">          
          Payment Status
        </mat-header-cell>
        <mat-cell fxFlex="192px"  class="paymentview" *matCellDef="let fleetData" data-label="Payment Status">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">
            <mat-chip-list   aria-label="Status">
            <mat-chip [disableRipple]="true" class="{{fleetData.paymentAprovalStatusCls}}">{{fleetData.paymentAprovalStatus}}</mat-chip>
          </mat-chip-list>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action" stickyEnd>
        <mat-header-cell id="OPALcode" fxFlex="100px" class="actionclmn" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell fxFlex="100px" class="user actionclmn" [matMenuTriggerFor]="menutop" *matCellDef="let fleetData"
          data-label="Action">
          <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
          <div *ngIf="!tblplaceholder">
            <button mat-icon-button class="mainhover">
              <mat-icon class="maticonview">more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #menutop="matMenu" class="master-menu">
            <!-- <button mat-menu-item *ngIf="fleetData.paymentStatusId==2" (click)="updatepaymentdrawer.toggle();updatepymt.updatepaymtstsdata=fleetData">
              <span class="viewtextcolorupdate">Update Payment Status</span>
            </button> -->
            <button (click)="getRegInfo(fleetData.MemberRegMst_Pk);loadsubscriptiontracker();subcriptionpaytracker.toggle()"  mat-menu-item>
              <span class="viewtextcolorupdate">{{'registeredstakeholderpage.viewsubpaytracker' | translate}}</span>
          </button>
            <!-- <button mat-menu-item *ngIf="fleetData.paymentStatusId==1">
              <span class="viewtextcolorupdate" (click)="viewpage(fleetData.MemberRegMst_Pk)">View & Validate</span>
            </button>
            <button mat-menu-item *ngIf="fleetData.paymentStatusId==3 || fleetData.paymentStatusId==4">
              <span class="viewtextcolorupdate" (click)="viewpage(fleetData.MemberRegMst_Pk)">View</span>
            </button> -->
            <!-- <div *ngIf="fleetData?.paymentStatusId==2">
              <button mat-menu-item (click)="resendInvoice(fleetData.companyPk,fleetData.MemberRegMst_Pk);">
                <span>Resend Invoice</span>
              </button>
            </div> -->
            <!-- <div *ngIf="fleetData?.paymentStatusId==2">
              <button mat-menu-item (click)="resendReceipt(fleetData.companyPk,fleetData.MemberRegMst_Pk);">
                <span>Resend Receipt</span>
              </button>
            </div> -->
            <!-- <button mat-menu-item (click)="reneviewlistdrawer.toggle();viewpage(fleetData.MemberRegMst_Pk);">
              <span class="viewtextcolorupdate">Renewal History</span>
            </button> -->
            <!-- <button mat-menu-item (click)="viewcredentaildrawer.toggle()">
              <span class="viewtextcolorupdate">View Credentials</span>
            </button>-->
            <button mat-menu-item (click)="updatesupplierdrawer.toggle();getcompdetails(fleetData.MemberRegMst_Pk);">
              <span class="viewtextcolorupdate">Update Supplier Information</span>
            </button> 
            <!-- <button mat-menu-item *ngIf="fleetData.memberStatusval==5 || fleetData.memberStatusval==6" (click)="tempoparaylogindrawer.toggle()">
              <span class="viewtextcolorupdate">Temporary Login</span>
            </button>
            <button mat-menu-item *ngIf="fleetData.memberStatusval==5 || fleetData.memberStatusval==6" (click)="isshowdeactivateslider=true;deactivatesupplierdrawer.toggle();getdeacitvatedata(fleetData,1);">
              <span class="viewtextcolorupdate">Deactivate</span>
            </button> -->
            <button *ngIf="fleetData.trackercnt != 0" mat-menu-item (click)="organisertrackerdrawer.toggle();getcompanytrackingdata(fleetData)">
              <span class="viewtextcolorupdate"> Organisation Details Tracker</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  
      <ng-container  matColumnDef="row-first"><!--  MCM_crnumber -->
        <mat-header-cell  fxFlex="128px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
            <mat-form-field class="filter" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput [formControl]="mcm_RegistrationNo">
            </mat-form-field> 
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-second"> <!--  MCM_SupplierCode -->
        <mat-header-cell fxFlex="130px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
            <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="MCM_SupplierCode">
              </mat-form-field>  
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-three" sticky>
          <mat-header-cell fxFlex="270px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
              <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="MCM_CompanyName">
              </mat-form-field> 
          </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-four">
          <mat-header-cell fxFlex="190px" class="serachrow" *matHeaderCellDef  style="text-align:center">               
              <mat-form-field  appearance="outline">
                  <mat-label>Search</mat-label>
                  <input matInput [formControl]="CyM_CountryName_en">
                  
                </mat-form-field>
          </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-five">
        <mat-header-cell fxFlex="155px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
            <mat-form-field  appearance="outline">
                <mat-label>Search</mat-label>
                <mat-select [formControl]="MRM_RenewalStatus">
                  <mat-option [selected] value="F">Fresh</mat-option>
                  <!-- <mat-option value="R">Renewal</mat-option> -->
                </mat-select>
              </mat-form-field>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-six">
        <mat-header-cell fxFlex="200px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
            <!-- <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="mcpid_submittedon">
              </mat-form-field> -->  
              <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <div class="drpicker" id="regapp">
                  <input id="login_session" [formControl]="mcpid_submittedon" #login_session matInput type="text"
                    autocomplete="off" ngxDaterangepickerMd  [locale]="locale"
                    [singleDatePicker]="false" placeholder="Select Date Range" [autoApply]="false"
                    [maxDate]='selected2' [showClearButton]="true" [showDropdowns]="true" readonly
                    class="form-control" (datesUpdated)="dateFltrChange($event)" />
                 <!--  <div class="closeanddateicon">
                    <mat-icon class="cleardate" matDatepickerToggleIcon
                      (click)="clearDatelogin($event);$event.stopPropagation()">clear
                    </mat-icon>
                    <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                  </div> -->
                </div>
               <!--  <div class="drpicker" id="regapp">
                  <input [(ngModel)]="selected" (change)="change()" matInput type="text" autocomplete="off"
                    ngxDaterangepickerMd [dateLimit]="14"  [singleDatePicker]="false"
                    [formControl]="mcpid_submittedon"  [autoApply]="false" [showClearButton]="true" [showDropdowns]="true"
                    readonly class="form-control" /> -->
                  <!-- <div class="closeanddateicon">
                    <mat-datepicker-toggle matPrefix></mat-datepicker-toggle>
                  </div> -->
                <!-- </div> -->
              </mat-form-field>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-seven">
        <mat-header-cell fxFlex="100px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
            <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <mat-select [formControl]="MCPD_YrsOfSubs">
                  <mat-option value="1">1 Year</mat-option>
                  <mat-option value="3">3 Year(s)</mat-option>
                </mat-select>
              </mat-form-field>  
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-eight">
        <mat-header-cell fxFlex="160px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
          <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <mat-select [formControl]="invoicedays">
                  <mat-option value="1">below 10 Days</mat-option>
                  <mat-option value="2">11 - 30 Days</mat-option>
                  <mat-option value="3">31 - 60 Days</mat-option>
                  <mat-option value="4">61 - 120 Days</mat-option>
                  <mat-option value="5">121 - 180 Days</mat-option>
                  <mat-option value="6">above 180 Days</mat-option>
                </mat-select>
              </mat-form-field>  
        </mat-header-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="row-nine">
          <mat-header-cell fxFlex="136px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
              <mat-form-field  appearance="outline">
                  <mat-label>Search</mat-label>
                  <mat-select [formControl]="mcpid_pymtmode">
                    <mat-option value="2">Online</mat-option>
                    <mat-option value="1">Offline</mat-option>
                  </mat-select>
                </mat-form-field>
          </mat-header-cell>
      </ng-container> -->
      <ng-container matColumnDef="row-nine">
        <mat-header-cell fxFlex="230px" class="serachrow" *matHeaderCellDef
            style="text-align:center">
            <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <mat-select #selectmember multiple [formControl]="membersts">
                    <mat-option value="1">Payment Pending</mat-option>
                    <mat-option value="2">Cancelled due to Non-Payment (Fresh)</mat-option>
                    <mat-option value="3">Yet to obtain Dashboard Access</mat-option>                                                        
                    <mat-option value="4">Rejected</mat-option>
                    <mat-option value="5">Cancelled by Back-Office</mat-option>
                    <mat-option value="6">Yet to Certify</mat-option>
                    <mat-option value="7">Certified</mat-option>
                    <!-- <mat-option value="8">Cancelled due to Non-Renewal</mat-option> -->
                </mat-select>
            </mat-form-field>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-ten">
        <mat-header-cell fxFlex="160px" class="serachrow" *matHeaderCellDef
            style="text-align:center">
            <mat-form-field class="filter" appearance="outline">
                <mat-label>Search</mat-label>
                <mat-select #selectsubscrip multiple [formControl]="subscriptionstatus">
                    <mat-option value="1">Active</mat-option>
                    <mat-option value="2">In-active</mat-option>
                    <mat-option value="3">Expired</mat-option>
                    <!-- <mat-option value="4">Renewal In-progress</mat-option> -->
                    <!-- <mat-option value="5">Nearing Expiry</mat-option> -->
                </mat-select>
            </mat-form-field>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-leven" sticky>
          <mat-header-cell fxFlex="192px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
              <mat-form-field  appearance="outline">
                  <mat-label>Search</mat-label>
                  <mat-select #selectapprovalstatus multiple [formControl]="mcpd_pymtapprovalstatus">
                    <mat-option value="1">Yet to Validate</mat-option>
                    <mat-option value="3">Approved</mat-option>
                    <!-- <mat-option value="2">Payment In-progress</mat-option> -->
                    <mat-option value="4">Rejected</mat-option>
                    <mat-option value="8">Payment Pending</mat-option>
                  </mat-select>
                </mat-form-field>
          </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="row-twelve" stickyEnd>
        <mat-header-cell fxFlex="100px" class="serachrow" *matHeaderCellDef  style="text-align:center"> 
          
          <i class="fa fa-refresh m-l-15 cursorview refreshcolot" matTooltip="Refresh" (click)="clearFilter();" aria-hidden="true"></i>
        </mat-header-cell>
      </ng-container>
      <mat-header-row id="headerrowcells" *matHeaderRowDef="displayedColumns"></mat-header-row>     
      <mat-header-row  id="searchrow" *matHeaderRowDef="['row-first', 'row-second', 'row-three', 'row-four', 'row-five', 
      'row-six', 'row-seven', 'row-eight', 'row-nine', 'row-ten', 'row-leven', 'row-twelve']"></mat-header-row>    
   
      <mat-row *matRowDef="let row; columns: displayedColumns;">
        <input type="text" name="value">
      </mat-row>
      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="12">
          <div fxLayout="row wrap" class="nodata noducumentaddedyet" style="align-items: center;">
            <div fxLayoutAlign="center" fxFlex.gt-sm="100" fxFlex="100">
              <div fxFlex.gt-sm="100" fxFlex="100">
                <img src="./assets/images/Add.svg" alt="nocollateral">
                <p class="fs-16 lypisfont-bold txt-tropaz m-0 lh-25 p-t-15">No Suppliers match your search criteria.</p>
      
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container>
        <mat-footer-row  [ngClass]="{'hide':!(noData | async)}"  *matFooterRowDef="['disclaimer']"  style="justify-content: center"></mat-footer-row>
      </ng-container>
    </mat-table>
  <!-- </double-scroll> -->
    <!-- <div *ngIf="noData | async" class="no-records">
      jhkh
    </div> -->
    <!-- <div fxLayout="row wrap" *ngIf="noData | async" class="nodata noducumentaddedyet" style="align-items: center;">
      <div fxLayoutAlign="center" fxFlex.gt-sm="100" fxFlex="100">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <img src="./assets/images/Add.svg" alt="nocollateral">
          <p class="fs-16 lypisfont-bold txt-tropaz m-0 lh-25 p-t-15">No Suppliers match your search criteria.</p>

        </div>
      </div>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
      <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator regpagination">
        <mat-paginator class="p-r-10" [style.visibility]="(resultsLength > 5) ? 'visible' : 'hidden' "
          ngClass.xs="block" ngClass.sm="block" class="masterPage masterbottom " showFirstLastButtons
          [pageSize]="paginator?.pageSize" (page)="syncPrimaryPaginator($event);" [pageIndex]="paginator?.pageIndex" [length]="paginator?.length"
          [pageSizeOptions]="paginator?.pageSizeOptions">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- <button mat-raised-button color="preview" (click)="updatedeviationdrawer.toggle()">Update</button> -->
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #updatesupplierdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-updatesuppliersidenavdetail (refeshgrid)="refeshgrid();" [compdetails]="compdetails" [updatesupplierdrawer]="updatesupplierdrawer"></app-updatesuppliersidenavdetail>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #viewcredentaildrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-viewcredentialsidenavdetail [viewcredentaildrawer]="viewcredentaildrawer"></app-viewcredentialsidenavdetail>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #deactivatesupplierdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-deactivatesuppliersidenavdetail #deactivatesupplierref [deactivatesupplierdrawer]="deactivatesupplierdrawer" (reloadgrid)="reloadgrid()" (isshowdeactivateslider)="isshowdeactivateslider=false">
    </app-deactivatesuppliersidenavdetail>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #tempoparaylogindrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-temporaryloginsidenavdetail [tempoparaylogindrawer]="tempoparaylogindrawer"></app-temporaryloginsidenavdetail>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #organisertrackerdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-organiserdetailtrackersidenavlist #organlist [organisertrackerdrawer]="organisertrackerdrawer">
    </app-organiserdetailtrackersidenavlist>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #updatepaymentdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-updatepaymentstatus #updatepymt [updatepaymentdrawer]="updatepaymentdrawer">
    </app-updatepaymentstatus>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #updatedeviationdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-updatedeviation [updatedeviationdrawer]="updatedeviationdrawer">
    </app-updatedeviation>
  </mat-drawer>
</mat-drawer-container>
<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #reneviewlistdrawer disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
    mode="over" position="end">
    <app-renewalhistorylistview [reneviewlistdrawer]="reneviewlistdrawer">
    </app-renewalhistorylistview>
  </mat-drawer>
</mat-drawer-container>

<mat-drawer-container class="example-container certificatelistview">
  <mat-drawer #subcriptionpaytracker disableClose class="example-sidenav sidenavsamewidthall certifcatesidenavwidth"
      mode="over" position="end">
      <app-subscriptionpaytracker *ngIf="subscriptiontracker" [subcriptionpaytracker]="subcriptionpaytracker" [paymentdata]="paymentdata" [regpk]="regpk">
      </app-subscriptionpaytracker>
  </mat-drawer>
</mat-drawer-container>