#master_data_dashboard{
    .opalicon{
        font-size: 40px;
    }
    .title{
        color: #000;
        font-weight: 600;
    }
    .des{
        font-size: 14px !important;
    }
    .conf_card{
        border:1px solid #e8e8e8; 
        border-radius:2px;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .conf_card:hover {
        box-shadow: 0px 1px 5px 0px rgba(166,166,166,1);
        border:1px solid transparent; 
        .title{
            color: #0c4b9a;
        }
    }

    
}