.welcomeback
{

    display: flex;
    justify-content: flex-end;
    align-items: center;
   .titletext
   {
       padding-left: 15px;
   } 
.mat-card
{
background: #f0fff2;
width: 350px;
min-height: 90px;
padding-bottom: 10px;
-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2) !important;
    border-radius: 0 !important;
    z-index: 9999;
}
.mat-card-header
{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
     img
{
height:100%;
}
}
.mat-card-title
{
    font-size: 1rem;
    color: #39b549;
    line-height: 1;
    margin-bottom: 5px !important;
}
.mat-card-actions
{
    padding: 0 0px;
    div
    {
        text-align: right;
    }
}
.close
{
    font-size: 0.75rem;
    color: #4c972e;
    padding: 5px 10px;
    cursor: pointer;
}
}