<div id="addconfdocuments"  class=" clflex flex-column">
    <app-responseloader *ngIf="fullPageLoaders"></app-responseloader>
    <div class="coursesinfotbale">
        <div class="batchheader clflex flex-column rwidth">
            <div class="batchdetails flex-column" *ngIf="coursedata">
                <div fxLayout="row" class="clflex rwidth p-l-10 p-r-10 p-t-10 p-b-5">
                    <div fxLayout="row" class="clflex rwidth ">
                        <p class="fs-15 txt-gry title">{{ifarbic == true ? (coursedata.title_ar): (coursedata.title)}}</p>
                    </div>
                </div>
                <div fxLayout="row" class="clflex rwidth statusrow p-l-10 p-r-10">
                    <p class="bor fs-15 txt-gry">Assessment in: <span>{{ifarbic == true ? (coursedata.assessmentin_ar):
                        (coursedata.assessmentin)}}</span></p>
                    <p class="bor fs-15 txt-gry">Request For: <span>{{ifarbic == true ? (coursedata.requestfor):
                        (coursedata.requestfor)}}</span></p>
                    <p class="bor fs-15 txt-gry">Course Level: <span>{{ifarbic == true ? (coursedata.courselevel):
                        (coursedata.courselevel)}}</span></p>
                    <p class="bor fs-15 txt-gry">Course Category: <span>{{ifarbic == true ? (coursedata.coursecategory_ar):
                        (coursedata.coursecategory)}}</span></p>
                </div>
                <div fxLayout="row" class="clflex rwidth statusrow p-l-10 p-r-10 p-b-20">
                    <p class="bor fs-15 txt-gry">Is International Recognition and Accreditation is mandated?: <span>{{coursedata.scm_isintlreorgreq == 1 ? 'Yes': 'No'}}</span></p>
                </div>
            </div>
        </div>
        <div class="cardbtn">
            <button mat-raised-button color="primary" class="applybtn "
                (click)="viewfee();">{{viewname}}</button>
        </div>
        <div id="feediv" class="feediv" style="display: none">
            <p class="title">Fee Subscription</p>
            <p class="subtitle">Main Office</p>
            <table >
                <tr>
                    <td class="txt-gry">Certification Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_cfi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Certification Fee - Renewal (OMR)</td>
                    <td class="pd-l-30">{{main_cfr}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_sefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{main_srefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Update/Renewal (OMR)</td>
                    <td class="pd-l-30">{{main_sefu}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee -  Update/Renewa (OMR)</td>
                    <td class="pd-l-30">{{main_srefu}}</td>
                </tr>
            </table>

            <p class="subtitle">Branch Office</p>

            <table>
                <tr>
                    <td class="txt-gry">Certification Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_cfi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Certification Fee - Renewal (OMR)</td>
                    <td class="pd-l-30">{{branch_cfr}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_sefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee - Initial (OMR)</td>
                    <td class="pd-l-30">{{branch_srefi}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Evaluation Fee - Update/Renewal (OMR)</td>
                    <td class="pd-l-30">{{branch_sefu}}</td>
                </tr>
                <tr>
                    <td class="txt-gry">Staff Re-Evaluation Fee -  Update/Renewa (OMR)</td>
                    <td class="pd-l-30">{{branch_srefu}}</td>
                </tr>
            </table>

            <p class="subtitle">Royalty Fee</p>
            <table class="royal">
                <tr>
                    <td class="txt-gry">Is Royalty Fee applicable ?</td>
                    <td *ngIf="isroyal == 1">Yes</td>
                    <td *ngIf="isroyal == 2">No</td>
                </tr>
                <tr *ngIf="isroyal == 1">
                    <td class="txt-gry">Royalty Fee (OMR)</td>
                    <td>{{royal}}</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="fs-15 txt-gry title p-t-20" *ngIf="formtype == 'add'" >Add Configure Documents</p>
    <p class="fs-15 txt-gry title p-t-20" *ngIf="formtype == 'edit'">Edit Configure Documents</p>

    <div class="availablecard ">
        <form  [formGroup]="adddocumentform" class="subcategory" >
            <div fxLayout="row wrap" fxLayoutAlign="flex-start center" class="p-t-15">
                <div fxFlex.gt-sm="50" fxFlex="100" >
                    <mat-form-field class="filter" appearance="outline">
                        <mat-label>{{'Request For?' | translate}}</mat-label>
                        <mat-select formControlName="requestfor" required>
                            <mat-option *ngFor="let list of requestfordropdown" [value]="list.pk">
                                {{ifarbic == true ? (list.name_ar): (list.name_en)}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.requestfor.errors?.required || form.submitted">
                            {{'Request is required' | translate}} </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="flex-start center" class="p-t-15">
                <div fxFlex.gt-sm="50" fxFlex="100">
                    <mat-form-field class="filter"  appearance="outline">
                        <mat-label>{{'Document Name in English' |translate}}</mat-label>
                        <input matInput required (keydown.enter)="$event.preventDefault()" 
                        app-restrict-input="english" appAlphabetonly  app-restrict-input="englishspace"  formControlName="docname_en">
                        <mat-error *ngIf="form.docname_en.errors?.required || form.submitted">
                            {{'Enter the Document Name (English)' | translate}} </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="50" ngClass.xs="p-l-0" ngClass.sm="p-l-0" ngClass.md="p-l-30"
                ngClass.lg="p-l-30" ngClass.xl="p-l-30" fxFlex="100">
                <mat-form-field class="filter"  class="arabiclanguage" appearance="outline">
                    <mat-label>{{'Document Name in Arabic' |translate}}</mat-label>
                    <input matInput required (keydown.enter)="$event.preventDefault()" app-restrict-input="arabic" appAlphabetonly formControlName="docname_ar">
                    <mat-error *ngIf="form.docname_ar.errors?.required || form.submitted">
                        {{'Enter the Document Name (arabic)' | translate}} </mat-error>
                </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="end center" class="m-t-15">
                  <button mat-raised-button class="cancelbtn m-r-15" type="button" (click)="clear()">{{'Clear' | translate}}</button>
                  <button mat-raised-button class="submitbtn" type="submit" (click)="savedocument()"  *ngIf="formtype == 'edit' && updateaccess">{{'Save' | translate}}</button>
                  <button mat-raised-button class="submitbtn" type="submit" (click)="savedocument()"  *ngIf="formtype == 'add' && createaccess">{{'Add' | translate}}</button>
            </div>
        </form>
      <div class="p-l-20 p-r-20 m-t-20">
        <div class="paginationwithfilter masterPageTop ">
            <mat-paginator class="masterPage masterPageTop" #paginator [length]="documentlist_length" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="syncPrimaryPaginator($event);"></mat-paginator>
            <div fxLayout="row wrap" fxLayoutAlign="end">
                <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button type="button" color="primary"  (click)="clickEvent();"
                        class="filter">{{filtername}}<i class="opalicon opal-filter fs-15 m-l-7"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100" class="tabforclientelenew">
                <div class="awaredtable">
                    <button mat-button [matMenuTriggerFor]="editcolumn" class="editcolumn">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">more_horiz</mat-icon>
                        <mat-menu #editcolumn="matMenu" class="master-menu edit-column-menu">
                          <div class="table-config-menu-options" fxLayout="column">
                            <mat-checkbox #editchkbox [(ngModel)]="selectAllVisible"  (change)="selectAllFun($event)"> {{ 'All' | translate}}
                          </mat-checkbox>
                          <ng-container *ngFor="let cd of displayedColumns; let i = index">
                            <mat-checkbox 
                              (click)="$event.stopPropagation()" 
                              [(ngModel)]="cd.visible" #columnchkbox (change)="updateSelectAllVisible(cd)">
                              {{cd.label | translate}}
                            </mat-checkbox>
                        </ng-container>
                          </div>
                      </mat-menu>
                    </button>
                    <mat-table #table class="scrolldata" [dataSource]="dataSource" matSort
                        matSortDisableClear (matSortChange)="sorting($event,'')">
                        <ng-container matColumnDef="requestfor">
                            <mat-header-cell fxFlex="300px"  mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Request for' | translate}}</mat-header-cell>
                            <mat-cell data-label="requestfor" fxFlex="300px"  *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.requestfor ? element.requestfor : '-'}} </div>
                                </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="docname_en">
                            <mat-header-cell fxFlex="300px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Document Name in English' | translate}}</mat-header-cell>
                            <mat-cell data-label="docname_en" fxFlex="300px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.docname_en ? element.docname_en : '-'}} </div>
                                </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="docname_ar">
                            <mat-header-cell fxFlex="300px" mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'Document Name in Arabic' | translate}}</mat-header-cell>
                            <mat-cell data-label="docname_ar" fxFlex="300px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.docname_ar}} </div>
                                </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                            mat-sort-header>{{'Status' | translate}}</mat-header-cell>
                            <mat-cell data-label="status" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">
                                    <span class="Active" *ngIf="element.status == '1'">{{'Active' | translate}}</span>
                                    <span class="inactive" *ngIf="element.status == '2'">{{'Inactive' | translate}}</span>
                                </div>
                                 </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdOn">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                            mat-sort-header>{{'Created On' | translate}}</mat-header-cell>
                            <mat-cell data-label="createdOn" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.createdOn | date : 'dd-MM-yyyy'}}</div>
                                 </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdBy">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                            mat-sort-header>{{'Created By' | translate}}</mat-header-cell>
                            <mat-cell data-label="createdBy" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.createdBy}} </div>
                                 </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastUpdatedOn">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                            mat-sort-header>{{'Last Updated On' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedOn" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.lastUpdatedOn ? (element.lastUpdatedOn | date : 'dd-MM-yyyy') : '-'}} </div>
                                 </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastUpdatedBy">
                            <mat-header-cell fxFlex="250px" mat-header-cell *matHeaderCellDef
                            mat-sort-header>{{'Last Updated By' | translate}}</mat-header-cell>
                            <mat-cell data-label="lastUpdatedBy" fxFlex="250px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder">{{element.lastUpdatedBy ? element.lastUpdatedBy : '-'}} </div>
                                 </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action" stickyEnd >
                            <mat-header-cell  fxFlex="125px" mat-header-cell *matHeaderCellDef>{{'Action'
                                | translate}}
                            </mat-header-cell>
                            <mat-cell data-label="action" fxFlex="125px" *matCellDef="let element">
                                <div *ngIf="tblplaceholder" class="w-100"><div class="tabledataloader"></div></div>
                                <div *ngIf="!tblplaceholder"><div class="manageoptions"
                                    >
                                    <button class="menubutton" mat-icon-button [matMenuTriggerFor]="actionmenu"
                                        aria-label="Example icon-button with a menu" (click)="onMenuButtonClick($event)">
                                        <mat-icon class="moremenucolor" type="button">more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #actionmenu="matMenu" 
                                    class="master-menu whentootltipadded table_menu">
                                    <!-- edit -->
                                    <button  type="button" mat-menu-item (click)="edit(element)" *ngIf="updateaccess"><span>{{'Edit' | translate}} </span></button>
                                    <button type="button" *ngIf="element.status == '2' && updateaccess" (click)="changestatus(element.id, 1)" mat-menu-item ><span>{{'Activate' |translate}}</span></button>
                                    <button type="button" *ngIf="element.status == '1' && updateaccess" (click)="changestatus(element.id, 2)" mat-menu-item ><span>{{'Deactivate' |translate}}</span></button>
                                </mat-menu>
                                </div>
                            </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-one">
                            <mat-header-cell fxFlex="300px"  class="serachrow datepickerrangeform" *matHeaderCellDef  style="text-align:center">
                               
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'select' | translate}}</mat-label>
                                    <mat-select [formControl]="requestfor" (selectionChange)="searchbatchgrid($event.value,'requestfor')">
                                        <mat-option *ngFor="let list of requestforlist" [value]="list.pk">
                                            {{ifarbic == true ? (list.name_ar): (list.name_en)}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-two">
                            <mat-header-cell fxFlex="300px" class="serachrow datepickerrangeform" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'table.search' |translate}}</mat-label>
                                    <input matInput [formControl]="docname_en" (keyup)="searchbatchgrid($event.target.value,'centre')">
                                </mat-form-field>
                                </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-three">
                            <mat-header-cell fxFlex="300px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" class="arabiclanguage" appearance="outline">
                                    <mat-label>{{'table.search' |translate}}</mat-label>
                                    <input matInput [formControl]="docname_en" (keydown.enter)="$event.preventDefault()" app-restrict-input="arabic" appAlphabetonly (keyup)="searchbatchgrid($event.target.value,'centre')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-four">
                            <mat-header-cell fxFlex="250px"  class="serachrow datepickerrangeform" *matHeaderCellDef
                                style="text-align:center">
                               
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'Select' |
                                        translate}}</mat-label>
                                    <mat-select [formControl]="status"  multiple (selectionChange)="searchbatchgrid($event.value,'isprint')">
                                        <mat-option [value]="1">{{'Active' | translate }}</mat-option>
                                        <mat-option [value]="2">{{'Inactive' | translate }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-five">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <div class="drpicker" id="regapp">
                                                <input id="login_session" [formControl]="createdOn" #pickers matInput type="text" (datesUpdated)="serachdate($event,'createdOn')" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true"  [showClearButton]="true"  [maxDate]='selected2'  readonly class="form-control" [max]="today"/>
                                                <div class="closeanddateicon">
                                                    <mat-datepicker-toggle matSuffix >
                                                    </mat-datepicker-toggle>
                                                </div>
                                            </div>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-six">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'table.search' |translate}}</mat-label>
                                    <input matInput [formControl]="createdBy" (keyup)="searchbatchgrid($event.target.value,'createdBy')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-seven">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <div class="drpicker" id="regapp">
                                                <input id="login_session" [formControl]="lastUpdatedOn" #pickers matInput type="text" (datesUpdated)="serachdate($event,'lastUpdatedOn')" autocomplete="off" ngxDaterangepickerMd  [showCustomRangeLabel]="true"  [alwaysShowCalendars]="true" [ranges]="ranges"  [locale]="locale" [linkedCalendars]="true"  [showClearButton]="true"  [maxDate]='selected2'  readonly class="form-control" [max]="today"/>
                                                <div class="closeanddateicon">
                                                    <mat-datepicker-toggle matSuffix >
                                                    </mat-datepicker-toggle>
                                                </div>
                                            </div>
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        <ng-container matColumnDef="row-eight">
                            <mat-header-cell fxFlex="250px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">
                                <mat-form-field class="filter" appearance="outline">
                                    <mat-label>{{'table.search' |translate}}</mat-label>
                                    <input matInput [formControl]="lastUpdatedBy" (keyup)="searchbatchgrid($event.target.value,'lastUpdatedBy')">
                                </mat-form-field>
                            </mat-header-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="row-nine" stickyEnd>
                            <mat-header-cell fxFlex="125px" class="serachrow" *matHeaderCellDef
                                style="text-align:center">

                                <i *ngIf="!addpage" class="fa fa-refresh m-l-15 cursorview" (click)="clearFilter();filtersts=false;"
                                    aria-hidden="true" matTooltip="{{'Refresh' |translate}}"></i>
                            </mat-header-cell>
                        </ng-container>
                        <mat-header-row id="headerrowcells" *matHeaderRowDef="getdisplayedColumns()" >
                        </mat-header-row>
                        <mat-header-row id="searchrow" *matHeaderRowDef="getdisplayedsearch()">
                        </mat-header-row>
                        <mat-row mat-row *matRowDef="let row; columns: getdisplayedColumns();"></mat-row>
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="11">
                                <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center"  [ngClass]="tblplaceholder?'':'nofound'" >
                                    <div fxLayout="row wrap" fxLayoutAlign="center center"  *ngIf="tblplaceholder"
                                    class="NorecordLoader m-t-20"></div>
                                    <img src="assets/images/opalimages/norecord.svg" alt="norecord" *ngIf="!tblplaceholder">
                                    <p class="m-t-10 txt-gry3 fs-16" *ngIf="!tblplaceholder">{{'No Records' | translate}} 
                                    </p>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container>
                          
                            <mat-footer-row [class.stickyclass]="(documentlist_length > 0) ? 'none' : 'block'" [style.display]="(documentlist_length > 0) ? 'none' : 'block' " 
                                *matFooterRowDef="['disclaimer']" style="justify-content: center;display: none;">
                            </mat-footer-row>
                        </ng-container>
                    </mat-table>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" class="m-b-15 m-t-30">
                    <div fxFlex.gt-sm="100" fxFlex="100" class="footerpaginator">
                        <mat-paginator class="p-r-10" ngClass.xs="block" ngClass.sm="block"
                            class="masterPage masterbottom " showFirstLastButtons
                            [pageSize]="paginator?.pageSize" (page)="syncPrimaryPaginator($event);"
                            [pageIndex]="paginator?.pageIndex" [length]="documentlist_length"
                            [pageSizeOptions]="paginator?.pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

</div>
