@mixin flexcenter {
    display: flex;
    justify-content: center ;
    align-items: center ;
}
@mixin flexstart {
    display: flex;
    justify-content: flex-start ;
    align-items: center ;
}
@mixin flexend {
    display: flex;
    justify-content: flex-end ;
    align-items: center ;
}
@mixin spacebetween {
    display: flex;
    justify-content: space-between ;
    align-items: center ;
}



#commentpopview{
    min-width: 625px;
    .flexalignsubscrip{
        padding-top: 10px;
        display: flex;
        width: 100%;
    }
    .subscriptioncontent{
        padding-left: 15px;
        padding-top: 5px;
        .subscriptionnotecolor{
             color: #333333;
             font-size: 0.9375rem;
             margin: 0px;
             span{
                 color: #666;
             }
        }
       h3{
           color: #333;
           font-size: 1.125rem;
           margin: 0px;
           padding-bottom: 15px;
           font-style: italic;
           font-weight: 500;
       } 
       .expiredcontent{
           @include flexstart();
           padding-bottom: 10px;
           p{
               color: #333;
               margin: 0px;
               font-size: 0.9375rem;
               min-width: 116px;
           }
           .datecolor{
                font-family: 'opal_semibold';
           }
       }
    }
    .textnotecolor{
        display: flex;
        padding: 20px;
        p{
            color: #333333;
            margin: 0px;
            font-size: 0.9375rem;
        }
    }
    .btnalign{
        @include flexend();
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f3f5f6;
        margin-top: 5px;
        padding-right: 15px;
        .laterbtn{
           line-height: 1;
        }
    }
    .remindmelater
    {
        background: #fff !important;
        color: #666 !important;
        border: 1px solid #dadada !important;
    }
           
.jsrsimage{
    width: 23%;
   img{
    height: 90px;
    width: 105px;
    position: relative;
    border-right: 1px solid #ebebeb;
    left: 11px;
    float: left;
   }
}
.widthcommentside{
    width: 77%;
}
.warningview{
     i{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-size: 1.25rem;
        text-align: center;
        line-height: 45px;
        background-color: #ffd7d7;
        color: #ff3535;
     }
}
.yesbtn{
     background: #ff3535;
     color: #fff;
     @include flexcenter();
}
}