#organisation {
    #validmsg .validet {
        background-color: #0c4b9a !important;
        color: #fff !important;
    }
    .checkboxclass {
       margin-top: -25px;   
    }
    .addbtn {
        color: #fff;
        background-color: #ED1C27;
        border: 2px;
        box-shadow: none;
        min-width: 92px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .cancl_e {

        color: #262626;
        background-color: #fff;
        border: 1px solid #e8e8e8 !important;
        border: 2px;
        box-shadow: none;
        min-width: 92px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .txt-gry3 {
        color: #262626;
    }

    .doc {
        max-width: 100% !important;
        flex: 1 1 51% !important;
        margin-bottom: 15px;

    }

    h4 {
        color: #262626;
        font-size: 16px;
    }

    .mat-radio-label {
        padding-right: 20px;
    }

    .commentsheading {
        border: 1px solid #ddd;
        padding: 15px;

        p {
            color: #848484;
        }

        span {
            color: #262626;
        }
    }

    .submit_btn {
        background-color: #ED1C27 !important;
        color: #fff !important;
        min-width: 120px;
        height: 45px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 15px;
    }

    .cancelbtn {
        min-width: 120px;
        background-color: #ffff;
        border: 1px solid #e8e8e8;
        color: #262626;
        padding-left: 0px;
        padding-right: 0px;
        height: 45px;
        font-size: 15px;
        box-shadow: none;

    }

    .disabledradio {
        pointer-events: none;
        cursor: no-drop;

    }

    .disabledcheck {
        pointer-events: none;
        cursor: no-drop;
    }

    .uploaddocument_head {
        span {
            color: #848484;
        }

        .viewhaderpdf {
            img {
                width: 40px;
            }

            p {
                color: #848484;
            }
        }

    }

    p {
        white-space: break-spaces;
        color: #666666;
        font-size: 16px;
        margin: 0px;

        span {
            color: #999999;
            font-size: 14px;
        }
    }

    .content {
        p {
            // margin-bottom: 20px;

        }
    }

    .grade {
        display: flex;
        align-items: center;
    }

    .bronze {
        color: #895b37 !important;
    }

    .silver {
        color: #b9babc !important;
    }

    .gold {
        color: #ba9666 !important;
    }

    .btns {
        button {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
           display: flex;
           align-items: center;
           justify-content: center;
            &:nth-child(1) {
                background-color: #0c4b9a;
                color: #fff;
            }

            &:nth-child(2) {
                background-color: #ff0f0f26;

                .mat-icon {
                    color: #ff0f0f;
                }
            }

            &:nth-child(3) {
                background-color: #0c4b9a36;

                .mat-icon {
                    color: #0c4b9a;
                }
            }

            .mat-icon {
                font-size: 23px;
                justify-content: flex-start !important;
            }
        }
    }

    .mat-radio-button {
        .mat-radio-outer-circle {
            border-color: #d9d9d9;

        }

        &.mat-accent {
            .mat-radio-inner-circle {
                background-color: #e20613;
            }

            &.mat-radio-checked {
                .mat-radio-outer-circle {
                    border-color: #d9d9d9;

                }
            }
        }
    }

    .mat-radio-label-content {
        color: #000000cc;
        font-size: 16px;
    }

    .cancel {
        box-shadow: none;
        min-width: 140px;
        height: 40px;
        background-color: #ED1C27;
        color: #fff;
    }

    .mat-checkbox-frame {
        border: 1px solid #c4c4c4;
    }

    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            color: #d9d9d9;
        }

        .mat-form-field-outline-start {
            border-radius: 3px 0 0 3px;
        }

        .mat-form-field-outline-end {
            border-radius: 0 3px 3px 0;
        }

        .mat-form-field-required-marker {
            color: #ED1C27;
        }

        .mat-form-field-outline-thick {
            color: #6ba5ec;
            background-color: #f8f8f8;
        }

    }


    #searchrow,
    #filtershow {
        background: #fff !important;
        border: none;

        .serachrow {
            background: #fff !important;
            min-height: 73px !important;
            padding-right: 15px
        }
    }

    .awaredtable {
        border-radius: 2px; // border radius
        background-clip: padding-box; // prevents bg color from leaking outside the border
        background-color: #fff; // layer fill content
        // box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); // drop shadow
        // padding: 15px;
        margin: 10px 0px;

        .manageoptions {
            padding-right: 15px;
        }

        .mat-row {
            width: 100% !important;
        }

        .mat-row:hover {
            background-color: #f5f5f5 !important;
            //   .mat-cell{
            //     color: #fff !important;
            //   }
        }

        .mat-cell {
            color: #262626;

            .document_img {
                width: 32px;
            }

            .viewdocument {
                cursor: pointer;
            }
        }

        .mat-header-cell {
            color: #262626 !important;
            background-color: #f8f5f0;
            font-size: 16px;
        }
    }

    .grade_color {
        color: #666666;
        font-size: 20px;
    }

    .background {
        background-color: #f8f5f0;
        padding: 20px;
    }

    .gradeimage {
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 15px 15px 15px;
    }
}

[dir=rtl] {
    #organisation .gradeimage {
        text-align: right;
    }
}