<div fxLayout="row wrap" fxLayoutAlign="center" id="journeymap" class="d-flex">
    <div fxLayout="row wrap" class="journey">
        <div class="icon-circle d-flex justify-center">
            <img src="assets/images/Centre Application.svg" alt="notes" class="cntreapp">
            <img src="assets/images/1.Centre Application.svg" alt="notes" class="view">
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-header fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card-title fxFlex="100" class="m-0 title fs-16">{{'journaymap.centaappl' |
                    translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.basicregform' | translate}}
                </p>
            </mat-card-content>
            <div class="level d-flex" fxLayoutAlign="center">
                <span class="step fs-16 ">{{'journaymap.step' | translate}} 1</span>
            </div>
        </mat-card>
        <div class="circle-icon">
            <div class="icon-1"></div>
            <div class="icon-2"></div>
        </div>
    </div>
    <!-- 2 -->
    <div fxLayout="row wrap" class="journey">
        <div class="icon-circle d-flex justify-center">
            <img src="assets/images/Application Form Submission.svg" alt="notes" class="cntreapp">
            <img src="assets/images/2.Application Form Submission.svg" alt="notes" class="view">
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-header fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card-title fxFlex="100" class="m-0 title fs-16">{{'journaymap.applforsub' |
                    translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.filltheappfor' | translate}}
                </p>
            </mat-card-content>
            <div class="level d-flex" fxLayoutAlign="center">
                <span class="step fs-16 ">{{'journaymap.step' | translate}} 2</span>
            </div>
        </mat-card>
        <div class="circle-icon">
            <div class="icon-1"></div>
            <div class="icon-2"></div>
        </div>
    </div>
    <!-- 3 -->
    <div fxLayout="row wrap" class="journey">
        <div class="icon-circle d-flex justify-center">
            <img src="assets/images/OPAL Desktop Review.svg" alt="notes" class="cntreapp">
            <img src="assets/images/3.OPAL Desktop Review.svg" alt="notes" class="view">
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-header fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card-title fxFlex="100" class="m-0 title fs-16">{{'journaymap.opaldeskrev' |
                    translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.onliveriand' | translate}}
                </p>
            </mat-card-content>
            <div class="level d-flex" fxLayoutAlign="center">
                <span class="step fs-16 ">{{'journaymap.step' | translate}} 3</span>
            </div>
        </mat-card>
        <div class="circle-icon">
            <div class="icon-1"></div>
            <div class="icon-2"></div>
        </div>
    </div>
    <div class="line m-t-50 m-b-50">
        <div class="none"></div>
        <div class="none2">
            <div class="none3"></div>
        </div>
    </div>
    <!-- 6 -->
    <div fxLayout="row wrap" class="journey">
        <div class="level-step4 d-flex" fxLayoutAlign="center">
            <span class="step dashboard fs-16 p-r-10 p-l-10">{{'journaymap.gotoashbord' | translate}}</span>
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.formthedashonreci' | translate}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="arrow">
        <mat-icon class="fs-30 title">keyboard_backspace</mat-icon>
    </div>
    <!-- 5 -->
    <div fxLayout="row wrap" class="journey">
        <div class="circle-icon-step4">
            <div class="icon-2"></div>
            <div class="icon-1"></div>
        </div>
        <div class="level-step4 d-flex" fxLayoutAlign="center">
            <span class="step fs-16 ">{{'journaymap.step' | translate}} 5</span>
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-header fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card-title fxFlex="100" class="m-0 title fs-16">{{'journaymap.opalaudi' |
                    translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.auditisdononthe' | translate}}
                </p>
            </mat-card-content>
            <div class="icon-circle-step4 d-flex justify-center">
                <img src="assets/images/OPAL Audit Process.svg" alt="notes" class="cntreapp">
                <img src="assets/images/5.OPAL Audit Process.svg" alt="notes" class="view">
            </div>
        </mat-card>
    </div>
    <!-- 4 -->
    <div fxLayout="row wrap" class="journey">
        <div class="circle-icon-step4">
            <div class="icon-2"></div>
            <div class="icon-1"></div>
        </div>
        <div class="level-step4 d-flex" fxLayoutAlign="center">
            <span class="step fs-16 ">{{'journaymap.step' | translate}} 4</span>
        </div>
        <mat-card class="card">
            <i class="fa fa-notes"></i>
            <mat-card-header fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card-title fxFlex="100" class="m-0 title fs-16">{{'journaymap.opalpayappro' |
                    translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pd-15">
                <p class="sub-title fs-13">
                    {{'journaymap.paygateisenab' | translate}}
                </p>
            </mat-card-content>
            <div class="icon-circle-step4 d-flex justify-center">
                <img src="assets/images/OPAL Payment Approval.svg" alt="notes" class="cntreapp">
                <img src="assets/images/4.OPAL Payment Approval.svg" alt="notes" class="view">
            </div>
        </mat-card>
    </div>
</div>