<app-responseloader *ngIf="pageloader"></app-responseloader>
<div fxLayout="row wrap" fxLayoutAlign="center" id="royalty">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-tab-group class="tabsdetials dashtabs" [(selectedIndex)]="mattab">
            <!--Training Tab-->
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tabscontent">
                        <div class="tabtitle">
                            <p class="fs-14">{{'invoice.traineval' | translate}}</p>
                        </div>
                    </div>
                </ng-template>
                <app-trainingroyalty></app-trainingroyalty>
            </mat-tab>
            <!--Technical Tab-->
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tabscontent">
                        <div class="tabtitle">
                            <p class="fs-14">{{'invoice.techeval' | translate}}</p>
                        </div>
                    </div>
                </ng-template>
                <app-technicalroyalty></app-technicalroyalty>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tabscontent">
                        <div class="tabtitle">
                            <p class="fs-14">{{'invoice.techinsta' | translate}}</p>
                        </div>
                    </div>
                </ng-template>
                <app-technicalivms></app-technicalivms>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>